name = "docs-engine"
type = "webpack"
workers_dev = true
account_id = "b54f07a6c269ecca2fa60f1ae4920c99" # cloudflare-docs.workers.dev

[env.production]
workers_dev = false
account_id = "b54f07a6c269ecca2fa60f1ae4920c99" # cloudflare-docs.workers.dev
zone_id = "351cf9fc660523187714fa772ad5ca49"
route = "https://developers.cloudflare.com/docs-engine*"

[site]
bucket = ".docs/public/"
entry-point = ".docs/workers-site"
