<Aside type="note">

If you have an <a href='https://support.cloudflare.com/hc/articles/203471284#h_1l0KGygoBX9QYjNrhAcHjg'>unverified account email address</a>, you will not be able to transfer or register domains. Verify your account email address before proceeding.

</Aside>