<Aside type="note">

If you have an [unverified account email address](https://support.cloudflare.com/hc/articles/203471284#h_1l0KGygoBX9QYjNrhAcHjg), you will not be able to transfer or register domains. Verify your account email address before proceeding.

</Aside>