# Default owners if not more specific match

* @cloudflare/pcx-technical-writing

# More dev-specific files

/.github/ @cloudflare/pcx-content-engineering @kodster28
/.github/CODEOWNERS @cloudflare/pcx-technical-writing @kodster28
/.github/actions/assign-pr/index.js @cloudflare/pcx-technical-writing @kodster28
/src/components/ @cloudflare/pcx-content-engineering @kodster28
*.js @cloudflare/pcx-content-engineering @kodster28
*.ts @cloudflare/pcx-content-engineering @kodster28
*.astro @cloudflare/pcx-content-engineering @kodster28
/src/schemas/tags.ts @cloudflare/pcx-content-engineering @kodster28
/src/util/api.ts @cloudflare/pcx-content-engineering @pedrosousa @kodster28
/src/content/workers-ai-models/ @craigsdennis @cloudflare/pcx-content-engineering @cloudflare/pcx-technical-writing @kodster28
/public/__redirects @cloudflare/pcx-content-engineering @cloudflare/pcx-technical-writing


# AI

/src/content/docs/agents/ @irvinebroque @rita3ko @elithrar @thomasgauvin @threepointone @cloudflare/pcx-technical-writing
/src/content/docs/ai-gateway/ @abhishekkankani @palashgo @thebongy @kathayl @mchenco @cloudflare/pcx-technical-writing
/src/content/docs/workers-ai/ @rita3ko @craigsdennis @markdembo @mchenco @cloudflare/pcx-technical-writing
/src/content/docs/vectorize/ @elithrar @vy-ton @sejoker @mchenco @cloudflare/pcx-technical-writing
/src/content/partials/vectorize/ @elithrar @mchenco @sejoker @cloudflare/pcx-technical-writing
/src/content/release-notes/workers-ai.yaml @kathayl @mchenco @cloudflare/pcx-technical-writing
/src/content/release-notes/ai-gateway.yaml @kathayl @mchenco @cloudflare/pcx-technical-writing
/src/content/release-notes/vectorize.yaml @elithrar @mchenco @sejoker @cloudflare/pcx-technical-writing
/src/content/docs/ai-search/ @rita3ko @irvinebroque @aninibread @cloudflare/pcx-technical-writing

# AI Crawl Control
/src/content/docs/ai-crawl-control/ @cloudflare/pcx-technical-writing @CameronWhiteside
/src/content/changelog/ai-crawl-control/ @cloudflare/pcx-technical-writing @CameronWhiteside
/src/content/partials/ai-crawl-control/ @cloudflare/pcx-technical-writing @CameronWhiteside

# Analytics & Logs

/src/content/docs/analytics/ @jimhawkridge @soheiokamoto @angelampcosta @cloudflare/pcx-technical-writing
/src/content/docs/data-localization/ @soheiokamoto @angelampcosta @cloudflare/pcx-technical-writing
/src/content/docs/logs/ @soheiokamoto @angelampcosta @cloudflare/pcx-technical-writing

# API & Zones

/src/content/docs/pulumi/ @dcpena @cloudflare/pcx-technical-writing
/src/content/docs/tenant/ @dcpena @cloudflare/pcx-technical-writing
/src/content/docs/terraform/ @dcpena @cloudflare/pcx-technical-writing
/src/content/docs/version-management/ @dcpena @cloudflare/pcx-technical-writing

# Browser Rendering API

/src/content/docs/browser-rendering/ @mchenco @cloudflare/pcx-technical-writing @celso @danielgek @kathayl @ToriLindsay

# Changelogs

/src/content/changelog/ @cloudflare/pm-changelogs @cloudflare/pcx-technical-writing
/src/content/changelog/waf/ @cloudflare/firewall @vs-mg @fb1337 @cloudflare/pm-changelogs @cloudflare/pcx-technical-writing
/src/assets/images/changelog/ @cloudflare/pm-changelogs @cloudflare/pcx-technical-writing
/src/assets/images/ @cloudflare/pm-changelogs @cloudflare/pcx-technical-writing

# Cloudflare One

/src/content/docs/cloudflare-one/ @ranbel @cloudflare/pcx-technical-writing
/src/content/docs/cloudflare-one/applications/ @kennyj42 @ranbel @cloudflare/pcx-technical-writing
/src/content/docs/cloudflare-one/identity/ @kennyj42 @ranbel @cloudflare/pcx-technical-writing
/src/content/docs/cloudflare-one/access-controls/ @kennyj42 @ranbel @cloudflare/pcx-technical-writing
/src/content/docs/cloudflare-one/team-and-resources/devices/ @ranbel @cloudflare/pcx-technical-writing
/src/content/docs/cloudflare-one/networks/connectors/cloudflare-tunnel/ @nikitacano @ranbel @cloudflare/pcx-technical-writing
/src/content/docs/cloudflare-one/cloud-and-saas-findings/ @maxvp @cloudflare/pcx-technical-writing
/src/content/docs/cloudflare-one/traffic-policies/ @maxvp @cloudflare/pcx-technical-writing
/src/content/docs/cloudflare-one/remote-browser-isolation/ @deadlypants1973 @cloudflare/pcx-technical-writing
/src/content/docs/cloudflare-one/data-loss-prevention/ @maxvp @cloudflare/pcx-technical-writing
/src/content/docs/cloudflare-one/insights/dex/ @deadlypants1973 @cloudflare/pcx-technical-writing
/src/content/docs/email-security/ @Maddy-Cloudflare @cloudflare/pcx-technical-writing

# Consumer products

/src/content/docs/1.1.1.1/ @RebeccaTamachiro @cloudflare/pcx-technical-writing
/src/content/docs/warp-client/ @ranbel @cloudflare/pcx-technical-writing

# Core platform

/src/content/docs/aegis/ @RebeccaTamachiro @cloudflare/pcx-technical-writing
/src/content/docs/byoip/ @RebeccaTamachiro @cloudflare/pcx-technical-writing
/src/content/docs/china-network/ @pedrosousa @cloudflare/pcx-technical-writing
/src/content/docs/cloudflare-for-platforms/cloudflare-for-saas/ @RebeccaTamachiro @cloudflare/pcx-technical-writing
/src/content/docs/dns/ @RebeccaTamachiro @cloudflare/pcx-technical-writing
/src/content/docs/fundamentals/ @dcpena @cloudflare/pcx-technical-writing
/src/content/docs/learning-paths/ @cloudflare/pcx-technical-writing
/src/content/docs/network-error-logging/ @dcpena @cloudflare/pcx-technical-writing
/src/content/docs/network-interconnect/ @marciocloudflare @cloudflare/pcx-technical-writing
/src/content/docs/notifications/ @dcpena @cloudflare/pcx-technical-writing
/src/content/docs/registrar/ @dcpena @cloudflare/pcx-technical-writing
/src/content/docs/rules/ @pedrosousa @cloudflare/pcx-technical-writing
/src/content/docs/ruleset-engine/ @pedrosousa @cloudflare/pcx-technical-writing
/src/content/docs/log-explorer/ @angelampcosta @cloudflare/pcx-technical-writing

# Developer Platform

/src/content/docs/containers/ @mikenomitch @th0m @cloudflare/pcx-technical-writing @cloudflare/cloudchamber
/src/content/partials/containers/ @mikenomitch @th0m @cloudflare/pcx-technical-writing @cloudflare/cloudchamber
/src/content/docs/d1/ @elithrar @rozenmd @vy-ton @joshthoward @oxyjun @harshil1712 @cloudflare/pcx-technical-writing
/src/content/release-notes/d1.yaml @elithrar @rozenmd @vy-ton @joshthoward @oxyjun @cloudflare/pcx-technical-writing
/src/content/partials/d1/ @elithrar @rozenmd @vy-ton @joshthoward @oxyjun @harshil1712 @cloudflare/pcx-technical-writing
/src/content/docs/ai-crawl-control/ @oxyjun @cloudflare/pcx-technical-writing
/src/content/docs/durable-objects/ @elithrar @vy-ton @joshthoward @oxyjun @harshil1712 @mikenomitch @cloudflare/pcx-technical-writing @cloudflare/workers-runtime-1
/src/content/release-notes/durable-objects.yaml @elithrar @rozenmd @vy-ton @joshthoward @oxyjun @cloudflare/pcx-technical-writing
/src/content/docs/email-routing/ @cloudflare/pcx-technical-writing
/src/content/docs/hyperdrive/ @elithrar @thomasgauvin @sejoker @oxyjun @cloudflare/pcx-technical-writing
/src/content/release-notes/hyperdrive.yaml @elithrar @thomasgauvin @sejoker @oxyjun @cloudflare/pcx-technical-writing
/src/content/partials/hyperdrive/ @elithrar @thomasgauvin @sejoker @oxyjun @cloudflare/pcx-technical-writing
/src/content/release-notes/durable-objects.yaml @elithrar @vy-ton @joshthoward @oxyjun @cloudflare/pcx-technical-writing
/src/content/docs/images/ @ToriLindsay @cloudflare/pcx-technical-writing @renandincer @third774 @deanna-cf
/src/content/docs/pages/ @cloudflare/workers-docs @GregBrimble @WalshyDev @aninibread @irvinebroque @cloudflare/pcx-technical-writing
/src/assets/images/pages/ @cloudflare/workers-docs @GregBrimble @WalshyDev @aninibread @cloudflare/pcx-technical-writing
/src/content/release-notes/pages.yaml @cloudflare/workers-docs @GregBrimble @WalshyDev @aninibread @cloudflare/pcx-technical-writing
/src/content/docs/kv/ @elithrar @thomasgauvin @rts-rob @oxyjun @cloudflare/pcx-technical-writing
/src/content/release-notes/kv.yaml @elithrar @thomasgauvin @rts-rob @oxyjun @cloudflare/pcx-technical-writing
/src/content/partials/kv/ @elithrar @thomasgauvin @rts-rob @oxyjun @cloudflare/pcx-technical-writing
/src/content/docs/pub-sub/ @elithrar @dcpena @cloudflare/pcx-technical-writing
/src/content/docs/queues/ @elithrar @jonesphillip @harshil1712 @mia303 @cloudflare/pcx-technical-writing
/src/content/release-notes/queues.yaml @elithrar @jonesphillip @cloudflare/pcx-technical-writing
/src/content/docs/r2/ @oxyjun @elithrar @jonesphillip @aninibread @harshil1712 @cloudflare/workers-docs @cloudflare/pcx-technical-writing
/src/content/release-notes/r2.yaml @oxyjun @elithrar @aninibread @cloudflare/workers-docs @cloudflare/pcx-technical-writing
/src/content/docs/realtime/ @cloudflare/pcx-technical-writing @cloudflare/realtime @cloudflare/RealtimeKit @roerohan @ravindra-dyte
/src/assets/images/realtime/ @cloudflare/pcx-technical-writing @cloudflare/realtime @cloudflare/RealtimeKit @roerohan @ravindra-dyte
/public/realtime/ @cloudflare/pcx-technical-writing @cloudflare/realtime @cloudflare/RealtimeKit @roerohan @ravindra-dyte
/src/content/docs/stream/ @tsmith512 @ToriLindsay @cloudflare/pcx-technical-writing @renandincer @third774
/src/content/release-notes/stream.yaml @tsmith512 @ToriLindsay @cloudflare/pcx-technical-writing
/src/content/docs/workers/ @cloudflare/workers-docs @GregBrimble @irvinebroque @mikenomitch @korinne @WalshyDev @cloudflare/deploy-config @cloudflare/pcx-technical-writing @cloudflare/wrangler @cloudflare/workers-runtime-1
/src/content/partials/workers/ @cloudflare/workers-docs @GregBrimble @irvinebroque @mikenomitch @WalshyDev @cloudflare/deploy-config @cloudflare/pcx-technical-writing @cloudflare/wrangler @cloudflare/workers-runtime-1
/src/assets/images/workers/ @cloudflare/workers-docs @GregBrimble @irvinebroque @WalshyDev @cloudflare/deploy-config @cloudflare/pcx-technical-writing @cloudflare/wrangler @cloudflare/workers-runtime-1
/src/content/release-notes/workers.yaml @cloudflare/workers-docs @GregBrimble @WalshyDev @aninibread @cloudflare/deploy-config @cloudflare/pcx-technical-writing @irvinebroque @mikenomitch
/src/content/docs/zaraz/ @ToriLindsay @kathayl @bjesus @jonnyparris @simonabadoiu @cloudflare/pcx-technical-writing
/src/content/release-notes/zaraz.yaml @bjesus @jonnyparris @simonabadoiu @cloudflare/pcx-technical-writing
/src/content/docs/workers/ci-cd/ @irvinebroque @aninibread @GregBrimble @cloudflare/pcx-technical-writing @yomna-shousha
/src/content/compatibility-flags/ @irvinebroque @mikenomitch @GregBrimble @cloudflare/pcx-technical-writing
/src/content/docs/workers/wrangler/ @cloudflare/wrangler @irvinebroque @cloudflare/pcx-technical-writing @cloudflare/workers-runtime-1
/src/content/docs/pages/framework-guides/ @igorminar @cloudflare/wrangler @aninibread @GregBrimble @cloudflare/pcx-technical-writing
/src/content/docs/analytics/analytics-engine/ @irvinebroque @elithrar @cloudflare/pcx-technical-writing
/src/content/docs/cloudflare-for-platforms/ @irvinebroque @dinasaur404 @cloudflare/pcx-technical-writing
/src/content/docs/cloudflare-for-platforms/workers-for-platforms/ @irvinebroque @dinasaur404 @cloudflare/deploy-config @cloudflare/pcx-technical-writing
/src/content/docs/workers/observability/ @irvinebroque @mikenomitch @nevikashah @cloudflare/pcx-technical-writing
/src/content/docs/workers/static-assets @irvinebroque @GregBrimble @WalshyDev @cloudflare/deploy-config @cloudflare/pcx-technical-writing
/src/content/docs/workflows/ @elithrar @celso @mia303 @cloudflare/pcx-technical-writing
/src/content/docs/sandbox/ @whoiskatrin @ghostwriternr @cloudflare/pcx-technical-writing @cloudflare/ai-agents

# DDoS Protection

/src/content/docs/ddos-protection/ @patriciasantaana @cloudflare/pcx-technical-writing
/src/content/docs/ddos-protection/change-log/ @patriciasantaana @cloudflare/pcx-technical-writing
/src/content/release-notes/ddos-http.yaml @patriciasantaana @cloudflare/pcx-technical-writing
/src/content/release-notes/ddos-network.yaml @patriciasantaana @cloudflare/pcx-technical-writing

# Docs team areas

/src/content/docs/style-guide/ @dcpena @cloudflare/pcx-technical-writing

# Google tag gateway
/src/content/docs/google-tag-gateway/ @ToriLindsay @kathayl @simonabadoiu @jonnyparris @cloudflare/pcx-technical-writing

# Magic products

/src/content/docs/magic-transit/ @marciocloudflare @cloudflare/pcx-technical-writing
/src/content/docs/magic-firewall/ @Maddy-Cloudflare @cloudflare/pcx-technical-writing
/src/content/docs/magic-network-monitoring/ @marciocloudflare @cloudflare/pcx-technical-writing
/src/content/docs/magic-wan/ @marciocloudflare @cloudflare/pcx-technical-writing
/src/content/docs/magic-cloud-networking/ @marciocloudflare @cloudflare/pcx-technical-writing

# Migration guides

/src/content/docs/migration-guides/ @kimj15 @cloudflare/pcx-technical-writing

# MoQ

/src/content/docs/moq/ @englishm @renandincer @nils-ohlmeier @cloudflare/pcx-technical-writing
/src/content/products/moq.yml @englishm @renandincer @nils-ohlmeier @cloudflare/pcx-technical-writing

# Performance products

/src/content/docs/argo-smart-routing/ @dcpena @cloudflare/pcx-technical-writing
/src/content/docs/automatic-platform-optimization/ @cloudflare/pcx-technical-writing
/src/content/docs/cache/ @angelampcosta @cloudflare/pcx-technical-writing
/src/content/docs/health-checks/ @angelampcosta @cloudflare/pcx-technical-writing
/src/content/docs/load-balancing/ @angelampcosta @cloudflare/pcx-technical-writing
src/content/docs/smart-shield/ @RebeccaTamachiro @cloudflare/pcx-technical-writing
/src/content/docs/spectrum/ @angelampcosta @cloudflare/pcx-technical-writing
/src/content/docs/speed/ @angelampcosta @cloudflare/pcx-technical-writing
/src/content/docs/web3/ @cloudflare/pcx-technical-writing

# Privacy

/src/content/docs/key-transparency/ @cloudflare/pcx-technical-writing
/src/content/docs/privacy-gateway/ @cloudflare/pcx-technical-writing

# Radar

/src/content/docs/radar/ @tiagoad @andre-j3sus @cloudflare/pcx-technical-writing
/src/content/release-notes/radar.yaml @tiagoad @andre-j3sus @cloudflare/pcx-technical-writing

# Reference architecture

/src/content/docs/reference-architecture/ @securitypedant @haleycode @cloudflare/pcx-technical-writing
/src/assets/images/reference-architecture/ @securitypedant @haleycode @cloudflare/pcx-technical-writing

# Security products

/src/content/docs/api-shield/ @patriciasantaana @cloudflare/pcx-technical-writing
/src/content/docs/bots/ @patriciasantaana @cloudflare/pcx-technical-writing
/src/content/docs/dmarc-management/ @Maddy-Cloudflare @cloudflare/pcx-technical-writing
/src/content/docs/firewall/ @pedrosousa @cloudflare/firewall @cloudflare/pcx-technical-writing
/src/content/docs/page-shield/ @pedrosousa @cloudflare/pcx-technical-writing
/src/content/docs/secrets-store/ @RebeccaTamachiro @cloudflare/pcx-technical-writing
/src/content/docs/security-center/ @cloudflare/pcx-technical-writing
/src/content/docs/ssl/ @RebeccaTamachiro @cloudflare/pcx-technical-writing
/src/content/docs/waf/ @pedrosousa @cloudflare/firewall @cloudflare/pcx-technical-writing
/src/content/docs/waf/change-log/ @pedrosousa @cloudflare/firewall @vs-mg @cloudflare/pcx-technical-writing
/src/content/docs/cloudflare-challenges/ @patriciasantaana @cloudflare/pcx-technical-writing

# Support

/src/content/docs/support/ @zeinjaber @ngayerie @cloudflare/pcx-technical-writing @cloudflare/customer-support
/src/assets/images/support/ @zeinjaber @ngayerie @cloudflare/pcx-technical-writing @cloudflare/customer-support
/src/content/docs/billing/ @zeinjaber @ngayerie @simon-says @cloudflare/customer-support @cloudflare/pcx-technical-writing

# Turnstile

/src/content/docs/turnstile/ @migueldemoura @punkeel @worenga @patriciasantaana @cloudflare/pcx-technical-writing

# Waiting Room

/src/content/docs/waiting-room/ @angelampcosta @cloudflare/pcx-technical-writing

# Web Analytics

/src/content/docs/web-analytics/ @angelampcosta @cloudflare/pcx-technical-writing

# AI Prompts for Cloudflare Workers development
/public/workers/prompts/ @jahands @Maximo-Guk @jbwcloudflare @cloudflare/pcx-technical-writing
