# -*- conf-mode -*-
setuptools>=51.1.0    # Require this first, to prevent later errors
#
argon2-cffi>=21.3.0    # For the Argon2 password hasher option
beautifulsoup4>=4.11.1    # Only used in tests
bibtexparser>=1.2.0    # Only used in tests
bleach>=6
types-bleach>=6
celery>=5.2.6
coverage>=4.5.4,<5.0    # Coverage 5.x moves from a json database to SQLite.  Moving to 5.x will require substantial rewrites in ietf.utils.test_runner and ietf.release.views
decorator>=5.1.1
types-decorator>=5.1.1
defusedxml>=0.7.1    # for TastyPie when using xml; not a declared dependency
Django>4.2,<5
django-analytical>=3.1.0
django-bootstrap5>=21.3
django-celery-beat>=2.3.0
django-csp>=3.7
django-cors-headers>=3.11.0
django-debug-toolbar>=3.2.4
django-markup>=1.5    # Limited use - need to reconcile against direct use of markdown
django-oidc-provider>=0.8    # 0.8 dropped Django 2 support
django-referrer-policy>=1.0
django-simple-history>=3.0.0
django-stubs>=4.2.0    # The django-stubs version used determines the the mypy version indicated below
django-tastypie>=0.14.5    # Version must be locked in sync with version of Django
django-vite>=2.0.2
django-webtest>=1.9.10    # Only used in tests
django-widget-tweaks>=1.4.12
djlint>=1.0.0    # To auto-indent templates via "djlint --profile django --reformat"
docutils>=0.18.1    # Used only by dbtemplates for RestructuredText
types-docutils>=0.18.1
factory-boy>=3.2.1
github3.py>=3.2.0
gunicorn>=20.1.0
hashids>=1.3.1
html2text>=2020.1.16    # Used only to clean comment field of secr/sreq
html5lib>=1.1    # Only used in tests
inflect>= 6.0.2
jsonfield>=3.1.0    # for SubmissionCheck.  This is https://github.com/bradjasper/django-jsonfield/.
jwcrypto>=1.2    # for signed notifications - this is aspirational, and is not really used.
logging_tree>=1.9    # Used only by the showloggers management command
lxml>=4.8.0,<5
markdown>=3.3.6
types-markdown>=3.3.6
mock>=4.0.3    # Used only by tests, of course
types-mock>=4.0.3
mypy~=1.2.0    # Version requirements determined by django-stubs.
oic>=1.3    # Used only by tests
Pillow>=9.1.0
psycopg2>=2.9.6
pyang>=2.5.3
pyflakes>=2.4.0
pyopenssl>=22.0.0    # Used by urllib3.contrib, which is used by PyQuery but not marked as a dependency
pyquery>=1.4.3
python-dateutil>=2.8.2
types-python-dateutil>=2.8.2
python-magic==0.4.18    # Versions beyond the yanked .19 and .20 introduce form failures
pymemcache>=4.0.0  # for django.core.cache.backends.memcached.PyMemcacheCache 
python-mimeparse>=1.6    # from TastyPie
pytz==2022.2.1   # Pinned as changes need to be vetted for their effect on Meeting fields
requests>=2.27.1
types-requests>=2.27.1
requests-mock>=1.9.3
rfc2html>=2.0.3
scout-apm>=2.24.2
selenium>=3.141.0,<4.0
tblib>=1.7.0    # So that the django test runner provides tracebacks
tlds>=2022042700    # Used to teach bleach about which TLDs currently exist
tqdm>=4.64.0
Unidecode>=1.3.4
weasyprint>=59
xml2rfc>=3.12.4
xym>=0.6,<1.0
