{{- if in .Destination ".gif" -}}
<img src="{{ .Destination | safeURL }}" alt="{{ $.Text }}" {{ with .Title }} title="{{ . }}"{{ end }}/>
{{- else -}}
{{- $img := resources.Get .Destination -}}
{{- with $img -}}
{{- if gt $img.Width 900 -}}
{{- $img = $img.Resize ("900x q70") -}}
{{- else -}}
{{- $img = $img.Resize (printf "%dx%d q50" $img.Width $img.Height) -}}
{{- end -}}
<figure class="image-caption">
    <img alt="{{ $.Text }}" src="{{ $img.RelPermalink }}" loading="lazy" class="image-figure"
    height="{{- $img.Height -}}" width="{{- $img.Width -}}"
    style="aspect-ratio: {{- div $img.Width $img.Height -}};width: 100%;height: auto;"/>
    <figcaption>{{ with $.Title | safeHTML }}{{ . }}{{ end }}</figcaption>
</figure>
{{- end -}}
{{- end -}}
