{{- if not (urls.Parse .Destination).IsAbs -}}
{{- $img := resources.Get .Destination -}}
<!-- This value will only be computed if the image lives in the top-level /assets folder -->

{{- with $img -}}
<!-- .gifs and .svgs can't be resized the same way -->
{{- if and (not (in $.Destination ".gif")) (ne .MediaType.SubType "svg") -}}
    {{- $img = $img.Resize (printf "%dx%d q75" $img.Width $img.Height) -}}
{{- end -}}

<!-- exclude height and width attributes from svgs -->
{{- if ne .MediaType.SubType "svg" -}}
<figure class="image-caption">
    <img alt="{{ $.Text }}" src="{{ $img.RelPermalink }}" loading="lazy" class="image-figure"
    height="{{- $img.Height -}}" width="{{- $img.Width -}}"
    style="aspect-ratio: {{- div (add $img.Width .01) $img.Height -}};height: auto;"/>
    <figcaption>{{ with $.Title | safeHTML }}{{ . }}{{ end }}</figcaption>
</figure>
{{- else -}}
<figure class="image-caption">
    <img alt="{{ $.Text }}" src="{{ $img.RelPermalink }}" loading="lazy" class="image-figure"/>
    <figcaption>{{ with $.Title | safeHTML }}{{ . }}{{ end }}</figcaption>
</figure>
{{- end -}}

{{- else -}}
<!-- If the image lives w/in a product folder, only apply lazy loading -->
<p class="md__image">
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" loading="lazy"
    {{ with .Title }} title="{{ . }}"{{ end }} />
</p>
{{- end -}}
{{- else -}}
<!-- If the image URL has a scheme (e.g., https://), do not perform any optimizations -->
<p class="md__image">
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" loading="lazy"
    {{ with .Title }} title="{{ . }}"{{ end }} />
</p>
{{- end -}}