<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>organization</key>
	<string>yourorganization</string>
	<key>auto_connect</key>
	<integer>120</integer>
	<key>onboarding</key>
	<false/>
</dict>
</plist>
