.Breadcrumbs {
  display: inline-flex;
  font-size: .9em;
  color: var(--gray-4);
  font-weight: 500;
}

.Breadcrumbs,
.Breadcrumbs--item {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Breadcrumbs--item + .Breadcrumbs--item::before {
  content: "❯";
  margin: 0 .25em;
  padding: 0 .3em;
  opacity: .4;
  font-weight: 900;
}
