.ErrorPage {
  --extra-vertical-padding: var(--header-height, 0);
  --vertical-padding: var(--section-vertical-padding, 3em);

  display: flex;
  align-items: center;
  justify-content: center;
}

.ErrorPage--content {
  text-align: center;
  padding:
    calc(var(--extra-vertical-padding) + var(--vertical-padding))
    1em
    calc(var(--extra-vertical-padding) / 2  + var(--vertical-padding));
}

.ErrorPage--title {
  line-height: 1;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: .333em;
}

@media (max-width: 768px) {
  .ErrorPage--title {
    font-size: 2em;
  }
}

.ErrorPage--description {
  margin-bottom: 2em;
}

.ErrorPage--action {
  font-size: 1.3em;
}
