/* Note: this component intentionally uses px to avoid rounding issues */

.ThemeToggle {
  width: 50px;
  height: 28px;
  border-radius: 99em;
}

.ThemeToggle--input {
  position: absolute;
  opacity: 0;
  top: -9999em;
}

.ThemeToggle--toggle {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 99em;
  background: rgba(var(--gray-6-rgb), .7);
  cursor: pointer;
  box-shadow: 0 0 0 var(--focus-size) var(--focus-color);
}

.ThemeToggle--input:not([is-focus-visible]) ~ .ThemeToggle--toggle {
  --focus-size: 0;
}

.ThemeToggle--input:checked ~ .ThemeToggle--toggle,
[theme="dark"] .ThemeToggle[data-is-loading="true"] .ThemeToggle--toggle {
  background: rgba(var(--gray-2-rgb), .7);
}

.ThemeToggle--toggle-handle {
  position: absolute;
  top: 3px;
  left: 3px;
  --size: 22px;
  width: var(--size);
  height: var(--size);
  border-radius: 99em;
  background: #fff;
  box-shadow: 0 .15em .3em rgba(0, 0, 0, .15), 0 .2em .5em rgba(0, 0, 0, .3);
}

.ThemeToggle--input:checked ~ .ThemeToggle--toggle .ThemeToggle--toggle-handle,
[theme="dark"] .ThemeToggle[data-is-loading="true"] .ThemeToggle--toggle-handle {
  left: auto;
  right: 3px;
  background: var(--gray-00);
  border: 1px solid #000;
  box-shadow: 0 .5px rgba(255, 255, 255, .16);
}

.ThemeToggle--toggle-handle-icon {
  position: absolute;
  top: 6px;
  width: 16px;
  height: 16px;
}

.ThemeToggle--sun,
.ThemeToggle--moon {
  pointer-events: none;
}

.ThemeToggle--sun {
  left: 6px;
}

@media (max-width: 320px) {
  .ThemeToggle--sun {
    /* Work around odd iOS Safari alignment bug */
    transform: translateX(-.1px);
  }
}

.ThemeToggle--moon {
  right: 6px;
  color: var(--gray-3);
}

.ThemeToggle--sun,
.ThemeToggle--input:checked ~ .ThemeToggle--toggle .ThemeToggle--moon,
[theme="dark"] .ThemeToggle[data-is-loading="true"] .ThemeToggle--moon {
  color: var(--orange);
}

.ThemeToggle--input:checked ~ .ThemeToggle--toggle .ThemeToggle--sun,
[theme="dark"] .ThemeToggle[data-is-loading="true"] .ThemeToggle--sun {
  color: rgba(var(--gray-6-rgb), .8);
}

[theme-is-changing] * {
  transition: none !important;
}
