* {
  margin: 0;
}

img, svg {
  display: block;
}

img {
  max-width: 100%;
}

svg {
  height: 100%;
  width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a, button, input, select, textarea {
  -webkit-tap-highlight-color: transparent;
}
