<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enable</key>
	<true />
	<key>gateway_unique_id</key>
	<string>your_gateway_doh_subdomain</string>
	<key>organization</key>
	<string>yourorganization</string>
	<key>service_mode</key>
	<string>warp</string>
	<key>support_url</key>
	<string>https://support.example.com</string>
</dict>
</plist>
