---
_build:
  publishResources: false
  render: never
  list: never
---

{{<Aside type="note">}}

If you have an [unverified account email address](/fundamentals/setup/account/verify-email-address/), you will not be able to transfer or register domains. Verify your account email address before proceeding.

{{</Aside>}}
