---
import { Code } from "@astrojs/starlight/components";

const json = `[
{ "label":"PERSIAN CAT" ,"score":0.4071170687675476 },
{ "label":"PEKINESE", "score":0.23444877564907074 },
{ "label":"FEATHER BOA", "score":0.22562485933303833 },
{ "label":"POMERANIAN", "score":0.033316344022750854 },
{ "label":"JAPANESE SPANIEL", "score":0.024184171110391617 }
]`;
---

<h2>Response</h2>

<Code code={json} lang="json" />
