---
import { Code } from "@astrojs/starlight/components";

const json = `{
    "summary": "Workers AI allows you to run machine learning models."
}`;
---

<h2>Response</h2>

<Code code={json} lang="json" />
