.tippy-box {
	background-color: #3d3d3d !important;
	border: 1px solid #595959 !important;
	color: #e6e6e6 !important;
	font-size: 0.75rem !important;
}

.tippy-box .tippy-content {
	padding: 2px 7px !important;
}

.tippy-box .tippy-arrow {
	display: none !important;
}
