<!doctype html>
<html lang="{{ .Site.LanguageCode }}" theme="light"  {{- with $.Page.Params.structured_data -}}{{- if eq $.Page.Params.pcx_content_type "faq" -}}itemscope itemtype="https://schema.org/FAQPage"{{- end -}}{{- end -}} is-docs-page js-focus-visible-polyfill-available>
  <head>
    <!-- OneTrust Cookies Consent Notice start for developers.cloudflare.com -->
      <script type="text/javascript" src="https://cdn.cookielaw.org/consent/d3bba612-bde9-4daa-93e3-a78dab7d1a86-test/OtAutoBlock.js" ></script>
      <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="d3bba612-bde9-4daa-93e3-a78dab7d1a86-test" ></script>
      <script type="text/javascript">
      function OptanonWrapper() { }
      </script>
    <!-- OneTrust Cookies Consent Notice end for developers.cloudflare.com -->

    {{- partial "head.meta" (dict "Context" . "Product" .Section) -}}

    <link rel="stylesheet preconnect" href="/style.css" />
    {{- block "styles" . -}}{{- end -}}

    {{- partial "script" (dict "src" "theme.ts" "inline" true "format" "iife") -}}
    {{- partial "script" (dict "src" "main.ts" "defer" true) -}}
    {{- block "scripts" . -}}{{- end -}}

    <!-- <script>var $$r=document.documentElement;$$r.className='';!function(){var a=localStorage.getItem("dark");(a=a&&+a)||a||window.matchMedia&&window.matchMedia("(prefers-color-scheme: dark)").matches,$$r.classList.toggle("dark",a=!!a),localStorage.setItem("dark",+a+"")}()</script> -->
    <script data-source="docs" defer src="https://feedback.developers.cloudflare.com/sdk.js"></script>
    <link rel="preload" href="https://feedback.developers.cloudflare.com/sdk.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript><link rel="stylesheet" href="https://feedback.developers.cloudflare.com/sdk.css"/></noscript>
  </head>
  <body>
    {{- with $.Page.Params.structured_data -}}{{- if or (eq $.Page.Params.pcx_content_type "how-to") (eq $.Page.Params.pcx_content_type "tutorial") -}}<div itemscope itemtype="https://schema.org/HowTo">{{- end -}}{{- end -}}
    {{- block "main" . -}}{{- end -}}
    {{- with $.Page.Params.structured_data -}}{{- if or (eq $.Page.Params.pcx_content_type "how-to") (eq $.Page.Params.pcx_content_type "tutorial") -}}</div>{{- end -}}{{- end -}}
    {{- partial "gtag" -}}
    {{- partial "littlefoot" -}}
  </body>
</html>
