{{ define "main" }}
  {{- $type := default "overview" .Params.type -}}
  {{- $filename := .RelPermalink -}}

  <div class="DocsPage">
    {{- partial "skipcontent" . -}}
    
    {{- partial "topbar.search" . -}}

   

        <div class="SiteHeader--theme-toggle">
          {{- partialCached "topbar.theme" . -}}

    <main class="DocsBody">
      <div id="docs-content" data-reach-skip-nav-content></div>

      <div class="DocsContent" id="main" page-type="{{ $type }}">
        <article class="DocsMarkdown">
          <h1>{{ .Title }}</h1>
          <br>
          {{- $learningPath := (index .Site.Data.learning_paths $filename) -}}
          
          {{- if $learningPath -}}
            {{- $learningPath.title -}}
            <br>
            {{- $learningPath.description -}}

            {{- range $index, $module := $learningPath.modules -}}
            {{.title}}
            <br>
            {{.description}}
            <br>
            {{- if eq $index 0 -}}
            <details open>
            {{ else }}
            <details>
            {{ end }}
            <summary>Contains {{len .pages}} units</summary>
            <div>
                <ul>
                {{- range .pages -}}
                {{ if isset . "external_link_title" }}
                    <li><a href="{{.url_path}}">{{.external_link_title}}</a></li>
                {{ else }}
                {{ with $.GetPage (replaceRE "/$" "" .url_path) }}
                
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                {{- end -}}
                {{- end -}}
                {{- end -}}
                </ul>

            </div>
            </details>
            

            {{ end }}
          {{ else }}

          Does not match the full url path of an existing learning path.

          {{end}}
         

          



        </article>
      </div>
    </main>

    {{ partial "footer" . }}
  </div>
{{ end }}