{{ define "main" }}
  <div class="DocsPage">
    {{- partial "skipcontent" . -}}
    {{- partial "topbar.mobile" . -}}
    {{- partial "learning.module.sidebar.nav" . -}}

    <div class="DocsToolbar">
      {{- partial "topbar.search" . -}}
      {{- partial "topbar.tools" . -}}
    </div>

    <main class="DocsBody">
      {{ partial "sidebar.toc" . }}

      <div id="docs-content" data-reach-skip-nav-content></div>
      {{- partial "breadcrumbs" . -}}

      <div class="DocsContent" id="main" page-type="document">
        
        <article class="DocsMarkdown">
          <h1 id="{{.Title | urlize }}">{{.Title}}</h1>
          <p class="timeEstimate">{{- partialCached "time.icon" . -}}&nbsp;&nbsp;{{- .ReadingTime -}}&nbsp;min read</p>
          {{- .Content -}}
          <br/>
          <br/>
          <br/>
          {{- partial "progress.button" . -}}
        </article>
      </div>
    </main>
    {{ partial "footer" . }}
  </div>
{{ end }}