{{ define "main" }}
<div class="DocsPage">
  {{- partial "skipcontent" . -}}
  {{- partial "topbar.mobile" . -}}
  {{- partial "sidebar.nav" . -}}

  <div class="DocsToolbar">
    {{- partial "topbar.search" . -}}
    {{- partial "topbar.tools" . -}}
  </div>

  <main class="DocsBody">
    {{ partial "sidebar.toc" . }}

    <div id="docs-content" data-reach-skip-nav-content></div>
    {{- partial "breadcrumbs" . -}}
    <div class="DocsContent" id="main" page-type="document">
      <article class="DocsMarkdown">
          <h1>{{ .Title }}</h1>
          <div class="DocsMarkdown-beta">
          {{ $now := time.Now }}
          {{ range .Params.model.properties }}
            {{ if and (eq .property_id "beta") (eq .value "true") }}
              <div class="DocsMarkdown--pill DocsMarkdown--pill-beta">Beta</div>
            {{ end }}
            {{ if and (eq .property_id "lora") (eq .value "true") }}
              <div class="DocsMarkdown--pill DocsMarkdown--pill-early-access"><a href="/workers-ai/fine-tunes/">LoRA</a></div>
            {{ end }}
            {{ if and (eq .property_id "function_calling") (eq .value "true") }}
              <div class="DocsMarkdown--pill DocsMarkdown--pill-alpha" style="width: max-content"><a href="/workers-ai/function-calling/">Function Calling</a></div>
            {{ end }}
            {{ if (eq .property_id "planned_deprecation_date") }}
              {{ if $now.After (time.AsTime .value) }}
                <div class="DocsMarkdown--pill DocsMarkdown--pill-deprecated">This model has been deprecated since {{.value}}</div>
              {{ else }}
                <div class="DocsMarkdown--pill DocsMarkdown--pill-deprecated">Deprecating on {{.value}}</div>
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
        {{ partial "models/header.md" . | markdownify }}
        {{- .Content -}}
        {{ partial "models/footer.md" . | markdownify }}
      </article>
    </div>
  </main>

  {{ partial "footer" . }}
</div>
{{ end }}
