{{ define "main" }}
  {{- $type := default "overview" .Params.type -}}
  {{- $DATA := (index $.Site.Data .Section) -}}
  {{- $title := default (replace (title .Section) "-" " ") $DATA.overview.title -}}
  {{- $beta := $DATA.overview.beta -}}
  {{- $shortDescription := $DATA.overview.short_description -}}

  <div class="DocsPage">
    {{- partial "skipcontent" . -}}
    {{- partial "topbar.mobile" . -}}
    {{- partial "sidebar.nav" . -}}

    <div class="DocsToolbar">
      {{- partial "topbar.search" . -}}
      {{- partial "topbar.tools" . -}}
    </div>

    <main class="DocsBody">
      <div id="docs-content" data-reach-skip-nav-content></div>

      <div class="DocsContent" id="main" page-type="{{ $type }}">
        <article class="DocsMarkdown">
            {{ if $beta }}
                <div class="DocsMarkdown-beta">
                    <h1>{{- $title -}}</h1>
                    <div class="DocsMarkdown--beta-pill">Beta</div>
                </div>
            {{ else }}
                <h1 id="{{ $title }}">{{- $title -}}</h1>
            {{ end }}
            <div class="DocsMarkdown--description">
                {{- $shortDescription -}}
            </div>
            {{- .Content -}}
        </article>
      </div>
    </main>
    {{ partial "footer" . }}
  </div>
{{ end }}