---
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/SocialIcons.astro";

const links = Object.entries({
	Products: "/products/",
	Learning: "/learning-paths/",
	Status: "https://www.cloudflarestatus.com/",
	Support: "/support/contacting-cloudflare-support/",
	Login: "https://dash.cloudflare.com",
});
---

<div class="items-center hidden lg:flex mx-auto">
	{
		links.map(([text, href]) => (
			<a
				href={href}
				class="px-4 no-underline text-[--sl-color-text] font-medium"
			>
				<span>{text}</span>
			</a>
		))
	}
</div>
<Default {...Astro.props}><slot /></Default>

<style>
	:root {
		--sl-icon-color: var(--sl-color-text);
	}
</style>
