---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { ProductFeatures } from "~/components";
---

<StarlightPage
	frontmatter={{
		title: "Plans",
		template: "splash",
		description:
			"View the products and features available to you based on your Cloudflare plan.",
	}}
>
	<p>
		A feature-level companion to our <a href="https://www.cloudflare.com/plans/"
			>Plans and Pricing page</a
		>
	</p>
	<p style="font-size:.85em;margin-top:-.25em;">
		(may not include <a href="#missing-features">all features</a>)
	</p>

	<h2 id="account">Account</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="account" additional_descriptions />
	</div>

	<h2 id="analytics">Analytics</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="analytics" additional_descriptions />
	</div>

	<h2 id="cache">Cache</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="cache" additional_descriptions />
	</div>

	<h2 id="dns">DNS</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="dns" additional_descriptions />
	</div>

	<h2 id="email">Email</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="email" additional_descriptions />
	</div>

	<h2 id="global_configurations">Global configurations</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="global_configurations" additional_descriptions />
	</div>

	<h2 id="network">Network</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="network" additional_descriptions />
	</div>

	<h2 id="rules">Rules</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="rules" additional_descriptions />
	</div>

	<h2 id="scrapeshield">Scrape Shield</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="scrape_shield" additional_descriptions />
	</div>

	<h2 id="security">Security</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="security" additional_descriptions />
	</div>

	<h2 id="spectrum">Spectrum</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="spectrum" additional_descriptions />
	</div>

	<h2 id="speed">Speed</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="speed" additional_descriptions />
	</div>

	<h2 id="ssl">SSL/TLS</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="ssl" additional_descriptions />
	</div>

	<h2 id="support">Support</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="support" additional_descriptions />
	</div>

	<h2 id="traffic">Traffic</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="traffic" additional_descriptions />
	</div>

	<h2 id="web3">Web3</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="web3" additional_descriptions />
	</div>

	<h2 id="zaraz">Zaraz</h2>
	<div class="grid grid-cols-2 *:!mt-0">
		<ProductFeatures id="zaraz" additional_descriptions />
	</div>

	<h2 id="missing-features">Missing features</h2>

	<p>
		This page is meant to be a companion to our <a
			href="https://www.cloudflare.com/plans/">Plans and Pricing page</a
		>, but is not meant to be comprehensive. In the event of any inconsistency
		between this page and the Plans and Pricing page, the Plans and Pricing page
		controls.
	</p>
	<p>Refer to the following locations for more information:</p>
	<ul>
		<li>
			<strong>Developer products</strong>: Refer to the <a
				href="https://www.cloudflare.com/plans/developer-platform/"
				>Developer Platform pricing page</a
			> or individual <a href="/products/">product docs</a> to learn more about plans
			and pricing.
		</li>
		<li>
			<strong>Zero Trust products</strong>: Refer to the <a
				href="https://www.cloudflare.com/plans/zero-trust-services/"
				>Zero Trust pricing</a
			> page.
		</li>
		<li>
			<strong>Other products</strong>: Refer to the individual <a
				href="/products/">product docs</a
			> to learn more about plans and pricing.
		</li>
	</ul>
</StarlightPage>
