---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<StarlightPage frontmatter={{ title: "Sponsorships", template: "splash" }}>
	<p>
		Cloudflare powers over 20 million Internet properties, including these
		world-changing open-source projects.
	</p>
	<div class="sponsorship-grid">
		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://yarnpkg.com/en/"
			>
				<svg viewBox="0 0 1154.8 518" xmlns="http://www.w3.org/2000/svg"
					><g fill="#2c8ebb"
						><path
							d="m718.6 257.8c-8 27.6-20.8 47.6-35.2 63.6v-140.4c0-9.6-8.4-17.6-21.6-17.6-5.6 0-10.4 2.8-10.4 6.8 0 2.8 1.6 5.2 1.6 12.8v64.4c-4.8 28-16.8 54-32.8 54-11.6 0-18.4-11.6-18.4-33.2 0-33.6 4.4-51.2 11.6-80.8 1.6-6 13.2-22-6.4-22-21.2 0-18.4 8-21.2 14.8 0 0-13.4 47.6-13.4 90 0 34.8 14.6 57.6 41.4 57.6 17.2 0 29.6-11.6 39.2-27.6v50.8c-26.4 23.2-49.6 43.6-49.6 84 0 25.6 16 46 38.4 46 20.4 0 41.6-14.8 41.6-56.8v-69.2c21.6-18.8 44.8-42.4 58.4-88.8.4-1.6.4-3.6.4-4 0-7.6-7.6-16.4-14-16.4-4 0-7.2 3.6-9.6 12zm-76.8 198c-6.4 0-10.4-9.6-10.4-22 0-24 8.8-39.2 21.6-52.4v42.8c0 7.6 1.6 31.6-11.2 31.6z"
						></path><path
							d="m833.4 301c-9.6 0-13.6-9.6-13.6-18.4v-66c0-9.6-8.4-17.6-21.6-17.6-5.6 0-10.4 2.8-10.4 6.8 0 2.8 1.6 5.2 1.6 12.8v61.6c-4.4 11.2-11.6 20.8-22.4 20.8-14 0-22.8-12-22.8-32.8 0-57.6 35.6-83.6 66-83.6 4 0 8 .8 11.6.8 4 0 5.2-2.4 5.2-9.2 0-10.4-7.6-16.8-18.4-16.8-48.8 0-95.2 40.8-95.2 107.6 0 34 16.4 60.4 47.6 60.4 15.2 0 26.4-7.2 34.4-16.4 6 9.6 16.8 16.4 30.8 16.4 34.4 0 50.4-36 57.2-62.4.4-1.6.4-2.4.4-2.8 0-7.6-7.6-16.4-14-16.4-4 0-8 3.6-9.6 12-3.6 17.6-10.8 43.2-26.8 43.2z"
						></path><path
							d="m949 327.4c34.4 0 50-36 57.2-62.4 0-.8.4-1.6.4-2.8 0-7.6-7.6-16.4-14-16.4-4 0-8 3.6-9.6 12-3.6 17.6-10.4 43.2-28.8 43.2-10.8 0-16-10.4-16-21.6 0-40 18-87.2 18-92 1.6-9.2-14.4-22.4-19.2-22.4h-20.8c-4 0-8 0-21.2-1.6-4.4-16.4-15.6-21.2-25.2-21.2-10.4 0-20 7.2-20 18.4 0 11.6 7.2 20 17.2 25.6-.4 20.4-2 53.6-6.4 69.6-3.6 13.6 17.2 28 22.4 11.2 7.2-23.2 9.6-58 10-73.6h34.8c-12.8 34.4-20 62.8-20 88.4 0 35.2 22.4 45.6 41.2 45.6z"
						></path><path
							d="m984.6 309.8c0 14.8 11.2 17.6 19.2 17.6 11.6 0 11.2-9.6 11.2-17.2v-58.4c2.8-31.6 27.6-66 39.2-66 7.6 0 8.4 10.4 8.4 22.8v81.2c0 20.4 12.4 37.6 33.6 37.6 34.4 0 51.4-36 58.2-62.4.4-1.6.4-2.4.4-2.8 0-7.6-7.6-16.4-14-16.4-4 0-8 3.6-9.6 12-3.6 17.6-11.8 43.2-27.8 43.2-10.4 0-10.4-14.8-10.4-18.4v-82.8c0-18.4-6.4-40.4-33.2-40.4-19.6 0-34 17.2-44.8 39.6v-18c0-9.6-8.4-17.6-21.6-17.6-5.6 0-10.4 2.8-10.4 6.8 0 2.8 1.6 5.2 1.6 12.8zm-725.6-309.8c143 0 259 116 259 259s-116 259-259 259-259-116-259-259 116-259 259-259z"
						></path></g
					><path
						d="m435.2 337.5c-1.8-14.2-13.8-24-29.2-23.8-23 .3-42.3 12.2-55.1 20.1-5 3.1-9.3 5.4-13 7.1.8-11.6.1-26.8-5.9-43.5-7.3-20-17.1-32.3-24.1-39.4 8.1-11.8 19.2-29 24.4-55.6 4.5-22.7 3.1-58-7.2-77.8-2.1-4-5.6-6.9-10-8.1-1.8-.5-5.2-1.5-11.9.4-10.1-20.9-13.6-23.1-16.3-24.9-5.6-3.6-12.2-4.4-18.4-2.1-8.3 3-15.4 11-22.1 25.2-1 2.1-1.9 4.1-2.7 6.1-12.7.9-32.7 5.5-49.6 23.8-2.1 2.3-6.2 4-10.5 5.6h.1c-8.8 3.1-12.8 10.3-17.7 23.3-6.8 18.2.2 36.1 7.1 47.7-9.4 8.4-21.9 21.8-28.5 37.5-8.2 19.4-9.1 38.4-8.8 48.7-7 7.4-17.8 21.3-19 36.9-1.6 21.8 6.3 36.6 9.8 42 1 1.6 2.1 2.9 3.3 4.2-.4 2.7-.5 5.6.1 8.6 1.3 7 5.7 12.7 12.4 16.3 13.2 7 31.6 10 45.8 2.9 5.1 5.4 14.4 10.6 31.3 10.6h1c4.3 0 58.9-2.9 74.8-6.8 7.1-1.7 12-4.7 15.2-7.4 10.2-3.2 38.4-12.8 65-30 18.8-12.2 25.3-14.8 39.3-18.2 13.6-3.3 22.1-15.7 20.4-29.4zm-23.8 14.7c-16 3.8-24.1 7.3-43.9 20.2-30.9 20-64.7 29.3-64.7 29.3s-2.8 4.2-10.9 6.1c-14 3.4-66.7 6.3-71.5 6.4-12.9.1-20.8-3.3-23-8.6-6.7-16 9.6-23 9.6-23s-3.6-2.2-5.7-4.2c-1.9-1.9-3.9-5.7-4.5-4.3-2.5 6.1-3.8 21-10.5 27.7-9.2 9.3-26.6 6.2-36.9.8-11.3-6 .8-20.1.8-20.1s-6.1 3.6-11-3.8c-4.4-6.8-8.5-18.4-7.4-32.7 1.2-16.3 19.4-32.1 19.4-32.1s-3.2-24.1 7.3-48.8c9.5-22.5 35.1-40.6 35.1-40.6s-21.5-23.8-13.5-45.2c5.2-14 7.3-13.9 9-14.5 6-2.3 11.8-4.8 16.1-9.5 21.5-23.2 48.9-18.8 48.9-18.8s13-39.5 25-31.8c3.7 2.4 17 32 17 32s14.2-8.3 15.8-5.2c8.6 16.7 9.6 48.6 5.8 68-6.4 32-22.4 49.2-28.8 60-1.5 2.5 17.2 10.4 29 43.1 10.9 29.9 1.2 55 2.9 57.8.3.5.4.7.4.7s12.5 1 37.6-14.5c13.4-8.3 29.3-17.6 47.4-17.8 17.5-.3 18.4 20.2 5.2 23.4z"
						fill="#fff"></path></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://yarnpkg.com/en/"
			>
				<h3>Yarn</h3>
			</a>
			<div class="sponsorship-description">
				<p>
					A package manager for Node that creates a lockfile for dependencies
					and cache’s packages for future projects.
				</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://yarnpkg.com/en/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/yarnpkg/yarn">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://momentjs.com/"
			>
				<svg
					height="2500"
					preserveAspectRatio="xMidYMid"
					viewBox="0 0 256 256"
					width="2500"
					xmlns="http://www.w3.org/2000/svg"
					><g fill-rule="evenodd"
						><path
							d="m128 256c70.692 0 128-57.308 128-128s-57.308-128-128-128-128 57.308-128 128 57.308 128 128 128zm0-19.2c-60.089 0-108.8-48.711-108.8-108.8s48.711-108.8 108.8-108.8 108.8 48.711 108.8 108.8-48.711 108.8-108.8 108.8z"
							fill="#376660"></path><path
							d="m128 230.4c56.554 0 102.4-45.846 102.4-102.4s-45.846-102.4-102.4-102.4-102.4 45.846-102.4 102.4 45.846 102.4 102.4 102.4zm0-198.4c-3.535 0-6.4 2.88-6.4 6.444v83.156h-44.819a6.375 6.375 0 0 0 -6.381 6.4c0 3.535 2.916 6.4 6.37 6.4h57.63v-95.994a6.387 6.387 0 0 0 -6.4-6.406z"
							fill="#529990"></path></g
					></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://momentjs.com/"
			>
				<h3>Moment.js</h3>
			</a>
			<div class="sponsorship-description">
				<p>
					A library for Parsing, validating, manipulating, and displaying dates
					and times in JavaScript.
				</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://momentjs.com/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/moment/moment/">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://d3js.org/"
			>
				<svg
					height="243"
					preserveAspectRatio="xMidYMid"
					viewBox="0 0 256 243"
					width="256"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					><linearGradient id="a"
						><stop offset="0" stop-color="#f9a03c"></stop><stop
							offset="1"
							stop-color="#f7974e"></stop></linearGradient
					><linearGradient
						id="b"
						x1="-82.637%"
						x2="103.767%"
						xlink:href="#a"
						y1="-92.82%"
						y2="106.042%"></linearGradient><linearGradient
						id="c"
						x1="-258.924%"
						x2="97.62%"
						xlink:href="#a"
						y1="-248.97%"
						y2="98.768%"></linearGradient><linearGradient
						id="d"
						x1="-223.163%"
						x2="94.028%"
						xlink:href="#a"
						y1="-261.968%"
						y2="101.691%"></linearGradient><linearGradient
						id="e"
						x1="11.339%"
						x2="82.496%"
						y1="-1.822%"
						y2="92.107%"
						><stop offset="0" stop-color="#f26d58"></stop><stop
							offset="1"
							stop-color="#f9a03c"></stop></linearGradient
					><linearGradient
						id="f"
						x1="15.844%"
						x2="120.126%"
						y1="3.858%"
						y2="72.38%"
						><stop offset="0" stop-color="#b84e51"></stop><stop
							offset="1"
							stop-color="#f68e48"></stop></linearGradient
					><linearGradient
						id="g"
						x1="46.984%"
						x2="51.881%"
						xlink:href="#a"
						y1="23.466%"
						y2="147.391%"></linearGradient><path
						d="m255.52 175.619c.115-1.115.197-2.24.261-3.371.078-1.339-80.562-77.85-80.562-77.85h-1.928s81.736 86.215 82.229 81.22z"
						fill="url(#b)"></path><path
						d="m83.472 149.077c-.107.235-.213.47-.323.704-.114.246-.232.491-.349.734-2.57 5.36 35.987 43.053 39.088 38.474.141-.202.283-.416.424-.618.157-.24.312-.47.467-.71 2.48-3.765-38.206-41.032-39.307-38.584z"
						fill="url(#c)"></path><path
						d="m137.957 202.083c-.109.24-.885 1.552-1.594 2.245-.12.24 37.64 37.688 37.64 37.688h3.4c.002 0-35.446-38.35-39.446-39.933z"
						fill="url(#d)"></path><path
						d="m255.835 171.568c-1.766 39.147-34.152 70.448-73.72 70.448h-5.35l-39.514-38.928c3.25-4.584 6.272-9.333 8.962-14.285h35.902c11.354 0 20.594-9.235 20.594-20.595 0-11.355-9.24-20.595-20.594-20.595h-21.246c1.619-8.557 2.504-17.381 2.504-26.408 0-9.165-.901-18.114-2.578-26.808h13.197l81.61 80.414c.097-1.078.174-2.155.233-3.243zm-234.368-171.568h-21.467v53.213h21.467c37.493 0 68 30.499 68 67.992 0 10.2-2.275 19.883-6.318 28.576l39.163 38.59c12.859-19.24 20.376-42.339 20.376-67.166 0-66.832-54.381-121.205-121.221-121.205z"
						fill="url(#e)"></path><path
						d="m182.115 0h-86.928c21.232 12.963 38.813 31.344 50.792 53.213h36.136c11.354 0 20.594 9.235 20.594 20.595 0 11.357-9.24 20.592-20.594 20.592h-8.12l81.61 80.413c.192-2.181.312-4.376.312-6.605 0-17.939-6.437-34.395-17.125-47.203 10.688-12.802 17.125-29.261 17.125-47.197 0-40.696-33.104-73.808-73.802-73.808z"
						fill="url(#f)"></path><path
						d="m176.765 242.016h-80.957c16.296-10.064 30.384-23.35 41.443-38.928zm-54.453-53.645-39.16-38.59c-10.819 23.251-34.395 39.422-61.685 39.422h-21.467v53.208h21.467c42.01 0 79.09-21.488 100.845-54.04z"
						fill="url(#g)"></path></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://d3js.org/"
			>
				<h3>D3</h3>
			</a>
			<div class="sponsorship-description">
				<p>
					A way to bind data to the DOM, and then apply data-driven
					transformations to the document.
				</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://d3js.org/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/d3/d3">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://unpkg.com/"
			>
				<svg viewBox="0 0 460 460" xmlns="http://www.w3.org/2000/svg"
					><g fill="none" fill-rule="evenodd"
						><path d="m0 0h460v460h-460z" fill="#242424"></path><path
							d="m184.743653 116.940353v136.521106c-.930514 40.687423 13.629462 61.031134 43.679928 61.031134s44.482439-20.343711 43.295919-61.031134v-136.521106h64.233003v146.323403c0 71.312276-35.842974 106.968415-107.528922 106.968415s-107.528922-35.656139-107.528922-106.968415v-147.375481z"
							fill="#fff"></path></g
					></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://unpkg.com/"
			>
				<h3>UNPKG</h3>
			</a>
			<div class="sponsorship-description">
				<p>A fast, global Content Delivery Network for everything on npm.</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://unpkg.com/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/unpkg/unpkg">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://html5boilerplate.com/"
			>
				<svg
					height="2500"
					preserveAspectRatio="xMinYMin meet"
					viewBox="0 0 256 256"
					width="2500"
					xmlns="http://www.w3.org/2000/svg"
					><path d="m0 0h256v256h-256z" fill="#222"></path><path
						d="m114.406 35.277-22.579 64.543-68.494.189 55.51 41.021-19.948 66.233 56.075-39.7 57.584 42.147-21.079-68.869 54.948-41.021-68.306.189-23.71-64.732"
						fill="#e08524"></path><path
						d="m117.228 34.336 22.768 10.726 19.005 51.937h-18.817l-22.956-62.659"
						fill="#466770"></path><path
						d="m156.34 142.239 22.486 11.044 54.42-39.518-22.486-11.975z"
						fill="#304a51"></path><path
						d="m156.308 142.198 22.518 11.035 21.289 68.839-23.285-11.842-20.522-68.03"
						fill="#466770"></path><path
						d="m62.095 209.618 52.875-37.822 18.535 13.736-49.96 35z"
						fill="#304a51"></path></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://html5boilerplate.com/"
			>
				<h3>HTML5 Boilerplate</h3>
			</a>
			<div class="sponsorship-description">
				<p>A fast, robust, and adaptable way to create web apps or sites.</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://html5boilerplate.com/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/h5bp/html5-boilerplate">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://cdnjs.com/"
			>
				<svg
					enable-background="new 0 0 540 210"
					viewBox="0 0 540 210"
					xmlns="http://www.w3.org/2000/svg"
					><g fill="#dd4814"
						><path
							d="m103.308 59.526-11.337 19.814c-6.217-5.862-14.553-8.794-25.006-8.794-10.031 0-17.96 3.338-23.787 10.013-5.828 6.676-8.742 15.912-8.742 27.708 0 23.806 11.337 35.708 34.012 35.708 9.817 0 18.471-3.249 25.959-9.748l9.748 20.873c-7.7 4.805-14.428 7.841-20.185 9.112-5.758 1.271-12.556 1.907-20.396 1.907-17.52 0-31.347-5.103-41.482-15.311-10.137-10.207-15.205-24.387-15.205-42.542 0-17.87 5.544-32.317 16.635-43.336 11.089-11.02 26.206-16.529 45.35-16.529 13.208 0 24.688 3.708 34.436 11.125z"
						></path><path
							d="m198.352 164v-6.887c-2.19 2.401-5.899 4.503-11.125 6.304-5.229 1.802-10.632 2.702-16.211 2.702-15.824 0-28.274-5.015-37.35-15.046-9.078-10.029-13.616-24.016-13.616-41.959 0-17.941 5.208-32.545 15.628-43.813 10.419-11.266 23.47-16.9 39.151-16.9 8.617 0 16.458 1.767 23.522 5.298v-45.456l26.489-6.357v162.114zm0-86.355c-5.652-4.52-11.549-6.781-17.695-6.781-10.596 0-18.754 3.232-24.476 9.695-5.722 6.464-8.583 15.735-8.583 27.814 0 23.593 11.372 35.389 34.118 35.389 2.543 0 5.668-.758 9.377-2.277 3.708-1.519 6.127-3.055 7.258-4.609v-59.231z"
						></path><path
							d="m324.334 164v-65.587c0-9.677-1.854-16.741-5.562-21.191-3.709-4.45-9.767-6.675-18.172-6.675-3.886 0-8.036 1.096-12.45 3.285-4.415 2.19-7.858 4.911-10.331 8.159v82.009h-26.489v-113.48h19.072l4.873 10.596c7.205-8.477 17.836-12.715 31.894-12.715 13.491 0 24.14 4.044 31.946 12.132 7.804 8.089 11.708 19.374 11.708 33.853v69.614z"
						></path><path
							d="m363.856 208.502v-23.629c14.127 0 23.682-1.679 28.661-5.032 4.98-3.356 7.47-9.378 7.47-18.065v-89.429h-20.449v-21.827h46.939v110.832c0 16.246-5.104 28.166-15.312 35.76-10.207 7.592-25.977 11.39-47.309 11.39zm48.529-201.954c4.238 0 7.857 1.501 10.86 4.503 3.002 3.003 4.504 6.623 4.504 10.861s-1.502 7.859-4.504 10.861c-3.003 3.003-6.622 4.503-10.86 4.503s-7.859-1.5-10.86-4.503c-3.004-3.002-4.504-6.623-4.504-10.861s1.5-7.857 4.504-10.861c3-3.002 6.621-4.503 10.86-4.503z"
						></path><path
							d="m452.012 156.689 9.431-21.086c7.91 6.288 16.847 9.43 26.808 9.43 10.312 0 15.469-3.672 15.469-11.02 0-4.307-1.554-7.84-4.662-10.596-3.108-2.754-9.148-6.002-18.118-9.748-19.567-8.121-29.351-19.496-29.351-34.118 0-9.817 3.744-17.465 11.232-22.94 7.486-5.473 17.059-8.211 28.714-8.211 11.796 0 22.887 2.649 33.271 7.947l-7.629 20.556c-5.793-4.943-13.846-7.417-24.158-7.417-9.255 0-13.881 3.674-13.881 11.02 0 2.897 1.519 5.51 4.557 7.841 3.036 2.331 9.536 5.457 19.496 9.377 9.96 3.921 17.129 8.673 21.51 14.251 4.379 5.582 6.568 12.328 6.568 20.238 0 10.526-3.903 18.808-11.708 24.847-7.806 6.04-18.42 9.06-31.84 9.06-7.56 0-13.615-.619-18.172-1.854-4.557-1.236-10.403-3.762-17.537-7.577z"
						></path></g
					></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://cdnjs.com/"
			>
				<h3>cdnjs</h3>
			</a>
			<div class="sponsorship-description">
				<p>A free, public Content Delivery Network for popular libraries.</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://cdnjs.com/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/cdnjs/cdnjs">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://webpack.js.org/"
			>
				<svg viewBox="0 0 1200 1200" xmlns="http://www.w3.org/2000/svg"
					><path d="m600 0 530.3 300v600l-530.3 300-530.3-300v-600z" fill="#fff"
					></path><path
						d="m1035.6 879.3-418.1 236.5v-184.2l260.5-143.3zm28.6-25.9v-494.6l-153 88.3v317.9zm-901.5 25.9 418.1 236.5v-184.2l-260.5-143.3-157.6 91zm-28.6-25.9v-494.6l153 88.3v317.9zm17.9-526.6 428.8-242.6v178.1l-274.7 151.1-2.1 1.2zm894.3 0-428.8-242.6v178.1l274.7 151.1 2.1 1.2z"
						fill="#8ed6fb"></path><path
						d="m580.8 889.7-257-141.3v-280l257 148.4zm36.7 0 257-141.3v-280l-257 148.4zm-276.3-453.7 258-141.9 258 141.9-258 149z"
						fill="#1c78c0"></path></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://webpack.js.org/"
			>
				<h3>Webpack</h3>
			</a>
			<div class="sponsorship-description">
				<p>A module bundler for combining JavaScript files.</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://webpack.js.org/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/webpack/webpack">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://nodejs.org/"
			>
				<svg
					width="2270"
					height="2500"
					viewBox="0 0 256 282"
					xmlns="http://www.w3.org/2000/svg"
					preserveAspectRatio="xMinYMin meet"
					><g fill="#8CC84B"
						><path
							d="M116.504 3.58c6.962-3.985 16.03-4.003 22.986 0 34.995 19.774 70.001 39.517 104.99 59.303 6.581 3.707 10.983 11.031 10.916 18.614v118.968c.049 7.897-4.788 15.396-11.731 19.019-34.88 19.665-69.742 39.354-104.616 59.019-7.106 4.063-16.356 3.75-23.24-.646-10.457-6.062-20.932-12.094-31.39-18.15-2.137-1.274-4.546-2.288-6.055-4.36 1.334-1.798 3.719-2.022 5.657-2.807 4.365-1.388 8.374-3.616 12.384-5.778 1.014-.694 2.252-.428 3.224.193 8.942 5.127 17.805 10.403 26.777 15.481 1.914 1.105 3.852-.362 5.488-1.274 34.228-19.345 68.498-38.617 102.72-57.968 1.268-.61 1.969-1.956 1.866-3.345.024-39.245.006-78.497.012-117.742.145-1.576-.767-3.025-2.192-3.67-34.759-19.575-69.5-39.18-104.253-58.76a3.621 3.621 0 0 0-4.094-.006C91.2 39.257 56.465 58.88 21.712 78.454c-1.42.646-2.373 2.071-2.204 3.653.006 39.245 0 78.497 0 117.748a3.329 3.329 0 0 0 1.89 3.303c9.274 5.259 18.56 10.481 27.84 15.722 5.228 2.814 11.647 4.486 17.407 2.33 5.083-1.823 8.646-7.01 8.549-12.407.048-39.016-.024-78.038.036-117.048-.127-1.732 1.516-3.163 3.2-3 4.456-.03 8.918-.06 13.374.012 1.86-.042 3.14 1.823 2.91 3.568-.018 39.263.048 78.527-.03 117.79.012 10.464-4.287 21.85-13.966 26.97-11.924 6.177-26.662 4.867-38.442-1.056-10.198-5.09-19.93-11.097-29.947-16.55C5.368 215.886.555 208.357.604 200.466V81.497c-.073-7.74 4.504-15.197 11.29-18.85C46.768 42.966 81.636 23.27 116.504 3.58z"
						></path><path
							d="M146.928 85.99c15.21-.979 31.493-.58 45.18 6.913 10.597 5.742 16.472 17.793 16.659 29.566-.296 1.588-1.956 2.464-3.472 2.355-4.413-.006-8.827.06-13.24-.03-1.872.072-2.96-1.654-3.195-3.309-1.268-5.633-4.34-11.212-9.642-13.929-8.139-4.075-17.576-3.87-26.451-3.785-6.479.344-13.446.905-18.935 4.715-4.214 2.886-5.494 8.712-3.99 13.404 1.418 3.369 5.307 4.456 8.489 5.458 18.33 4.794 37.754 4.317 55.734 10.626 7.444 2.572 14.726 7.572 17.274 15.366 3.333 10.446 1.872 22.932-5.56 31.318-6.027 6.901-14.805 10.657-23.56 12.697-11.647 2.597-23.734 2.663-35.562 1.51-11.122-1.268-22.696-4.19-31.282-11.768-7.342-6.375-10.928-16.308-10.572-25.895.085-1.619 1.697-2.748 3.248-2.615 4.444-.036 8.888-.048 13.332.006 1.775-.127 3.091 1.407 3.182 3.08.82 5.367 2.837 11 7.517 14.182 9.032 5.827 20.365 5.428 30.707 5.591 8.568-.38 18.186-.495 25.178-6.158 3.689-3.23 4.782-8.634 3.785-13.283-1.08-3.925-5.186-5.754-8.712-6.95-18.095-5.724-37.736-3.647-55.656-10.12-7.275-2.571-14.31-7.432-17.105-14.906-3.9-10.578-2.113-23.662 6.098-31.765 8.006-8.06 19.563-11.164 30.551-12.275z"
						></path></g
					></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://nodejs.org/"
			>
				<h3>Node.js</h3>
			</a>
			<div class="sponsorship-description">
				<p>A JavaScript runtime built on Chrome’s V8 JavaScript engine.</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://nodejs.org/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/nodejs/node">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://reactjs.org/"
			>
				<svg
					enable-background="new 0 0 600 600"
					viewBox="0 0 600 600"
					xmlns="http://www.w3.org/2000/svg"
					><g fill="#00d8ff"
						><circle cx="299.5" cy="299.6" r="50.2"></circle><path
							d="m299.5 414.6c-70.5 0-132.1-8.3-178.2-24.1-29.9-10.2-55.3-23.8-73.4-39.3-19.2-16.4-29.4-34.3-29.4-51.6 0-33.2 36.4-65.7 97.5-86.9 50-17.4 115.2-27.1 183.4-27.1 67 0 131.3 9.4 181 26.6 29.1 10 53.6 23 71 37.4 18.9 15.8 28.9 33.1 28.9 50 0 34.5-40.7 69.4-106.3 91.1-46.4 15.4-108.4 23.9-174.5 23.9zm0-205c-64.7 0-128.7 9.4-175.5 25.7-56.2 19.6-81.4 46.4-81.4 64.3 0 18.6 27.1 47.9 86.5 68.2 43.6 14.9 102.6 22.8 170.4 22.8 63.6 0 122.9-8 167-22.7 61.7-20.5 89.9-49.8 89.9-68.3 0-9.5-7.2-20.7-20.3-31.6-15.1-12.6-37.1-24.1-63.4-33.2-47.3-16.2-108.8-25.2-173.2-25.2z"
						></path><path
							d="m185.6 549.8c-10.2 0-19.2-2.2-26.8-6.6-28.7-16.6-38.7-64.4-26.6-127.9 9.9-52.1 34.1-113.3 68.2-172.4 33.5-58 73.7-109 113.4-143.5 23.2-20.2 46.7-35 67.9-42.8 23.1-8.5 43.1-8.5 57.7-.1 29.9 17.2 39.8 70 25.8 137.6-9.9 48-33.5 105.9-66.5 163.2-35.2 61-73.2 110.2-109.9 142.3-23.8 20.8-48.3 36-70.7 43.9-11.7 4.2-22.7 6.3-32.5 6.3zm25.1-300.9 10.4 6c-32.3 56-56.2 116.1-65.4 164.9-11.1 58.5-.4 93.7 15 102.6 3.8 2.2 8.8 3.4 14.9 3.4 19.9 0 51.2-12.6 87.4-44.2 34.7-30.3 71-77.5 104.9-136.2 31.8-55.1 54.4-110.5 63.8-156 13.1-63.7 1.8-102.7-14.3-112-8.2-4.7-21.5-4.1-37.5 1.8-18.5 6.8-39.4 20.1-60.4 38.4-37.7 32.8-76.2 81.6-108.4 137.4z"
						></path><path
							d="m413.4 550.1c-27.2 0-61.7-16.4-97.7-47.4-40.2-34.6-81.1-86.1-115.3-145.2-33.6-58-57.6-118.3-67.7-170-5.9-30.2-7-57.9-3.2-80.2 4.2-24.3 14.1-41.6 28.8-50.1 29.8-17.3 80.5.5 132.1 46.4 36.6 32.5 75 81.9 108.1 139.1 35.3 61 59 118.5 68.4 166.3 6.1 31 7.1 59.8 2.8 83.2-4.6 24.9-15 42.6-30 51.3-7.5 4.4-16.4 6.6-26.3 6.6zm-192.2-204.6c32.4 56 72.6 106.7 110.2 139 45.1 38.8 80.9 47.2 96.4 38.2 16.1-9.3 27.9-47.4 15.7-109-9-45.2-31.7-100.2-65.7-158.9-31.9-55.1-68.6-102.4-103.3-133.2-48.6-43.2-88-52.9-104.1-43.6-8.2 4.7-14.3 16.6-17.2 33.4-3.3 19.4-2.3 44.2 3.1 71.5 9.6 49.1 32.6 106.8 64.9 162.6z"
						></path></g
					></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://reactjs.org/"
			>
				<h3>React</h3>
			</a>
			<div class="sponsorship-description">
				<p>
					A JavaScript library for building user interfaces created by facebook.
				</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://reactjs.org/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/facebook/react/">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://git-scm.com/"
			>
				<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"
					><path
						d="m502.34111 278.80364-223.54302 223.53852c-12.86794 12.87712-33.74784 12.87712-46.63305 0l-46.4152-46.42448 58.88028-58.88364c13.68647 4.62092 29.3794 1.51948 40.28378-9.38732 10.97012-10.9748 14.04307-26.80288 9.30465-40.537l56.75401-56.74844c13.73383 4.73404 29.56829 1.67384 40.53842-9.31156 15.32297-15.3188 15.32297-40.15196 0-55.48356-15.3341-15.3322-40.16175-15.3322-55.50254 0-11.52454 11.53592-14.37572 28.47172-8.53182 42.6722l-52.93386 52.93048v-139.28512c3.73267-1.84996 7.25863-4.31392 10.37114-7.41756 15.32295-15.3216 15.32295-40.15196 0-55.49696-15.32296-15.3166-40.16844-15.3166-55.48025 0-15.32296 15.345-15.32296 40.17536 0 55.49696 3.78727 3.78288 8.17299 6.64472 12.85234 8.5604v140.57336c-4.67935 1.91568-9.05448 4.75356-12.85234 8.56264-11.60533 11.60168-14.39801 28.6378-8.4449 42.89232l-58.04894 58.05848-153.2840694-153.27388c-12.8743209-12.88768-12.8743209-33.768 0-46.64456l223.5540394-223.539c12.87017-12.87456 33.74338-12.87456 46.63305 0l222.49828 222.50316c12.87852 12.87876 12.87852 33.76968 0 46.64456"
						fill="#f03c2e"></path></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://git-scm.com/"
			>
				<h3>git</h3>
			</a>
			<div class="sponsorship-description">
				<p>
					A version control system that allows millions people across the world
					to collaborate on coding projects.
				</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://git-scm.com/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/git/git">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://www.kali.org/"
			>
				<svg
					height="76.949"
					viewBox="0 0 130.60352 76.948776"
					width="130.6"
					xmlns="http://www.w3.org/2000/svg"
					><g fill="#527d97"
						><path
							d="m3.5254 0c-1.7704.0019531-3.5254 2.002-3.5254 3.5215v58.826c0 1.7559 1.755 3.5137 3.5273 3.5117h15.652v-4h-14c-.5855-.003-1.1793-.592-1.1793-1.174v-55.506c0-.5843.5938-1.182 1.1816-1.18h120.24c.59766-.00195 1.1797.5957 1.1816 1.1797v55.506c-.002.58203-.58398 1.1719-1.1816 1.1738h-100.6v4h102.25c1.5312.002 3.5274-1.7559 3.5293-3.5117v-58.828c0-1.518-1.99-3.518-3.52-3.52z"
							fill-rule="evenodd"></path><path
							d="m19.33 49.9v-32.87h5.09v16.298l13.519-16.298h6.237l-12.228 14.111 12.452 18.759h-5.7969l-10.549-15.402-3.6342 4.0101v11.392z"
						></path><path
							d="m63.384 21.52-4.6201 14.482 9.563-.000252zm-3.0881-4.49h6.199l12.416 32.87h-6.1674l-3.0872-8.748h-12.883l-3.0872 8.748h-5.8291z"
						></path><path d="m82.704 17.03h4.8062v28.52h14.24v4.03h-19.046z"
						></path><path d="m106.09 17.03h4.8203v32.55h-4.8203z"></path><path
							d="m2.4186 73.779v2.337h1.4894q.74932 0 1.1079-.28626.36317-.29053.36317-.8844 0-.59814-.36317-.88013-.3585-.286-1.1078-.286h-1.4894zm0-2.6233v1.9226h1.3745q.68036 0 1.0114-.23499.33559-.23926.33559-.72632 0-.48279-.33559-.72205-.33099-.23926-1.0114-.23926h-1.3745zm-.9286-.71h2.3721q1.0619 0 1.6366.41016.57463.41016.57463 1.1664 0 .58533-.29421.9314t-.86425.43152q.68496.13672 1.0619.57251.38156.43152.38156 1.0809 0 .85449-.6252 1.3202-.6252.4657-1.7791.4657h-2.464v-6.3788z"
						></path><path
							d="m7.6299 70.446h.92712l1.7688 2.6233 1.756-2.6233h.92712l-2.256 3.3411v3.0377h-.86714v-3.0377z"
						></path><path
							d="m21.333 71.031q-.93994 0-1.4954.70068-.55115.70068-.55115 1.9098 0 1.2048.55115 1.9055.55542.70068 1.4954.70068.93994 0 1.4868-.70068.55115-.70068.55115-1.9055 0-1.2091-.55115-1.9098-.54688-.70068-1.4868-.70068zm0-.70068q1.3416 0 2.1448.90149.80322.89722.80322 2.4097 0 1.5082-.80322 2.4097-.80322.89722-2.1448.89722-1.3458 0-2.1533-.89722-.80322-.89722-.80322-2.4097t.80322-2.4097q.8075-.90149 2.1533-.90149z"
						></path><path
							d="m27.032 70.446h3.6658v.72632h-2.8027v1.8799h2.5293v.72632h-2.5293v3.0463h-.86304v-6.3788z"
						></path><path
							d="m33.274 70.446h3.6658v.72632h-2.8027v1.8799h2.5293v.72632h-2.5293v3.0463h-.86304v-6.3788z"
						></path><path
							d="m38.915 70.446h4.0332v.72632h-3.1702v1.8884h3.0377v.72632h-3.0377v2.3114h3.2471v.72632h-4.1101v-6.3788z"
						></path><path
							d="m45.552 70.446h1.1621l2.8284 5.3363v-5.3363h.8374v6.3788h-1.1621l-2.8284-5.3363v5.3363h-.8374z"
						></path><path
							d="m57.521 70.655v.84168q-.49133-.23498-.92712-.35034t-.84168-.11536q-.70496 0-1.0895.27344-.38025.27344-.38025.77759 0 .42297.25208.64087.25635.21362.96558.34607l.52124.10681q.96558.18372 1.4227.64941.46142.46143.46142 1.239 0 .92712-.62378 1.4056-.61951.47852-1.8201.47852-.45288 0-.96558-.10254-.50842-.10254-1.0553-.30334v-.88867q.52551.2948 1.0297.44434.50415.14954.99121.14954.73914 0 1.1407-.29053.40161-.29053.40161-.82886 0-.46997-.29053-.73486-.286-.265-.944-.397l-.52551-.10254q-.96558-.19226-1.3971-.60242t-.43152-1.1407q0-.84595.59387-1.333.59814-.48706 1.6449-.48706.44861 0 .91431.08118t.95276.24353z"
						></path><path d="m59.951 70.446h.86304v6.3788h-.86304z"></path><path
							d="m65.476 76.825-2.4353-6.3788h.90149l2.0209 5.3705 2.0251-5.3705h.89722l-2.431 6.3788h-.97839z"
						></path><path
							d="m70.313 70.446h4.0332v.72632h-3.1702v1.8884h3.0377v.72632h-3.0377v2.3114h3.2471v.72632h-4.1101v-6.3788z"
						></path><path
							d="m84.061 70.655v.84168q-.49133-.23498-.92712-.35034t-.84168-.11536q-.70496 0-1.0895.27344-.38025.27344-.38025.77759 0 .42297.25208.64087.25635.21362.96558.34607l.52124.10681q.96558.18372 1.4227.64941.46142.46143.46142 1.239 0 .92712-.62378 1.4056-.61951.47852-1.8201.47852-.45288 0-.96558-.10254-.50842-.10254-1.0553-.30334v-.88867q.52551.2948 1.0297.44434.50415.14954.99121.14954.73914 0 1.1407-.29053.40161-.29053.40161-.82886 0-.46997-.29053-.73486-.286-.265-.944-.397l-.52551-.10254q-.96558-.19226-1.3971-.60242t-.43152-1.1407q0-.84595.59387-1.333.59814-.48706 1.6449-.48706.44861 0 .91431.08118t.95276.24353z"
						></path><path
							d="m86.391 70.446h4.0332v.72632h-3.1702v1.8884h3.0377v.72632h-3.0377v2.3114h3.2471v.72632h-4.1101v-6.3788z"
						></path><path
							d="m97.504 70.937v.91003q-.43579-.40588-.9314-.60669-.49133-.2008-1.0468-.2008-1.0938 0-1.6748.67078-.58105.6665-.58105 1.9312 0 1.2604.58105 1.9312.58106.6665 1.6748.6665.55542 0 1.0468-.20081.49561-.20081.9314-.60669v.90149q-.45288.30762-.9613.46143-.50415.15381-1.0681.15381-1.4484 0-2.2815-.8844-.83313-.88867-.83313-2.4225 0-1.5381.83313-2.4225.83313-.88867 2.2815-.88867.57251 0 1.0767.15381.50842.14954.95276.45288z"
						></path><path
							d="m99.848 70.446h.86732v3.8751q0 1.0254.3717 1.4783.3717.44861 1.2048.44861.82886 0 1.2006-.44861.3717-.45288.3717-1.4783v-3.8751h.86731v3.9819q0 1.2476-.61951 1.8842-.61523.6366-1.8201.6366-1.2091 0-1.8286-.6366-.61524-.6366-.61524-1.8842v-3.9819z"
						></path><path
							d="m110.78 73.834q.27771.09399.53833.40161.26489.30762.52978.84595l.87586 1.7432h-.92713l-.81604-1.6364q-.31616-.64087-.61523-.85022-.2948-.20935-.8075-.20935h-.93994v2.6959h-.86304v-6.3788h1.9482q1.0938 0 1.6321.45715.53833.45715.53833 1.38 0 .60242-.28199.99976-.27771.39734-.81176.55115zm-2.1619-2.6788v2.2644h1.0852q.62378 0 .93994-.28625.32043-.29053.32043-.85022t-.32043-.84168q-.31616-.28626-.93994-.28626h-1.0852z"
						></path><path d="m114.84 70.446h.86304v6.3788h-.86304z"></path><path
							d="m117.53 70.446h5.3961v.72632h-2.2644v5.6525h-.86731v-5.6525h-2.2644v-.72632z"
						></path><path
							d="m124.09 70.446h.92712l1.7688 2.6233 1.756-2.6233h.92712l-2.2559 3.3411v3.0377h-.86731v-3.0377l-2.2559-3.3411z"
						></path></g
					></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://www.kali.org/"
			>
				<h3>Kali Linux</h3>
			</a>
			<div class="sponsorship-description">
				<p>Kali Linux is an advanced penetration testing Linux distribution.</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://www.kali.org/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/offensive-security">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://clickhouse.tech/"
			>
				<svg
					height="48"
					viewBox="0 0 9 8"
					width="54"
					xmlns="http://www.w3.org/2000/svg"
					><path d="m0 7h1v1h-1z" fill="#f00"></path><g fill="#fc0"
						><path d="m0 0h1v7h-1z"></path><path d="m2 0h1v8h-1z"></path><path
							d="m4 0h1v8h-1z"></path><path d="m6 0h1v8h-1z"></path><path
							d="m8 3.25h1v1.5h-1z"></path></g
					></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://clickhouse.tech/"
			>
				<h3>ClickHouse</h3>
			</a>
			<div class="sponsorship-description">
				<p>ClickHouse is a free analytics DBMS for big data</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://clickhouse.tech/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/ClickHouse/ClickHouse">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://phalcon.io/"
			>
				<svg
					height="300"
					preserveAspectRatio="xMidYMid meet"
					viewBox="0 0 640 640"
					width="300"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					><defs
						><path
							id="a"
							d="m249.75 391.53 60.83-4.81 11.59-9.15-3.38-5.78-39.59 5.78z"
						></path><path
							id="b"
							d="m411.01 554.72v8.67l-19.8-8.19-2.41 4.33 18.35 9.15 7.72 18.77-18.35-15.4h-3.86l3.86 47.18-23.17-26.96-1.93-27.44 10.62-23.59z"
						></path><path
							id="c"
							d="m376.74 569.64v22.15l-29.94 12.51-18.35-32.73v-95.8l7.73-14.92 2.9 2.41 4.34 74.13z"
						></path><path
							id="d"
							d="m447.22 473.37v9.14l-19.31-8.66-2.42 4.33 17.38 8.67 8.21 19.73-17.38-15.88h-3.86l3.38 46.69-25.11-28.88-.96-21.66 11.1-26.96z"
						></path><path
							id="e"
							d="m411.01 489.73v17.81l-48.28 18.3-16.9-35.63-3.86-23.1 11.1-7.22 32.83-1.93 7.73 20.22z"
						></path><path
							id="f"
							d="m346.8 409.34-47.8-12.51-90.77 90.01v58.73l22.69 77.51v-40.92l54.08-131.42z"
						></path><path
							id="g"
							d="m440.94 412.71c-3.79 3.15-22.78 18.87-56.97 47.18h-30.9l94.15-61.62h52.15c-31.16 7.7-50.64 12.52-58.43 14.44z"
						></path><path
							id="h"
							d="m599.31 395.38-27.52 14.45-102.36-41.88-2.41-28.41 56.97 3.85 52.15 14.93z"
						></path><path
							id="i"
							d="m566.48 393.94-.96-1.44 10.14-7.71 14.48 8.19-.97 1.92-13.51-7.7z"
						></path><path
							id="j"
							d="m460.26 325.58v63.06l-42.01-15.88-82.08-41.88 14.49-32.74z"
						></path><path id="k" d="m438.05 260.6 1.45-45.25 47.8 93.87z"
						></path><path
							id="l"
							d="m439.98 201.39-232.24-198.33 34.28 94.35 135.19 129.97 92.22 100.13z"
						></path><path
							id="m"
							d="m288.86 196.09 88.36 31.29-180.58-174.26 7.73 46.69z"
						></path><path
							id="n"
							d="m181.19 229.79 76.29 75.09-81.12-24.06-21.24-14.45-68.08-62.09z"
						></path><path
							id="o"
							d="m333.75 366.02-90.28-8.18-71.46-38.51 163.68 30.8z"
						></path><path
							id="p"
							d="m273.4 379.98-55.52-17.81 119.26 4.33 116.36 9.63 13.52 25.03-28.97-5.29-63.25-5.78-45.87-17.33-19.31 10.59z"
						></path><path
							id="q"
							d="m326.04 325.58 92.21 47.18-84.49-6.74-107.67-32.25-98.01-68.36z"
						></path><path
							id="r"
							d="m187.95 259.63 69.52 45.25 78.7 26 14.49-32.74-297.42-177.63 55.04 77.99z"
						></path><path
							id="s"
							d="m127.11 171.06 223.55 127.08 118.77 29.37-92.22-100.13-336.52-174.26z"
						></path><path
							id="t"
							d="m460.26 325.58 9.17 1.93v1.92l54.56 13.96-47.31 6.74 37.66 15.89-37.66.96 59.38 23.59 35.73 19.25 1.93 8.19-56.49-19.74h-50.21l-6.76-10.11z"
						></path><path
							id="u"
							d="m584.83 440.15h-14.97l6.76-11.55-4.83-18.77 27.52-14.45v32.26z"
						></path><path
							id="v"
							d="m289.82 557.61-2.41 3.37 7.73 77.02-49.25-93.39 42-99.16 86.91-55.36 72.43 7.7v.48l-118.78 77.5-10.14-14.92-39.11 83.28z"
						></path><path
							id="w"
							d="m208.22 494.07-36.21 42.84 12.55-46.69 37.66-51.51 106.71-65.95 45.86 17.33z"
						></path><path
							id="x"
							d="m328.45 592.75 14.97 37.07-64.22-85.69 39.11-83.28 10.14 14.92z"
						></path><path id="y" d="m164.77 480.59 30.9-41.4-30.9 25.03z"
						></path><path
							id="z"
							d="m201.95 602.86-11.59-7.22v-39.96l6.28 14.92z"></path></defs
					><use fill="#acd2b4" xlink:href="#a"></use><use
						fill="none"
						xlink:href="#a"></use><use fill="#3a3a3a" xlink:href="#b"></use><use
						fill="none"
						xlink:href="#b"></use><use fill="#8fc19a" xlink:href="#c"></use><use
						fill="none"
						xlink:href="#c"></use><use fill="#3a3a3a" xlink:href="#d"></use><use
						fill="none"
						xlink:href="#d"></use><use fill="#678a6f" xlink:href="#e"></use><use
						fill="none"
						xlink:href="#e"></use><use fill="#3a3a3a" xlink:href="#f"></use><use
						fill="none"
						xlink:href="#f"></use><use fill="#3a3a3a" xlink:href="#g"></use><use
						fill="none"
						xlink:href="#g"></use><use fill="#79a281" xlink:href="#h"></use><use
						fill="none"
						xlink:href="#h"></use><use fill="#3a3a3a" xlink:href="#i"></use><use
						fill="none"
						xlink:href="#i"></use><use fill="#8fc19a" xlink:href="#j"></use><use
						fill="none"
						xlink:href="#j"></use><use fill="#7aa383" xlink:href="#k"></use><use
						fill="none"
						xlink:href="#k"></use><use fill="#cce2d2" xlink:href="#l"></use><use
						fill="none"
						xlink:href="#l"></use><use fill="#acd2b4" xlink:href="#m"></use><use
						fill="none"
						xlink:href="#m"></use><use fill="#393839" xlink:href="#n"></use><use
						fill="none"
						xlink:href="#n"></use><use fill="#acd2b4" xlink:href="#o"></use><use
						fill="none"
						xlink:href="#o"></use><use fill="#678a6f" xlink:href="#p"></use><use
						fill="none"
						xlink:href="#p"></use><use fill="#cce1d1" xlink:href="#q"></use><use
						fill="none"
						xlink:href="#q"></use><use fill="#78a381" xlink:href="#r"></use><use
						fill="none"
						xlink:href="#r"></use><use fill="#393839" xlink:href="#s"></use><use
						fill="none"
						xlink:href="#s"></use><use fill="#cce1d1" xlink:href="#t"></use><use
						fill="none"
						xlink:href="#t"></use><use fill="#3a3a3a" xlink:href="#u"></use><use
						fill="none"
						xlink:href="#u"></use><use fill="#cde3d2" xlink:href="#v"></use><use
						fill="none"
						xlink:href="#v"></use><use fill="#8fc19a" xlink:href="#w"></use><use
						fill="none"
						xlink:href="#w"></use><use fill="#78a381" xlink:href="#x"></use><use
						fill="none"
						xlink:href="#x"></use><use fill="#3a3a3a" xlink:href="#y"></use><use
						fill="none"
						xlink:href="#y"></use><use fill="#678a6f" xlink:href="#z"></use><use
						fill="none"
						xlink:href="#z"></use></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://phalcon.io/"
			>
				<h3>Phalcon</h3>
			</a>
			<div class="sponsorship-description">
				<p>Phalcon is a full-stack PHP framework delivered as a C-extension</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://phalcon.io/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/phalcon/cphalcon/">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://www.jsdelivr.com/"
			>
				<svg
					enable-background="new 0 0 120 100"
					viewBox="0 0 120 100"
					xmlns="http://www.w3.org/2000/svg"
					><path
						d="m59.7 10-4.8 16.4v.2 16.4l4.8 16.6 4.9-16.6v-16.4-.2z"
						fill="#bc473a"></path><g fill="#1d3a45"
						><path
							d="m14.6 84c0 4-1.4 6-4.2 6-.4 0-.9-.1-1.3-.2v-1.1c.5.2.9.2 1.3.2 1.1 0 1.8-.4 2.3-1.2s.7-2.1.7-3.8v-10.8h1.1v10.9z"
						></path><path
							d="m18.1 89.1v-1.3c1.2.8 2.4 1.1 3.6 1.1 1.3 0 2.3-.3 2.9-.8.7-.5 1-1.3 1-2.2 0-.8-.2-1.5-.7-2s-1.4-1.2-2.9-2.1c-1.7-1-2.7-1.8-3.2-2.5-.4-.7-.7-1.4-.7-2.3 0-1.2.5-2.2 1.4-3s2.1-1.2 3.6-1.2c1 0 2 .2 3 .5v1.2c-1-.4-2-.7-3.1-.7s-2 .3-2.7.9-1 1.3-1 2.2c0 .8.2 1.5.7 2s1.4 1.2 2.9 2c1.5.9 2.6 1.7 3.1 2.3.5.7.8 1.5.8 2.4 0 1.3-.4 2.3-1.3 3.1s-2.1 1.2-3.7 1.2c-.6 0-1.2-.1-2-.3-.8 0-1.4-.2-1.7-.5z"
						></path><path
							d="m30.1 89.7v-16.6h5.9c5.9 0 8.8 2.7 8.8 8.1 0 2.6-.8 4.6-2.4 6.2-1.6 1.5-3.7 2.3-6.4 2.3zm3.7-13.5v10.5h1.8c1.6 0 2.9-.5 3.8-1.5s1.4-2.3 1.4-4c0-1.6-.5-2.8-1.4-3.7s-2.2-1.4-3.8-1.4h-1.8z"
						></path><path
							d="m57.8 89.7h-9.9v-16.6h9.6v3h-5.8v3.7h5.3v3h-5.4v3.8h6.2z"
						></path><path d="m70.8 89.7h-9.9v-16.6h3.7v13.5h6.1v3.1z"
						></path><path d="m76.9 73.1v16.6h-3.7v-16.6z"></path><path
							d="m94.7 73.1-5.7 16.6h-4.2l-5.6-16.6h4l3.5 11.5c.2.6.3 1.2.3 1.7.1-.5.2-1.1.4-1.7l3.4-11.5z"
						></path><path
							d="m110.8 89.7h-4.3l-2.6-4.3c-.2-.3-.4-.6-.6-.9s-.4-.5-.5-.7c-.2-.2-.4-.3-.6-.4s-.4-.1-.6-.1h-1v6.3h-3.7v-16.5h5.9c4 0 6 1.5 6 4.5 0 .6-.1 1.1-.3 1.6s-.4.9-.8 1.3c-.3.4-.7.7-1.2 1s-1 .5-1.5.7c.2.1.5.2.7.4s.5.4.7.6.4.5.6.7c.2.3.4.5.5.8zm-10.2-13.8v4.6h1.6c.8 0 1.4-.2 1.9-.7s.7-1.1.7-1.7c0-1.4-.9-2.2-2.6-2.2z"
						></path></g
					><path d="m59.7 10-22.9 8.3 3.3 30.5 19.6 10.8" fill="#e84d3d"
					></path><path
						d="m59.7 59.6 19.8-10.9 3.7-30.6-23.5-8.1"
						fill="#bc473a"></path><path
						d="m55.6 46.9c-2.3-.7-4.3-2-5.9-3.6-.2-.2-.4-.4-.6-.6-1.2-1.5-2.2-3.2-2.8-5.1.4.3.8.7 1.2 1 .6.4 1.2.8 1.9 1.1.2.1.4.2.6.3.3.1.5.2.8.3h.1.1c.1 1.1 1 2 2.1 2.2.5 1.7 1.3 3.2 2.5 4.4z"
						fill="#fdc72e"></path><path
						d="m56.4 27.1c0 .5.1.9.4 1.3-1.9 2.6-3.1 5.4-3.7 8.2-.1.3-.1.6-.2.9-.6.2-1.2.6-1.5 1.1 0 0 0 0-.1 0h-.1c-.2-.1-.4-.1-.6-.2-.3-.1-.6-.3-.9-.4-1-.5-1.9-1.1-2.7-1.9-.2-.2-.3-.3-.5-.5l-.1-.1c-.1-.1-.1-.1-.2-.2 0 0 0-.1-.1-.1 0 0 0 0-.1-.1s-.1-.1-.1-.1 0 0-.1-.1-.2-.2-.2-.3c0 0 0 0 0-.1 0-.3 0-.6 0-.9 0-2.8.8-5.4 2.3-7.6.2-.3.3-.5.5-.8.2-.2.4-.5.6-.7 1.7-2 3.9-3.4 6.4-4.2 0 .3.1.5.1.8.3 1.4.8 2.9 1.4 4.3-.2.4-.5 1-.5 1.7z"
						fill="#fdc72e"></path><path
						d="m54.9 40c0 .3-.1.6-.3.9 0 .1-.1.1-.1.1-.2.2-.5.3-.9.3-.3 0-.5-.1-.7-.2s-.4-.3-.5-.6c-.1-.2-.1-.4-.1-.6 0-.4.2-.7.4-1 0 0 .1-.1.1-.1.2-.2.5-.3.8-.3s.6.1.8.3l.3.3c.2.4.2.6.2.9z"
						fill="#fdc72e"></path><path
						d="m60.3 27.1c0 .2-.1.4-.1.6-.2.4-.7.7-1.2.7-.1 0-.1 0-.2 0-.6-.1-1-.5-1.1-1.1 0-.1 0-.1 0-.2 0-.2 0-.3.1-.4.2-.5.7-.9 1.3-.9h.1c.6 0 1.1.4 1.2 1-.1 0-.1.1-.1.3z"
						fill="#fdc72e"></path><path
						d="m73.7 33.5c0 1.3-.2 2.7-.5 3.9-1.2-.3-2.4-.8-3.6-1.4 0-.2 0-.3 0-.5 0-.3-.1-.7-.2-.9 0 0 .1-.1.1-.1 1.4-1.5 2.6-3.1 3.6-4.8.4 1.2.6 2.5.6 3.8z"
						fill="#e09b00"></path><path
						d="m72.4 27.7c-.1.2-.2.4-.3.6-.9 1.8-2.2 3.5-3.7 5.1-.4-.2-.9-.4-1.3-.4-.6 0-1.1.2-1.5.5-.8-.6-1.5-1.3-2.2-2-.9-.9-1.7-1.9-2.5-2.8.4-.4.6-1 .6-1.6 0-.5-.1-.9-.4-1.3 1.8-1.7 3.8-3.1 5.8-4.2 2.4 1.5 4.3 3.6 5.5 6.1z"
						fill="#e09b00"></path><path
						d="m68.4 35.6c0 .6-.3 1-.8 1.2-.2.1-.3.1-.5.1-.1 0-.2 0-.3 0-.6-.1-1-.6-1.1-1.2s0 0 0-.1c0-.6.4-1.1.9-1.3.1-.1.3-.1.5-.1.1 0 .3 0 .4.1.5.2.9.6 1 1.2-.1 0-.1 0-.1.1z"
						fill="#e09b00"></path><path
						d="m68.8 37.4c-.4.4-1 .7-1.7.7-.5 0-1-.2-1.4-.4-.1 0-.1.1-.2.1-1.8 1.2-3.8 2-5.8 2.5v7.2c5.8 0 10.8-3.5 12.9-8.6-1.3-.3-2.6-.8-3.8-1.5z"
						fill="#e09b00"></path><path
						d="m59.7 40.3c-1.2.3-2.4.5-3.6.5-.1 0-.1 0-.2 0-.2.6-.7 1.1-1.2 1.4.4 1.4 1 2.5 2 3.5.8.8 1.7 1.4 2.8 1.8h.2z"
						fill="#fdc72e"></path><path
						d="m64.5 35.6c0-.3 0-.5.1-.7-.8-.7-1.6-1.4-2.4-2.1-.9-.9-1.7-1.9-2.5-2.9v8.9c1.7-.5 3.3-1.2 4.9-2.2 0-.5-.1-.7-.1-1z"
						fill="#e09b00"></path><path
						d="m59.7 29.8c-.1-.1-.1-.2-.2-.3-.2 0-.4.1-.6.1-.3 0-.7-.1-.9-.2-1.7 2.4-2.8 5-3.3 7.5 0 .2-.1.5-.1.7.7.3 1.3.9 1.5 1.6h.1c1.2-.1 2.4-.3 3.6-.6v-8.8z"
						fill="#fdc72e"></path><path
						d="m59.7 19.6v5.1c.1 0 .1 0 .2.1 1.6-1.6 3.4-2.9 5.3-4-1.6-.8-3.5-1.2-5.5-1.2z"
						fill="#e09b00"></path><path
						d="m59.7 19.6c-.9 0-1.8.1-2.6.2 0 .3.1.6.2.9.3 1.3.7 2.6 1.2 3.8h.5c.3 0 .5 0 .8.1v-5z"
						fill="#fdc72e"></path></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://www.jsdelivr.com/"
			>
				<h3>JsDelivr</h3>
			</a>
			<div class="sponsorship-description">
				<p>
					JsDelivr is a public, open-source CDN (Content Delivery Network)
					developed by ProspectOne, focused on performance, reliability, and
					security.
				</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://www.jsdelivr.com/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/jsdelivr/jsdelivr">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://freecodecamp.org/"
			>
				<svg viewBox="0 0 465 306" xmlns="http://www.w3.org/2000/svg"
					><g fill="#09630c" fill-rule="evenodd"
						><path
							d="m.734375 147.007553c0-47.0698735 16.6933031-89.1850237 50.3328381-126.5931865 12.140584-13.37775353 22.2577374-20.3143665 29.086816-20.3143665 2.2763595 0 4.552719.74320853 6.8290785 2.2296256 1.517573 1.48641706 3.035146 3.71604266 3.035146 5.94566825 0 3.71604265-4.552719 8.91850235-12.8993705 17.34153245-35.1571081 32.9489115-52.8621265 73.3299085-52.8621265 122.1339357 0 54.006486 18.4638049 97.360317 54.3796995 131.052437 7.587865 6.688877 10.623011 11.891337 10.623011 16.350588 0 2.229626-1.517573 4.459251-3.035146 6.688877-1.517573 1.486417-4.552719 2.972834-6.8290785 2.972834-8.3466516 0-19.981378-9.661711-35.157108-28.48966-29.5926737-35.67401-43.5037596-78.284632-43.5037596-129.318285z"
						></path><path
							d="m464.1 158.89889c0 47.069873-16.693303 89.185024-50.332838 126.593186-12.140584 13.377754-22.257738 20.314367-29.086816 20.314367-2.27636 0-4.552719-.743209-6.829079-2.229626-1.517573-1.486417-3.035146-4.459251-3.035146-6.688877 0-3.716042 4.552719-8.918502 12.899371-16.350587 35.157108-32.948912 52.862126-73.329909 52.862126-122.133936 0-54.006486-18.463805-97.3603174-54.379699-131.0524375-7.587865-6.6888768-10.623011-11.8913365-10.623011-16.3505877 0-2.22962559 1.517573-4.45925119 3.035146-6.68887679 1.517573-1.48641706 4.552719-2.97283412 6.829078-2.97283412 7.587865 0 19.981378 9.66171091 35.157108 28.48966041 28.075101 35.6740095 43.50376 78.2846317 43.50376 129.0705487z"
						></path><path
							d="m231.018149 29.7567544h-212.030356c-7.5951172 0-13.29145509-5.5793914-13.29145509-13.01858 0-7.43918864 5.69633789-13.0185801 13.29145509-13.0185801h212.030356c7.595117 0 13.291455 5.57939146 13.291455 13.0185801-1.89878 7.4391886-5.696338 13.01858-13.291455 13.01858z"
							transform="translate(107.580239 265.729742)"></path><path
							d="m187.395855 25.6168263s17.705018 11.8913365 17.705018 33.6921201c0 37.4081628-52.10334 78.5323686-52.10334 117.4269476 0 41.867414 32.880749 68.870658 64.243924 77.045952 4.552719.743208 6.070292-3.716043.758787-5.20246-12.899371-2.972834-26.810457-19.571158-26.810457-44.840248 0-24.030409 23.775311-32.948912 32.880749-44.09704 9.864225-11.891336 7.587865-27.003243 1.517573-31.462494-6.070292-4.459252-1.517573-10.40492 8.346652-2.972834 9.864224 6.688876 18.463804 20.314366 15.17573 32.205703-3.793933 15.607379 1.517573 24.773617 9.864224 26.260034 8.346652 1.486417 17.705019-2.972834 16.693303-10.404919-1.011715-7.432085-5.311505-15.607379-3.035146-15.607379 6.070292 0 18.463805 14.120962 18.463805 37.408163 0 23.2872-19.222591 38.894579-25.292883 44.840248-3.793933 3.716042.758786 8.175294 6.070292 5.945668 2.276359-.743209 7.587865-3.716043 10.623011-5.945668 15.17573-10.40492 38.95104-32.205703 38.95104-71.843492 0-41.867414-15.934516-60.695363-32.880748-76.3027424-16.693303-15.6073792-20.740165-11.8913365-15.934517-3.7160426 13.658157 23.287201 5.311506 31.462494-4.552719 31.462494-12.140584 0-12.140584-26.2600343-17.705018-46.3266647-9.864225-44.8402481-52.10334-52.5200696-59.691205-53.2632781-5.564435-2.4773618-12.646442 1.9818894-3.288075 5.6979321z"
						></path></g
					></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://freecodecamp.org/"
			>
				<h3>freeCodeCamp</h3>
			</a>
			<div class="sponsorship-description">
				<p>An online coding bootcamp that teaches you to code for free.</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://freecodecamp.org/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/freeCodeCamp/freeCodeCamp">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://uppy.io/"
			>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 316.92 478.17"
					><title>uppy-dog-full-2</title><path
						d="M141.68 131.5S0 201.72 0 404.84c0 2.38 20.33-12 37.67-12s16.43 21.13 48.76 21.13 17.9-14.47 53.57-14.47 26-5.67 51-5.67 14.18 11.89 40.18 11.89 35.83-14.5 45.5-14.5c19.85 0 26 5.5 26 5.5 0-65.45-56.5-158.83-56.5-167.17"
						fill="#e02d79"></path><path
						d="M304.92 185.09c0-.33-3.67-1.67-8.33-1.67s-1-2.67-8-2.67a6 6 0 0 0-4.91 2.67h-5.42c-2.33 0-5.58 7.17-5.58 9.5 0 4.5 11.92 13.83 11.92 19.17s-10.92 12.25-13.92 12.25c0 0-1.93-10.92-2.67-14-5.25-22-10.82-50.45-30.33-50.45-1.28 0-2-11.22-2-16.22a28.11 28.11 0 0 0 8.75 1.92c4 0 21.75-5.58 21.75-20.92 0 0 2.83.33 4.5.33s2.67-.33 2.67-2-7-14.33-7-18.67a34 34 0 0 1 1-8s19 1.33 19-13.33-4.67-14.5-4.67-14.5 1-7.83-2.67-7.83-5.3.83-7.17.83c-2.21 0-4 .17-4 .17s-5.33-11.17-10.5-11.17c-3 0-1.67-9.92-10.67-9.92-7 0-8 .92-14 .92s-14 .5-19 .5c-9.87 0-38.72 28.72-40.86 39.19.76-6.15 4.51-35.53 7.2-35.53 2.17 0 15.35-13.21 15.35-36.77 0-4.12-9.94-3.81-9.94-3.81s-2-4.56-9-5a9.88 9.88 0 0 0-6.08 1.25 26.14 26.14 0 0 0-8-1.33c-4.33 0-8.67 10.33-8.67 34.33 0 0-10 36.5-10.5 47s-3 46.5-3 50.13 3 18.87 2.49 24.37-3.5 24-3.5 29.5c0 8-10.25 36-10.25 61 0 30.71-.51 51.7 2.24 65a8.29 8.29 0 0 0-.24 2.24c0 10.25-23.5 32.63-36.5 32.63s-26.73-13.86-26.73-24.36c0-13.62-5.8-21.3-5.8-21.3s-8.2 7.93-8.2 23.18c0 25.75 20.5 40 40.5 40 18.69 0 40.18-18.25 42.49-20.62v28.24c0 10 12.17 54.83 12.17 57.17 0 0-1.33 36.33-1.33 39.67s4 7.33 7.67 7.33a18.72 18.72 0 0 1 4.33.67s2 2 6.33 2 8-4 8-4 9.33 1 9.33-9.33c0-1.5 1.33-9 1.33-13.67s-1.67-15.33-1.67-15.33 3.33-12 3.33-18.33-4.33-9.67-10-9.67c0 0-2.5-8.17-2.5-14.5s18.33-65.33 21.33-65.33c6.17 0 29.51 39.22 29.51 39.22s-12.52 24.45-14.51 24.45c0 0-8.67.67-8.67 6.33s2 49 13 49l5 .67a8.5 8.5 0 0 0 5.33 2.33c4.5 0 7.33-1.33 7.33-4 0-.78 1-2.43 1.66-2.43 3.84 0 6.34-4.66 6.34-8.91 0-6-6.33-20-6.33-25s29.85-19.12 29.85-29.45-21.18-66.22-21.18-70.88 4.67-22 4.67-34.33v-19.3s12.33 11 22.33 11 47.6-44.3 47.6-57-12-24.3-12-24.63z"
						fill="#231f20"></path><path
						d="M273 86.84s-2.67 7.17-12.17 7.17-12.67-1.67-16.5-1.67-9 2.33-11 2.33-3.33-1.17-4.67-1.17 3.17 17.33 7.17 17.33c0 0 3.83-3.33 13.83-3.33 4.17 0 5.33 2.33 5.33 2.33a24.57 24.57 0 0 1 4.33-.83c2 0-1.33-3.33-1.33-6s6-8.33 9.67-8.33c2.67 0 11.67-1.33 11.67-3.67s-6.33-.83-6.33-4.16z"
						fill="#fff"></path><ellipse
						cx="177.33"
						cy="10.08"
						rx="3.77"
						ry="5.75"
						fill="#fff"></ellipse><ellipse
						cx="521.82"
						cy="74.95"
						rx="3.17"
						ry="4.83"
						transform="rotate(-10.99 15.144 1890.066)"
						fill="#fff"></ellipse><ellipse
						cx="542.65"
						cy="79.12"
						rx="4.83"
						ry="3.17"
						transform="rotate(-72.69 321.957 288.95)"
						fill="#fff"></ellipse><ellipse
						cx="644.82"
						cy="257.7"
						rx="2.42"
						ry="5.17"
						transform="rotate(-23.98 318.06 1062.583)"
						fill="#fff"></ellipse><ellipse
						cx="654.45"
						cy="257.95"
						rx="2.21"
						ry="4.73"
						transform="rotate(-17.06 265.648 1410.76)"
						fill="#fff"></ellipse><ellipse
						cx="637.76"
						cy="260.75"
						rx="2.19"
						ry="4.69"
						transform="matrix(.8 -.58 .58 .8 -387.62 357.95)"
						fill="#fff"></ellipse><path
						d="M288.79 219.22a11.9 11.9 0 0 0-4.78.66c-3.45 3.67-13.82 9.58-15.83 9.58 0 0-2.43-14.67-3.17-17.75-5.25-22-12.16-45.5-21.83-47.17l-8.67-1.5-1.33-6.67c-2 6-16.29 6.89-19 6.67 0 0-26.67-2-26.67-24.67 0-1.5-7.18-2.72-7.18-2.72l-8-10.33-.33-12s-3.82-8.95-3.82-16.95 3.51-41.35 5.83-49.33c-6.67-4.33-10.4-4.79-17.83-4-3 11.49-8.16 31.62-8.5 38.83-.5 10.5-1.75 46.58-1.75 52.33s2.75 16.75 2.25 22.25-3 24.23-3 29.75c0 8-11.25 35.25-11.25 60.25 0 30.71-.75 51.68 2 65-.13.44 4.76 28 5 27.75 0 9.76-.25 26.41-.25 32.17 0 8.86 8.16 41.57 10.33 51.33 0 2.94 4 5.5 9.5 5.5 7.53 0 12.67-8.65 12.67-17.67 0 0-3.33-13-3.33-19.33 0-5.19 20-62.67 20.71-64.84 1.45-4.43 9.17-16.27 9.62-17.16.7-1.35-1.67 7.5-1.67 14.33 0 0 31.33 38.5 31.33 44.33 0 .83-13.2 22.23-15.67 26 0 6.67 5.67 14.33 16.83 14.33 2.2-5.07 29.33-18.5 29.33-28.83s-22-65.83-22-70.5 5.17-21.67 5.17-34-.82-27.64-.82-27.64.16-50.78.17-52c.14-16.71 3.46 54.61 4.3 55.38 5 4.6 14.36 12.29 21.37 12.29s23.72-17.56 35.33-35c-1.84-4.84-9.72-8.67-15.06-8.67z"
						fill="#fff"></path><path
						d="M301.42 207.42c0 6.75-3 8.75-6 8.75s-7-3.75-7-9.25 3.25-6 5.25-6 7.75 1.75 7.75 6.5zM176.17 19.59a8.78 8.78 0 0 1 6 8.5c0 6.75-8.25 9-10.25 9-3.25 0-4.5-3.5-4.5-9s5.5-8.5 8.75-8.5zM198.92 86.34s-1.07 9.72-1.07 20.22c0 10.76 14.62 14.78 15.65 14.78 0 0-18 .06-18-11.12a79 79 0 0 0-1.33 11.33c0 4.33 1.17 8.83 1.17 11 0 3.17-4 7.67-9.17 7.67-7 0-15.68-11.38-15.68-21.38s2.1-16.17 2-21.17c-.15-7.45.56-15.2.56-17.2 0-.81 6.63-20.65 6.63-17.25 0 5.17-3.5 9.17-3.5 34.17 0 3.67-3 18-3 22.17s5.32 16.62 12.15 16.62c4.17 0 6.33-2.5 6.33-4.5s-1-8.33-1-11.33c.02-4.46 8.26-33.35 8.26-34.01zM259.35 112.39c4.25 0 4 3.75 4 7.5s-.42 20.67-20.17 20.67c-4.5 0-10.77-3.67-10.67-7.17.17-5.67 10.83-2.92 10.83-14.17 0 0 1.17-5.17-3.33-5.17s1.08-3 7.83-3c3.75 0 5 1.67 5 8.67 0 8.5-4.56 11.44-3.43 11.62.85.13 7.6-2.95 7.6-9.95 0-5.67-1-9 2.34-9z"
						fill="#fff"></path><path
						d="M198.92 86.34s10.75-10 16.25-10c1.5 0 6-.5 8.75-.5 4.5 0 14.75-3.62 14.75-6a16.76 16.76 0 0 1 9.75-3.25c4.88 0 9.25 2.5 9.25.25 0-1 .5-3.75 4.5-3.75s2.75-3 2.75-3-5.25-7.75-9.25-7.75-7 3.5-11.5 3.5c-13.5 0-9.75-2.75-24-2.75-3.5 0-14.25 10-14.75 13.5 0 0-12 4.75-12 8.75l4 6.75z"
						fill="#e02d79"></path><path
						d="M217.42 67.34s3.5-4 6.5-4a17.52 17.52 0 0 1 8 2.25 8.23 8.23 0 0 0-8-5c-6.24 0-6.5 6.75-6.5 6.75zM253.92 61.84a4.48 4.48 0 0 1 3.5-2.25 6.84 6.84 0 0 1 4 1.5s-1.5-4-4.25-4-3.25 4.75-3.25 4.75z"
						fill="#231f20"></path><g fill="#e02d79"
						><path
							d="M214.38 190.28l-41.24 48.19 21.04 3.75-2.75 26.3 27.33 3.58 3.27-25.88 12.23 1.29 4.61.6-24.49-57.83z"
						></path><path
							d="M219.19 272.66l-28.31-3.71 2.8-26.31-21.44-3.82 42.33-49.47.31.74 24.8 58.63-5.48-.72-11.73-1.24zm-27.21-4.58l26.34 3.45 3.27-25.81 12.72 1.34 3.76.49-23.84-56.33-40.14 46.91 20.59 3.69z"
						></path></g
					><path
						d="M259 69.17c0 3.5 7.33 8.83 13.33 8.83S280 68.67 280 66.33s-1.33-3.67-3-3.67-5.5 1.38-7.17 1.33c-6.33-.15-10.83.35-10.83 5.18z"
						fill="#fff"></path></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://uppy.io/"
			>
				<h3>Uppy</h3>
			</a>
			<div class="sponsorship-description">
				<p>
					A sleek, modular file uploader that integrates seamlessly with any
					application.
				</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://uppy.io/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/transloadit/uppy">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://redux.js.org/"
			>
				<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"
					><g fill="#764abc"
						><path
							d="m65.6 65.4c2.9-.3 5.1-2.8 5-5.8s-2.6-5.4-5.6-5.4h-.2c-3.1.1-5.5 2.7-5.4 5.8.1 1.5.7 2.8 1.6 3.7-3.4 6.7-8.6 11.6-16.4 15.7-5.3 2.8-10.8 3.8-16.3 3.1-4.5-.6-8-2.6-10.2-5.9-3.2-4.9-3.5-10.2-.8-15.5 1.9-3.8 4.9-6.6 6.8-8-.4-1.3-1-3.5-1.3-5.1-14.5 10.5-13 24.7-8.6 31.4 3.3 5 10 8.1 17.4 8.1 2 0 4-.2 6-.7 12.8-2.5 22.5-10.1 28-21.4z"
						></path><path
							d="m83.2 53c-7.6-8.9-18.8-13.8-31.6-13.8h-1.6c-.9-1.8-2.8-3-4.9-3h-.2c-3.1.1-5.5 2.7-5.4 5.8.1 3 2.6 5.4 5.6 5.4h.2c2.2-.1 4.1-1.5 4.9-3.4h1.8c7.6 0 14.8 2.2 21.3 6.5 5 3.3 8.6 7.6 10.6 12.8 1.7 4.2 1.6 8.3-.2 11.8-2.8 5.3-7.5 8.2-13.7 8.2-4 0-7.8-1.2-9.8-2.1-1.1 1-3.1 2.6-4.5 3.6 4.3 2 8.7 3.1 12.9 3.1 9.6 0 16.7-5.3 19.4-10.6 2.9-5.8 2.7-15.8-4.8-24.3z"
						></path><path
							d="m32.4 67.1c.1 3 2.6 5.4 5.6 5.4h.2c3.1-.1 5.5-2.7 5.4-5.8-.1-3-2.6-5.4-5.6-5.4h-.2c-.2 0-.5 0-.7.1-4.1-6.8-5.8-14.2-5.2-22.2.4-6 2.4-11.2 5.9-15.5 2.9-3.7 8.5-5.5 12.3-5.6 10.6-.2 15.1 13 15.4 18.3 1.3.3 3.5 1 5 1.5-1.2-16.2-11.2-24.6-20.8-24.6-9 0-17.3 6.5-20.6 16.1-4.6 12.8-1.6 25.1 4 34.8-.5.7-.8 1.8-.7 2.9z"
						></path></g
					></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://redux.js.org/"
			>
				<h3>Redux</h3>
			</a>
			<div class="sponsorship-description">
				<p>
					A predictable state container for JavaScript apps. It’s commonly used
					with React to make state management simple.
				</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://redux.js.org/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/reactjs/redux/">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://jquery.com"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="512"
					height="512"
					viewBox="0 0 512 512"
					><path
						fill="#008cdb"
						d="M122.823 115.342c-.234-.133-.468-.268-.702-.397-9.986 13.777-20.086 27.473-29.93 41.35C75.39 180 66.563 206.396 66.028 235.509c-.396 21.532 3.353 42.427 10.396 62.685 22.055 63.486 67.229 105.114 127.174 131.771 37.021 16.461 76.088 20.126 115.983 12.707 33.72-6.271 62.646-21.517 84.5-48.309 12.429-15.241 23.55-31.557 35.233-47.401.257-.345.24-.891.196-.707-8.349 6.799-16.444 14.506-25.591 20.649-34.028 22.834-72.244 28.197-112.086 24.896-24.064-1.992-47.009-8.673-68.768-19.252-33.674-16.365-62.758-38.617-85.896-68.148-21.973-28.047-35.37-59.902-40.501-95.215-3.816-26.29-1.811-51.939 8.258-76.698 2.373-5.82 5.256-11.435 7.897-17.145zM443.98 246.021c-1.133 1.053-2.198 2.174-3.392 3.148-5.024 4.115-9.763 8.719-15.204 12.189-26.833 17.111-56.393 20.06-87.062 15.483-18.921-2.825-36.456-9.889-52.724-19.937-37.234-22.997-63.246-54.347-72.535-98.033-4.405-20.717-4.013-41.142 3.892-61.06 1.681-4.237 3.621-8.368 5.442-12.546-10.322 13.119-20.189 26.45-29.268 40.301-9.193 14.026-13.535 29.911-14.025 46.565-.754 25.293 5.033 49.509 18.562 70.676 34.038 53.257 81.816 82.227 146.645 77.958 20.898-1.375 40.1-8.227 56.844-21.33 18.439-14.428 29.101-35.093 42.825-53.414zm2.02-75.498c-.19-.138-.386-.282-.577-.424-3.36 2.524-6.564 5.319-10.12 7.539-17.33 10.806-36.48 13.331-55.975 9.487-32.981-6.502-58.001-24.843-73.001-55.163-10.144-20.51-12.729-42.011-2.903-63.754.172-.379.023-.903.023-2.543-6.299 8.911-12.053 16.77-17.467 24.854-2.195 3.29-4.051 6.934-5.373 10.658-8.439 23.777-4.172 46.386 8.639 67.088 17.866 28.874 44.133 45.862 78.216 49 19.227 1.773 37.783-1.974 52.72-15.093 7.457-6.546 13.152-15.115 19.523-22.874 2.281-2.771 4.208-5.837 6.295-8.775z"
					></path></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://jquery.com"
			>
				<h3>jQuery</h3>
			</a>
			<div class="sponsorship-description">
				<p>The Write Less, Do More, JavaScript Library.</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://jquery.com">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/jquery/jquery">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://select2.org/"
			>
				<svg
					height="180"
					viewBox="0 0 180 180"
					width="180"
					xmlns="http://www.w3.org/2000/svg"
					xmlns:xlink="http://www.w3.org/1999/xlink"
					><linearGradient id="a" x1="3.377868%" x2="95.73776%" y1="0%" y2="0%"
						><stop offset="0" stop-color="#f80000"></stop><stop
							offset="1"
							stop-color="#d30000"></stop></linearGradient
					><linearGradient
						id="b"
						x1="63.975872%"
						x2="32.374911%"
						y1="14.992653%"
						y2="78.149453%"
						><stop offset="0" stop-color="#b9002b"></stop><stop
							offset="1"
							stop-color="#6a1e6a"></stop></linearGradient
					><g fill="none" fill-rule="evenodd"
						><path
							d="m.58481683 120.494348 89.47512157-62.1686205 89.7173776 62.1686205-89.5962498 58.73514z"
							fill="#0069db"></path><path
							d="m.58481683 57.4943476 89.47512157-55.16862014 89.7173776 55.16862014-89.5962498 62.7351404z"
							fill="#f00"></path><path
							d="m134.555624 89.1584986-44.4956856-30.8327711 89.7173776-.8313799z"
							fill="url(#a)"></path><path
							d="m45.7456903 89.1159137 44.3142481-30.7901862 44.4956856 30.8327711-44.3745578 31.0709894z"
							fill="url(#b)"></path><path
							d="m45.7456903 89.1159137 44.4353759 31.1135743-89.59624937.26486z"
							fill="#002785"></path></g
					></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://select2.org/"
			>
				<h3>Select2</h3>
			</a>
			<div class="sponsorship-description">
				<p>
					A jQuery based replacement for select boxes. It supports searching,
					remote data sets, and infinite scrolling of results.
				</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://select2.org/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/select2/select2">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://gulpjs.com/"
			>
				<svg viewBox="0 0 256 566" xmlns="http://www.w3.org/2000/svg"
					><path
						d="m197.28 548.749 5.427-90.43 14.985-25.58s-34.106 13.952-91.205 13.952c-57.1 0-90.689-13.694-90.689-13.694l16.794 27.904 5.941 87.848c0 9.418 31.059 17.052 69.374 17.052 38.313 0 69.373-7.634 69.373-17.052m-17.119-422.295 11.391-45.025 63.081-66.376-16.626-14.161-66.784 70.707-13.226 53.793a886.14 886.14 0 0 0 -29.873-.497c-70.336 0-127.355 8.016-127.355 17.902 0 9.887 57.019 17.902 127.355 17.902 70.335 0 127.353-8.015 127.353-17.902 0-7.28-30.924-13.546-75.316-16.343"
						fill="#d34a47"></path><path
						d="m173.535 151.669s-2.467.553-9.724.584c-7.259.03-12.413-.047-14.466-1.917-.552-.502-.854-1.499-.851-2.174.006-1.285.918-2.042 2.08-2.516l1.099 1.724c-.478.165-.751.36-.752.568-.004.976 7.422 1.644 13.102 1.572 5.681-.07 12.545-.538 12.551-1.5 0-.291-.519-.565-1.422-.781l1.094-1.712c1.472.457 2.757 1.34 2.754 2.868-.014 2.598-3.32 2.993-5.465 3.284"
						fill="#fff"></path><path
						d="m254.509 15.184c1.586-1.832-.821-6.518-5.376-10.465-4.557-3.945-9.537-5.659-11.126-3.827-1.587 1.832.821 6.518 5.378 10.463 4.555 3.946 9.537 5.662 11.124 3.829m-60.263 312.681c-1.495-14.384 31.462-35.216 23.004-35.883-18.208 1.041-27.27 21.338-36.431 42.596-3.357 7.791-14.844 41.013-22.378 36.923-7.532-4.088 9.765-31.407 14.613-47.631-5.594 4.102-26.109 20.041-31.396 5.114-8.5 7.219-26.663 11.13-24.614-7.833-4.522 8.01-14.671 19.193-26.853 14.546-15.998-6.101 9.27-57.062 15.553-54.491 6.284 2.57-1.268 14.179-3.246 18.687-4.35 9.921-9.375 22.393-6.018 24.946 5.751 4.374 21.401-16.547 21.749-17.007 2.927-3.867 11.266-29.166 17.987-26.261s-16.764 36.308-7.983 42.937c1.771 1.338 9.017-.825 13.425-5.594 2.852-3.085 1.871-9.918 11.378-32.59 9.507-22.671 17.98-50.905 24.5-48.754 6.52 2.15 1.146 16.641-1.193 22.043-10.976 25.354-29.956 67.241-21.005 64.07 8.951-3.17 13.612-3.356 22.377-13.613s8.361-27.152 14.203-26.793c5.844.36 4.863 5.777 3.446 9.902 5.75-6.58 27.256-20.438 32.448-6.713 6.15 16.249-30.769 39.72-21.564 38.523 8.975-1.167 23.515-10.376 29.723-18.749l17.088-153.626s-17.195 14.23-126.589 14.23c-109.395 0-124.811-13.934-124.811-13.934l14.548 140.224c7.722-21.947 26.059-66.339 54.963-64.849 13.148.678 30.7 25.995 15.665 26.853-6.364.362-7.01-12.637-14.546-14.546-5.438-1.378-13.009 3.043-17.902 7.833-9.758 9.55-30.745 47.229-27.972 66.014 3.533 23.949 33.048-8.322 38.042-17.903 3.517-6.749 5.893-26.745 13.585-24.647 7.693 2.098-.671 22.734-6.247 40.979-6.264 20.487-9.557 42.098-17.408 39.612-7.852-2.484 4.938-28.932 4.475-33.566-7.38 6.809-20.976 24.047-38.37 15.515l9.035 87.078s24.013 18.973 96.35 18.973 97.239-18.677 97.239-18.677l11.219-100.857c-9.179 8.938-38.229 24.81-40.089 6.919"
						fill="#d34a47"></path></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://gulpjs.com/"
			>
				<h3>Gulp</h3>
			</a>
			<div class="sponsorship-description">
				<p>
					A toolkit for automating painful or time-consuming tasks in your
					development workflow, so you can stop messing around and build
					something.
				</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://gulpjs.com/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/gulpjs/gulp">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://impress.js.org/"
			>
				<svg
					height="188"
					viewBox="0 0 172 188"
					width="172"
					xmlns="http://www.w3.org/2000/svg"
					><path
						d="m78.989882 72.0603388-12.1148283-65.48441437c5.7338615-3.96642375 12.2116445-5.94963563 19.433349-5.94963563 7.2217046 0 13.3250304 1.98321188 18.3099773 5.94963563l-10.4300965 65.48441437c-2.7929076 1.6228648-5.4195345 2.4342971-7.8798808 2.4342971-2.4603462 0-4.8998531-.8114323-7.3185207-2.4342971zm.1249463 44.3739582c2.4186676-1.622865 4.8581745-2.434297 7.3185207-2.434297 2.4603463 0 5.0869732.811432 7.8798808 2.434297l10.4300972 65.484414c-4.9849476 3.966424-11.0882734 5.949636-18.309978 5.949636-7.2217045 0-13.6994875-1.983212-19.433349-5.949636zm22.4991957-39.1861627 50.653752-43.2339563c6.301954 2.9824579 11.258358 7.6007766 14.86921 13.8549562 3.610852 6.2541795 4.945003 12.5314207 4.002453 18.8317235l-61.926215 23.7094784c-2.801895-1.6072966-4.81793-3.476306-6.048103-5.6070284s-1.747206-4.6491135-1.551097-7.5551734zm-38.3665023 22.2951858c2.6147758 1.2831949 4.5372503 2.9901539 5.7674234 5.1208759 1.2301732 2.130723 1.8407656 4.811165 1.8317774 8.041326l-51.4961181 41.774936c-5.9274973-2.333879-10.69667212-6.627908-14.30752438-12.882088-3.61085227-6.25418-5.13223191-12.85571-4.56413892-19.804592zm45.1858103-.1082067 62.76858 22.2504586c.568093 6.948881-.953286 13.550412-4.564139 19.804591-3.610852 6.25418-8.380027 10.548209-14.307524 12.882088l-51.496118-41.774936c-.008988-3.230161.601604-5.910603 1.831777-8.041325 1.230173-2.130723 3.152648-3.837681 5.767424-5.1208766zm-38.4914485-22.0787724c.1961083 2.9060599-.3209241 5.424451-1.5510972 7.5551734-1.2301731 2.1307223-3.2462076 3.9997318-6.0481035 5.6070284l-61.92621484-23.7094785c-.94255014-6.3003027.39160093-12.5775439 4.0024532-18.8317235 3.61085226-6.2541796 8.56725564-10.8724983 14.86921014-13.8549561z"
						fill-rule="evenodd"></path></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://impress.js.org/"
			>
				<h3>impress.js</h3>
			</a>
			<div class="sponsorship-description">
				<p>
					A presentation tool made to leverage the power of css3 transforms and
					transitions.
				</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://impress.js.org/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/impress/impress.js">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://expressjs.com/"
			>
				<svg
					height="149"
					preserveAspectRatio="xMidYMid"
					viewBox="0 0 512 149"
					width="512"
					xmlns="http://www.w3.org/2000/svg"
					><path
						d="m3.33224862 115.629027v-56.9814514h71.14350798v-3.3322486h-71.14350798v-51.98307838h75.64204358v-3.33224862h-78.9742922v118.961276h79.640742v-3.332249zm140.45427938-82.3065408-29.4904 38.8206964-28.823951-38.8206964h-4.3319232l31.1565242 41.3198828-34.155548 44.318907h3.9986984l32.1561996-41.8197206 32.322811 41.8197206h4.165311l-34.322161-44.318907 31.323137-41.3198828zm16.994468 114.9625768v-53.3159774h.333225c1.999359 7.7752854 5.94248 14.0231894 11.829482 18.7438984s13.384487 7.081028 22.492678 7.081028c5.887003 0 11.107473-1.194043 15.661569-3.582167 4.554096-2.388123 8.358374-5.637033 11.412952-9.746827 3.054576-4.109794 5.387126-8.8859692 6.997722-14.3286692 1.610594-5.4427 2.41588-11.1630028 2.41588-17.1610804 0-6.4423794-.833054-12.38483-2.499186-17.82753-1.666134-5.4427-4.08199-10.1633384-7.247642-14.1620566-3.165652-3.9987184-6.9977-7.108786-11.496258-9.3302962s-9.580186-3.3322486-15.245037-3.3322486c-4.331944 0-8.358371.6386746-12.079401 1.916043-3.721029 1.2773684-7.025476 3.0823182-9.913439 5.414904-2.887964 2.3325856-5.387125 5.0816632-7.49756 8.2473152s-3.721005 6.6367096-4.83176 10.413277h-.333225v-23.99219h-3.332249v114.9625768zm34.655385-30.656687c-10.441097 0-18.827173-3.582131-25.158477-10.746502-6.331304-7.16437-9.496908-17.466469-9.496908-30.9066056 0-5.5537754.777517-10.829783 2.332574-15.8281808 1.555057-4.998398 3.804302-9.3858148 6.747803-13.1623822 2.943501-3.7765672 6.58117-6.775561 10.913114-8.9970712 4.331945-2.2215102 9.219194-3.3322486 14.661894-3.3322486 5.553775 0 10.413257 1.1107384 14.578589 3.3322486 4.16533 2.2215102 7.60862 5.2482724 10.32997 9.0803776 2.72135 3.832105 4.776216 8.2195218 6.16466 13.162382s2.082656 10.1910992 2.082656 15.7448746c0 4.998398-.638676 9.9689524-1.916044 14.9118126s-3.248928 9.385814-5.914742 13.328994c-2.665812 3.943181-6.081332 7.164323-10.246664 9.663521-4.165332 2.499199-9.191422 3.74878-15.078425 3.74878zm54.815491 1.3329v-48.4842178c0-4.6651714.666442-9.219199 1.999348-13.6622192 1.332906-4.4430204 3.387772-8.3583734 6.16466-11.7461764s6.303482-6.0535754 10.57989-7.9973968c4.276406-1.9438214 9.358036-2.7491068 15.245038-2.4158802v-3.3322486c-5.109474-.1110756-9.580196.4442938-13.412302 1.6661244-3.832104 1.2218306-7.136552 2.8879382-9.91344 4.9983728-2.776888 2.1104348-4.998364 4.5818278-6.664496 7.4142532-1.666134 2.8324254-2.887946 5.8591878-3.665474 9.0803774h-.333224v-21.1597786h-3.33225v85.6387898zm38.154246-42.1529454h71.643346c.22215-5.887002-.360988-11.551768-1.749432-16.994468-1.388444-5.4426998-3.60992-10.274412-6.664496-14.4952814-3.054578-4.2208694-6.997698-7.6086216-11.829484-10.1633582-4.831784-2.5547368-10.579856-3.832086-17.244386-3.832086-4.776246 0-9.441348.9996646-13.995444 2.9990238s-8.552754 4.9150476-11.996096 8.7471526c-3.44334 3.832105-6.220186 8.524975-8.33062 14.0787504-2.110436 5.5537754-3.165636 11.8849846-3.165636 18.993817 0 6.3313042.72198 12.2459862 2.16596 17.744224 1.443982 5.4982376 3.66546 10.2744132 6.664498 14.3286692s6.858854 7.192092 11.579564 9.413602 10.413244 3.276712 17.077774 3.165636c9.774644 0 17.99411-2.749077 24.65864-8.247315s10.607652-13.2456382 11.829482-23.242434h-3.332248c-1.443982 9.4414182-5.137188 16.522376-11.079726 21.243085-5.94254 4.720709-13.412256 7.081028-22.409372 7.081028-6.109154 0-11.274088-1.055201-15.494956-3.165636-4.22087-2.110435-7.66416-4.998355-10.329972-8.663846-2.665812-3.665492-4.637372-7.9696036-5.91474-12.9124638-1.27737-4.9428602-1.97158-10.302173-2.082656-16.0780996zm68.311096-3.3322486h-68.311096c.333226-5.9980774 1.443964-11.3851588 3.332248-16.1614058 1.888284-4.7762468 4.359678-8.8582106 7.414254-12.2460136s6.60894-5.97027 10.663196-7.747478c4.054256-1.7772082 8.413904-2.665799 13.079074-2.665799 5.553776 0 10.441026 1.027433 14.661894 3.08233 4.22087 2.054897 7.747464 4.8595114 10.57989 8.4139278 2.832426 3.5544162 4.970598 7.6919168 6.414578 12.412626 1.443982 4.7207092 2.165962 9.6912636 2.165962 14.9118126zm72.476408-14.8285064h3.332248c0-9.5524938-2.776846-16.494609-8.330622-20.8265538-5.553774-4.3319448-13.106796-6.4978848-22.65929-6.4978848-5.331624 0-9.830114.666443-13.495606 1.9993492-3.665492 1.332906-6.664486 3.0545506-8.997072 5.1649854-2.332586 2.1104346-3.998694 4.4429854-4.998372 6.997722-.99968 2.5547368-1.499512 4.9983612-1.499512 7.330947 0 4.6651714.833054 8.3861452 2.499186 11.1630328 1.666132 2.7768878 4.276368 4.9428278 7.830784 6.4978848 2.443662 1.1107552 5.220508 2.1104198 8.330622 2.9990238s6.720014 1.8327318 10.829808 2.8324114c3.665492.888604 7.275392 1.7771948 10.829808 2.6657988s6.692252 2.082648 9.413602 3.5821672c2.72135 1.4995194 4.942826 3.4155432 6.664498 5.748129 1.72167 2.3325856 2.582492 5.3871164 2.582492 9.1636836 0 3.665492-.860822 6.775559-2.582492 9.330296-1.721672 2.554737-3.91538 4.637371-6.581192 6.247966s-5.637038 2.776871-8.913764 3.498861c-3.276728.721991-6.470102 1.082981-9.580216 1.082981-10.10787 0-17.855272-2.249245-23.242434-6.747803s-8.080702-11.5795158-8.080702-21.2430852h-3.33225c0 10.7743242 2.91569 18.6605672 8.747154 23.6589652s14.467454 7.497559 25.908232 7.497559c3.665492 0 7.358698-.416527 11.079728-1.249593 3.721028-.833066 7.053244-2.193721 9.996744-4.082004 2.943502-1.888284 5.33159-4.331909 7.164336-7.330947 1.832746-2.999039 2.749104-6.664476 2.749104-10.9964208 0-4.1097938-.805284-7.4420092-2.41588-9.9967458-1.610594-2.5547368-3.720998-4.6651398-6.331272-6.3312724s-5.553732-2.9712504-8.830458-3.9153922c-3.276728-.9441418-6.581176-1.860501-9.91344-2.749105-4.665172-1.2218306-8.747136-2.2770322-12.246014-3.1656362-3.498878-.8886042-6.747788-1.9438056-9.746828-3.1656362-2.887962-1.2218306-5.192744-2.9712436-6.914416-5.2482916-1.72167-2.277048-2.582492-5.5259578-2.582492-9.7468272 0-.7775286.222148-2.1659516.66645-4.1653108s1.499504-4.0264568 3.165636-6.0813538c1.666132-2.0548968 4.22083-3.8876152 7.664172-5.4982102 3.44334-1.6105948 8.163978-2.4158802 14.162056-2.4158802 4.109794 0 7.858536.4442954 11.24634 1.3328994 3.387802.8886042 6.30349 2.3047956 8.747152 4.248617s4.331916 4.4152144 5.664822 7.4142532 1.99935 6.6644756 1.99935 10.9964204zm77.141556 0h3.332248c0-9.5524938-2.776846-16.494609-8.330622-20.8265538s-13.106796-6.4978848-22.65929-6.4978848c-5.331624 0-9.830116.666443-13.495608 1.9993492-3.66549 1.332906-6.664484 3.0545506-8.99707 5.1649854-2.332586 2.1104346-3.998694 4.4429854-4.998374 6.997722-.999678 2.5547368-1.499512 4.9983612-1.499512 7.330947 0 4.6651714.833054 8.3861452 2.499188 11.1630328 1.666132 2.7768878 4.276368 4.9428278 7.830784 6.4978848 2.44366 1.1107552 5.220506 2.1104198 8.330622 2.9990238 3.110114.888604 6.720014 1.8327318 10.829808 2.8324114 3.66549.888604 7.27539 1.7771948 10.829808 2.6657988 3.554416.888604 6.692252 2.082648 9.413602 3.5821672 2.72135 1.4995194 4.942826 3.4155432 6.664496 5.748129 1.721672 2.3325856 2.582494 5.3871164 2.582494 9.1636836 0 3.665492-.860822 6.775559-2.582494 9.330296-1.72167 2.554737-3.915378 4.637371-6.58119 6.247966s-5.637038 2.776871-8.913766 3.498861c-3.276726.721991-6.4701 1.082981-9.580214 1.082981-10.107872 0-17.855272-2.249245-23.242434-6.747803s-8.080704-11.5795158-8.080704-21.2430852h-3.332248c0 10.7743242 2.915688 18.6605672 8.747152 23.6589652 5.831466 4.998398 14.467456 7.497559 25.908234 7.497559 3.665492 0 7.358696-.416527 11.079726-1.249593s7.053246-2.193721 9.996746-4.082004c2.943502-1.888284 5.331588-4.331909 7.164334-7.330947 1.832746-2.999039 2.749106-6.664476 2.749106-10.9964208 0-4.1097938-.805286-7.4420092-2.41588-9.9967458-1.610596-2.5547368-3.720998-4.6651398-6.331272-6.3312724-2.610276-1.6661326-5.553732-2.9712504-8.83046-3.9153922-3.276726-.9441418-6.581174-1.860501-9.91344-2.749105-4.66517-1.2218306-8.747134-2.2770322-12.246012-3.1656362-3.49888-.8886042-6.74779-1.9438056-9.746828-3.1656362-2.887964-1.2218306-5.192746-2.9712436-6.914416-5.2482916s-2.582492-5.5259578-2.582492-9.7468272c0-.7775286.222148-2.1659516.66645-4.1653108s1.499502-4.0264568 3.165636-6.0813538c1.666132-2.0548968 4.22083-3.8876152 7.664172-5.4982102 3.44334-1.6105948 8.163978-2.4158802 14.162056-2.4158802 4.109794 0 7.858536.4442954 11.246338 1.3328994 3.387804.8886042 6.303492 2.3047956 8.747154 4.248617 2.44366 1.9438214 4.331916 4.4152144 5.664822 7.4142532s1.99935 6.6644756 1.99935 10.9964204z"
						fill="#222"></path></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://expressjs.com/"
			>
				<h3>Express</h3>
			</a>
			<div class="sponsorship-description">
				<p>A fast, minimalist web framework for Node.js.</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://expressjs.com/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/expressjs/express">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://revealjs.com/#/"
			>
				<svg
					height="196"
					viewBox="0 0 196 196"
					width="196"
					xmlns="http://www.w3.org/2000/svg"
					><g fill="none" fill-rule="evenodd"
						><path d="m0 0h196v196h-196z" fill="#222"></path><path
							d="m110.485 149.66-15.95-43.79h-9.715v43.79h-16.82v-102.66h29.29c4.253355 0 8.168315.5558278 11.745 1.6675s6.645821 2.8758212 9.2075 5.2925 4.567493 5.4616483 6.0175 9.135 2.175 8.071641 2.175 13.195c0 3.9633532-.507495 7.4674848-1.5225 10.5125s-2.295826 5.6308227-3.8425 7.7575-3.262491 3.8424935-5.1475 5.1475c-1.885009 1.305007-3.745824 2.199164-5.5825 2.6825l18.415 47.27zm-1.16-72.5c0-3.0933488-.434996-5.6549898-1.305-7.685s-2.005826-3.6249942-3.4075-4.785-2.972491-1.9816642-4.7125-2.465c-1.7400087-.4833358-3.4799913-.725-5.22-.725h-9.86v31.61h9.86c4.2533546 0 7.757486-1.3291534 10.5125-3.9875s4.1325-6.6458067 4.1325-11.9625z"
							fill="#fff"></path></g
					></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://revealjs.com/#/"
			>
				<h3>REVEAL.JS</h3>
			</a>
			<div class="sponsorship-description">
				<p>
					A framework for making powerpoint-like presentations using HTML, CSS
					and JS.
				</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://revealjs.com/#/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/hakimel/reveal.js">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://threejs.org/"
			>
				<svg
					height="108.4"
					viewBox="0 0 500 108.4"
					width="500"
					xmlns="http://www.w3.org/2000/svg"
					><path
						d="m15.2 11.1 10.1-1.7c0 .8-.1 1.5-.3 2.1s-.4 1.1-.5 1.4l-1.6 14h19.4v7.5h-19.3c-.8 7.7-1.2 14.9-1.2 21.7 0 4.2.1 7.7.3 10.5s.6 5.1 1.4 6.8c.7 1.6 1.8 2.9 3.2 3.8s3.2 1.4 5.6 1.4c4 0 8.4-1.8 13.2-5.4l2.9 7.4c-5.9 4.4-12.1 6.6-18.3 6.6s-10.7-1.9-13.6-5.6c-2.8-3.8-4.1-9.9-3.9-18.3 0-3.1.1-7.1.3-11.9s.5-10.4 1-16.8h-13.9v-7.5h14.2zm49.4 74.8v-85.9h10.6c0 .1 0 .1.1.1 0 0 .1 0 .1.1 0 .3-.2.6-.6 1.1s-.7 1.1-.8 1.7v34.2c2.3-3.6 5.3-6.5 8.8-8.7s7.1-3.2 10.7-3.2c2.7 0 5.1.5 7.3 1.4s4.1 2.3 5.8 4.3c1.6 2 2.9 4.5 3.8 7.6s1.3 6.9 1.3 11.4v35.8h-9.3v-35.4c0-6.2-1.1-10.5-3.2-13s-4.7-3.7-7.7-3.7c-2 0-4 .4-5.9 1.3-2 .9-3.9 2.1-5.7 3.6-1.9 1.6-3.3 3.4-4.3 5.7-1 2.2-1.5 4.8-1.5 7.8v34h-9.5zm68.3-59h9.6l-.3 11.4c1.8-4.1 4.7-7.3 8.6-9.5s8.1-3.3 12.6-3.3c6.4 0 11.7 2.2 15.8 6.5l-4.3 8.9c-1-1.3-1.8-2.4-2.6-3.2-.8-.9-1.6-1.6-2.5-2.2s-1.9-1.1-3-1.4-2.4-.5-4-.5c-2.9 0-5.5.7-8 2s-4.7 3.1-6.5 5.3c-1.9 2.2-3.4 4.7-4.5 7.6-1.1 2.8-1.7 5.8-1.7 8.9v28.6h-9.3v-59.1zm85.3-1.4c3.1 0 6.1.6 9 1.7s5.5 2.8 7.7 5.1 4 5.2 5.3 8.7 2 7.7 2 12.5c0 .7 0 1.4-.1 2.1 0 .7-.1 1.4-.2 2.1h-42c.2 4.1.9 7.6 2.1 10.4s2.8 5.1 4.7 6.8 4 3 6.3 3.7 4.7 1.1 7 1.1c6.1 0 11.2-2.2 15.2-6.6l5.2 5c-5 6-11.9 9-20.7 9-4.3 0-8.2-.7-11.8-2s-6.6-3.3-9.1-5.9-4.4-5.8-5.8-9.6-2.1-8.2-2.1-13.1c0-5 .7-9.4 2.1-13.3s3.4-7.1 5.8-9.8c2.5-2.6 5.3-4.6 8.6-6 3.5-1.3 7-1.9 10.8-1.9zm-17.8 24.8h32.4c0-.3 0-.7.1-1 0-.3.1-.7.1-1.1 0-2.1-.4-4.1-1.2-6s-1.9-3.6-3.3-5-3-2.5-4.8-3.4c-1.9-.8-3.9-1.3-6-1.3-4 0-7.7 1.4-11 4.3-3.4 2.9-5.5 7.3-6.3 13.5zm82.4-24.8c3.1 0 6.1.6 9 1.7s5.5 2.8 7.7 5.1 4 5.2 5.3 8.7 2 7.7 2 12.5c0 .7 0 1.4-.1 2.1 0 .7-.1 1.4-.2 2.1h-42c.2 4.1.9 7.6 2.1 10.4s2.8 5.1 4.7 6.8 4 3 6.3 3.7 4.7 1.1 7 1.1c6.1 0 11.2-2.2 15.2-6.6l5.2 5c-5 6-11.9 9-20.7 9-4.3 0-8.2-.7-11.8-2s-6.6-3.3-9.1-5.9-4.4-5.8-5.8-9.6-2.1-8.2-2.1-13.1c0-5 .7-9.4 2.1-13.3s3.4-7.1 5.8-9.8c2.5-2.6 5.3-4.6 8.6-6 3.5-1.3 7-1.9 10.8-1.9zm-17.8 24.8h32.4c0-.3 0-.7.1-1 0-.3.1-.7.1-1.1 0-2.1-.4-4.1-1.2-6s-1.9-3.6-3.3-5-3-2.5-4.8-3.4c-1.9-.8-3.9-1.3-6-1.3-4 0-7.7 1.4-11 4.3-3.4 2.9-5.5 7.3-6.3 13.5zm85.1 24.4c1.6 1.6 2.3 3.3 2.3 5.3s-.8 3.7-2.3 5.2-3.3 2.2-5.5 2.2-4-.7-5.4-2.1c-1.5-1.4-2.2-3.2-2.2-5.2s.8-3.8 2.3-5.3c1.6-1.5 3.3-2.2 5.3-2.2 2.1-.1 3.9.6 5.5 2.1zm44.7-47.8h31.4v56.2c0 4.5-.6 8.3-1.8 11.4s-2.9 5.7-5 7.7-4.6 3.5-7.4 4.5-5.9 1.6-9.2 1.7c-7.6 0-13.6-2.8-18.1-8.3l6.1-8c.4.4.7.9.7 1.3s.2.9.5 1.4.8 1.1 1.6 1.7 2.1 1.4 3.9 2.4c1.9.9 3.9 1.4 6.1 1.4 3.9 0 7.1-1.3 9.6-3.9s3.8-6.9 3.8-12.9v-49.1h-22.1v-7.5zm22-23.8c1.3-1.3 2.9-1.9 4.8-1.9 1.8 0 3.4.6 4.7 1.9s2 2.9 2 4.8c0 1.8-.7 3.4-2 4.7s-2.9 1.9-4.7 1.9-3.4-.6-4.7-1.9-2-2.8-2-4.7.6-3.5 1.9-4.8zm82.2 31.7-5.4 8.1c-.4-.1-.7-.4-.7-1s-.1-1-.3-1.3c-1.6-2-3.8-3.8-6.6-5.5-2.9-1.7-6.1-2.5-9.8-2.5-1.7 0-3.2.2-4.8.6-1.5.4-2.9.9-4 1.6-1.2.7-2.1 1.6-2.8 2.6-.7 1.1-1 2.3-1 3.7 0 1 .3 2 .8 2.8s1.3 1.6 2.5 2.4c1.1.8 2.7 1.6 4.7 2.3 2 .8 4.7 1.6 8 2.6 7.5 2 12.7 4.3 15.8 7s4.6 6.1 4.6 10c0 2.6-.6 5-1.7 7.4-1.1 2.3-2.8 4.4-4.9 6.1-2.2 1.7-4.7 3.1-7.8 4.1-3 1-6.4 1.5-10.2 1.5-9.9 0-18.2-3.1-24.9-9.3l5.3-9.3c.3.3.4.7.5 1.3s.4 1.3.9 2c.5.8 1.5 1.7 2.9 2.7s3.5 2.1 6.4 3.4c1.3.6 2.8 1.1 4.4 1.3 1.6.3 3.3.4 4.9.4 1.7 0 3.5-.2 5.3-.6s3.4-1.1 4.8-1.9 2.6-1.8 3.5-3 1.3-2.5 1.3-4c0-2.3-1-4.2-3.1-5.7-2.1-1.6-5.9-3.2-11.5-4.8-3.8-1.1-6.3-1.9-7.5-2.3-3.1-1.2-5.4-2.3-6.8-3.2s-2.6-2-3.8-3.2c-1.1-1.3-2-2.7-2.7-4.3s-1-3.4-1-5.3c0-2.1.6-4.1 1.7-6s2.7-3.6 4.7-5.1 4.4-2.7 7.2-3.6 5.8-1.4 9.1-1.4c9 .1 16.4 3.2 22 9.4z"
						fill="#555"></path></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://threejs.org/"
			>
				<h3>three.js</h3>
			</a>
			<div class="sponsorship-description">
				<p>
					A JavaScript library used to create and display animated 3D computer
					graphics in a web browser.
				</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://threejs.org/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/mrdoob/three.js/">Code on GitHub</a
				>
			</div>
		</div>

		<div class="sponsorship">
			<a
				class="sponsorship-icon"
				target="_blank"
				rel="noopener noreferrer"
				href="https://getbootstrap.com/"
			>
				<svg
					enable-background="new 0 0 612 612"
					viewBox="0 0 612 612"
					xmlns="http://www.w3.org/2000/svg"
					><path
						d="m612 510c0 56.1-45.9 102-102 102h-408c-56.1 0-102-45.9-102-102v-408c0-56.1 45.9-102 102-102h408c56.1 0 102 45.9 102 102z"
						fill="#563d7c"></path><path
						d="m166.3 133h173.5c32 0 57.7 7.3 77 22s29 36.8 29 66.5c0 18-4.4 33.4-13.2 46.2s-21.4 22.8-37.8 29.8v1c22 4.7 38.7 15.1 50 31.2 11.3 16.2 17 36.4 17 60.8 0 14-2.5 27.1-7.5 39.2-5 12.2-12.8 22.7-23.5 31.5s-24.3 15.8-41 21-36.5 7.8-59.5 7.8h-164zm62.5 149.5h102c15 0 27.5-4.2 37.5-12.8s15-20.8 15-36.8c0-18-4.5-30.7-13.5-38s-22-11-39-11h-102zm0 156.5h110.5c19 0 33.8-4.9 44.2-14.8 10.5-9.8 15.8-23.8 15.8-41.8 0-17.7-5.2-31.2-15.8-40.8s-25.2-14.2-44.2-14.2h-110.5z"
						fill="#fff"></path></svg
				>
			</a>
			<a
				class="sponsorship-title"
				target="_blank"
				rel="noopener noreferrer"
				href="https://getbootstrap.com/"
			>
				<h3>Bootstrap</h3>
			</a>
			<div class="sponsorship-description">
				<p>A responsive, mobile-first HTML, CSS and JS styling library.</p>
			</div>
			<div class="sponsorship-links">
				<a
					class="sponsorship-link-site more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://getbootstrap.com/">Visit site</a
				>
				<a
					class="sponsorship-link-github more"
					target="_blank"
					rel="noopener noreferrer"
					href="https://github.com/twbs/bootstrap">Code on GitHub</a
				>
			</div>
		</div>
	</div>
</StarlightPage>

<style>
	.sponsorship-grid {
		display: flex;
		justify-content: center;
		align-items: flex-center;
		flex-wrap: wrap;
		margin: 0;
	}

	@media (max-width: 420px) {
		.sponsorship-grid {
			margin-left: -1em;
			margin-right: -1em;
		}
	}

	.sponsorship-grid .sponsorship {
		display: flex;
		flex-flow: column;
		width: 16em;
		text-align: left;
		margin: 0.75em;
		background: var(--sl-color-bg-nav);
		text-decoration: none;
	}

	@media (max-width: 48em) {
		.sponsorship-grid .sponsorship {
			font-size: 0.8em;
			width: 14em;
		}
	}

	@media (max-width: 420px) {
		.sponsorship-grid .sponsorship {
			width: auto;
			font-size: 0.95em;
		}
	}

	.sponsorship-grid .sponsorship .sponsorship-icon {
		position: relative;
	}

	.sponsorship-grid .sponsorship .sponsorship-icon:after {
		content: "";
		display: block;
		height: 0;
		width: 100%;
		padding-bottom: 66%;
	}

	.sponsorship-grid .sponsorship .sponsorship-icon:hover {
		opacity: 0.8;
	}

	.sponsorship-grid .sponsorship .sponsorship-icon svg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 6em;
		width: 6em;
		margin: auto;
		max-width: 100%;
		max-height: 100%;
	}

	.sponsorship-grid .sponsorship .sponsorship-title {
		display: block;
		padding: 0 1.5em;
		text-decoration: none;
	}

	.sponsorship-grid .sponsorship .sponsorship-title > h3 {
		font-weight: 500;
		margin: 0;
	}

	@media (max-width: 48em) {
		.sponsorship-grid .sponsorship .sponsorship-title > h3 {
			font-size: 1.25em;
		}
	}

	.sponsorship-grid .sponsorship .sponsorship-title:not(:hover) {
		color: inherit;
	}

	.sponsorship-grid .sponsorship .sponsorship-description {
		padding: 0.5em 1.5em;
	}

	.sponsorship-grid .sponsorship .sponsorship-description > :last-child {
		margin-bottom: 0;
	}

	.sponsorship-grid .sponsorship .sponsorship-links {
		margin-top: auto;
		padding-bottom: 1.125em;
	}

	.sponsorship-grid .sponsorship .sponsorship-links > a {
		color: #0055dc;
		padding: 0.375em 1.5em;
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-decoration: none;
		font-weight: 500;
	}

	.sponsorship-grid .sponsorship .sponsorship-links > a:hover {
		background: #0055dc;
		color: #fff;
	}
</style>
