---
import { getEntry } from "astro:content";
import { z } from "astro:schema";

type Props = z.infer<typeof props>;

const props = z.object({
	type: z.enum(["apps", "videos"]),
	tags: z.string().array().optional(),
	products: z.string().array().optional(),
	cloudflareOnly: z.boolean().default(true),
});

const { type, tags, products, cloudflareOnly } = props.parse(Astro.props);

const resources = await getEntry(type, "index");

const filtered = resources.data.entries.filter((entry) => {
	return (
		(cloudflareOnly ? entry.cloudflare : true) &&
		(tags ? entry.tags?.some((v: string) => tags.includes(v)) : true) &&
		(products
			? entry.products?.some((v: string) => products.includes(v))
			: true)
	);
});

filtered.sort((a, b) => Number(b.updated) - Number(a.updated));
---

<ul>
	{
		filtered.map((entry) => {
			const title = "name" in entry ? entry.name : entry.title;
			return (
				<li>
					<>
						<a href={entry.link}>{title}:</a>
						<span>{entry.description}</span>
					</>
				</li>
			);
		})
	}
</ul>
