<!-- OneTrust Cookies Consent Notice start for cloudflare.com -->
<script is:inline src="https://www.cloudflare.com/vendor/onetrust/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="b1e05d49-f072-4bae-9116-bdb78af15448" ></script>
<script is:inline type="text/javascript"> function OptanonWrapper() { } </script>
<!-- OneTrust Cookies Consent Notice end for cloudflare.com --> 

<span class="DocsFooter--content-additional-wrapper">
  <!-- OneTrust Cookies Settings button start -->
  <a role="button" id="ot-sdk-btn" class="ot-sdk-show-settings"
    >Cookie Settings</a
  >
  <!-- OneTrust Cookies Settings button end -->
</span>

<style>
  #ot-sdk-btn.ot-sdk-show-settings {
    border: none !important;
    color: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
    padding: inherit !important;
    font-family: var(--sl-font-family) !important;
  }

  #ot-sdk-btn.ot-sdk-show-settings:hover {
    background-color: inherit !important;
  }
</style>
