---
import { getCollection } from "astro:content";
import { z } from "astro:schema";

type Props = z.infer<typeof props>;

const props = z
	.object({
		tags: z.string().array(),
	})
	.strict();

const { tags } = props.parse(Astro.props);

const products = await getCollection("products", (product) => {
	return product.data.product.tags?.some((v: string) => tags.includes(v));
});
---

<ul>
	{
		products.map((product) => (
			<li>
				<a href={product.data.product.url}>{product.data.product.title}</a>
			</li>
		))
	}
</ul>
