---
import { z } from "astro:schema";

type Props = z.infer<typeof props>;

const props = z
	.object({
		id: z.string(),
		title: z.string().optional(),
	})
	.strict();

let { id, title } = props.parse(Astro.props);

if (!title) {
	title = `YouTube video with ID ${id}`;
}
---

<div style="position: relative; padding-top: 56.25%">
	<iframe
		src=`https://www.youtube-nocookie.com/embed/${id}`
		title="YouTube video player"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
		referrerpolicy="strict-origin-when-cross-origin"
		allowfullscreen
	>
	</iframe>
</div>
