{{ $DATA := (index $.Site.Data .Section) }}
{{ $productName := $DATA.product.title }}

{{- if ne $productName "Support" -}}

{{- if ne $productName "Learning Paths" -}}

<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a href="/products/" class="DocsMarkdown--link" itemprop="item">
        <span itemprop="name" class="DocsMarkdown--link-content">Products</span></a>
      <meta itemprop="position" content="1" />
    </li>

{{- end -}}
      
    {{- $rellink := "" -}}
    {{- $title := "" -}}
    {{- $length :=  sub (len (split .RelPermalink "/")) 1 -}}
    {{- range $index, $item := (split .RelPermalink "/") -}}
      {{- if gt (len $item ) 0 -}}
      
        {{- $rellink = printf "%s/%s" $rellink (urls.Parse $item).Path -}}
        {{- $page := $.Site.GetPage $rellink -}}
        
      {{- if eq ($page.RelPermalink | strings.Count "/" ) 2 -}}
        {{- $title =  $productName -}}
      {{- else if and (ge $length 5) (gt (sub $length $index) 2) (ne $productName "Learning Paths") -}}
        {{- $title = "..." -}}
      {{- else -}}
        {{- $title = $page.Title -}}
      {{- end -}}
      {{- if and (eq $productName "Learning Paths") (eq $index 1) -}}
      <!-- Need different structure for learning path nav -->
      <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="/learning-paths/" class="DocsMarkdown--link" itemprop="item">
            <span itemprop="name" class="DocsMarkdown--link-content">Learning Paths</span></a>
          <meta itemprop="position" content="1" />
        </li>
      {{- else -}}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{- print $rellink "/" -}}" itemprop="item" class="DocsMarkdown--link" {{if eq $title "..."}}aria-label="{{- $page.Title -}}" title="{{- $page.Title -}}"{{end}}>
            <span class="DocsMarkdown--link-content" {{if ne $title "..."}} itemprop="name" {{end}}>{{- $title -}}</span></a>
          {{- if eq $title "..." -}}
          <meta itemprop="name" content="{{$page.Title}}" />
          {{- end -}}
          <meta itemprop="position" content="{{add $index 1}}" />
        </li>
      {{- end -}}
      {{- end -}}
    {{- end -}}
  </ol>

  {{- end -}}
