{{- $dataArray := slice }}

{{- range readDir "data" -}}
{{- if in .Name ".yml" -}}
{{- $productName :=  replace .Name ".yml" "" -}}
{{- $productData := index site.Data $productName -}}
{{- with index $productData "product" -}}
{{- $additional_groups := slice -}}
{{- range .additional_groups -}}
  {{- $additional_groups = $additional_groups | append . -}}
{{- end -}}
{{- $tags := slice -}}
{{- range .tags -}}
  {{- $tags = $tags | append . -}}
{{- end -}}

{{- $dataArray = $dataArray | append
(dict "group" .group "title" .title  "show" (default true .show) "url"
.url "wrap" (default false .wrap) "preview_tryout" (default false .preview_tryout)
"additional_groups" (default (slice) ($additional_groups)) "tags" (default (slice) ($tags))) -}}
{{- end -}}
{{- end -}}
{{- end -}}

{{- return $dataArray -}}