{{ $DATA := (index $.Site.Data .Section) }}
{{- $page := . -}}

<footer class="DocsFooter">
  <div class="DocsFooter--content">
    <div class="DocsFooterResources">      
      <span class="DocsFooter--content-additional-wrapper">
        {{- $url := default "https://dash.cloudflare.com" $DATA.resources.dashboard_link -}} {{- partial
        "external.link" (dict "text" "Cloudflare Dashboard" "url" $url) }}
      </span>
      
      <span class="DocsFooter--content-dot-spacer"> &nbsp; · &nbsp; </span>

      {{ with $DATA.resources.discord }}
      <span class="DocsFooter--content-additional-wrapper">
        {{- $url := "https://discord.cloudflare.com" -}} {{- partial
        "external.link" (dict "text" "Discord" "url" $url) }}
      </span>

      <span class="DocsFooter--content-dot-spacer"> &nbsp; · &nbsp; </span>

      {{ end }}
      <span class="DocsFooter--content-additional-wrapper">
        {{- $url := default "https://community.cloudflare.com" $DATA.resources.community -}} {{- partial
        "external.link" (dict "text" "Community" "url" $url) }}
      </span> 
      
      <span class="DocsFooter--content-dot-spacer"> &nbsp; · &nbsp; </span>

      <span class="DocsFooter--content-additional-wrapper">
        {{- with $page.Params.learning_center -}}
        {{- partial "external.link" (dict "text" .title "url" .link ) }}
        {{- else -}}
        {{- $url := default "https://www.cloudflare.com/learning/" $DATA.resources.learning_center -}} {{- partial
        "external.link" (dict "text" "Learning Center" "url" $url) }}
        {{- end -}}
      </span>

      <span class="DocsFooter--content-dot-spacer"> &nbsp; · &nbsp; </span>

      <span class="DocsFooter--content-additional-wrapper">
        {{- $url := "/support/contacting-cloudflare-support/" -}} {{- partial
        "external.link" (dict "text" "Support Portal" "url" $url) }}
      </span>

      <span class="DocsFooter--content-dot-spacer"> &nbsp; · &nbsp; </span>

      <span class="DocsFooter--content-additional-wrapper">
        <!-- OneTrust Cookies Settings button start -->
          <a role="button" id="ot-sdk-btn" class="ot-sdk-show-settings">Cookie Settings</a>
        <!-- OneTrust Cookies Settings button end -->
      </span>
    </div>
    <div>
      <span class="DocsFooter--edit-on-gh-link-wrapper">
        {{- with .File -}} {{- $url := (printf
        "https://github.com/cloudflare/cloudflare-docs/blob/production/content/%s"
        (replace .Path "\\" "/")) -}} {{- partial "external.link" (dict "text" "Edit on GitHub"
        "url" $url) }} {{- end -}}
      </span>

      {{- with .Params.pcx_content_type -}}
      {{- if ne . "changelog" -}}

      <span class="DocsFooter--content-dot-spacer"> &nbsp; · &nbsp; </span>

      <span class="DocsFooter--content-time">
        Updated {{ partial "datetime" $page.Lastmod }}
      </span>
      {{- end -}}
      {{- end -}}
    </div>
  </div>
  {{- partial "script" (dict "src" "lightbox.js" "defer" true) -}}
  <link rel="stylesheet" href="/lightbox.css">
</footer>
