{{- $changelogData := dict -}}
{{- $changelogRaw := index site.Data "changelogs" -}}

{{- range $key, $product := $changelogRaw -}}
{{- $productEntries := slice -}}
{{- $productArea := "" -}}
{{- $productAreaLink := "" -}}
{{- with $product.productArea -}}
{{- $productArea = . -}}
{{- end -}}
{{- with $product.productAreaLink -}}
{{- $productAreaLink = . -}}
{{- end -}}
{{- range $index2, $item := $product.entries -}}
{{- $productEntries = $productEntries | append (merge $item (dict "product" $product.productName "url" $product.link "productLink" $product.productLink "productArea" $productArea "productAreaLink" $productAreaLink)) -}}
{{- end -}}
{{- $productData := merge $product (dict "entries" $productEntries) -}}
{{- $changelogData = merge $changelogData (dict $key $productData)}}
{{- end -}}

{{- $wrangler := partial "wrangler-changelog.html" -}}
{{- $changelogData = merge $changelogData $wrangler -}}
{{- return $changelogData -}}