{{- $id := .id -}}
{{- $length := .length -}}
{{- $prepend := .prepend -}}
{{- $showFullDefinition := false -}}
{{- $glossaryData := partialCached "glossary-retrieval.html" . -}}
{{- $term_info := index $glossaryData $id -}}

{{- if not $term_info -}}
  {{- errorf "%s is not a valid glossary term_id, refer to ./data/glossary/* for a full list" $id -}}
{{- end -}}

{{- if or (eq "long" $length) (eq "all" $length) -}}
  {{- $showFullDefinition = true -}}
{{- else if (eq "short" $length) -}}
  {{- $showFullDefinition = false -}}
{{- else -}}
  {{- errorf "[%s]: invalid glossary definition length" $length -}}
{{- end -}}

{{- $rawDefinition := $term_info.definition }}
{{- if $prepend -}}
{{- $rawDefinition = printf "%s%s" $prepend $rawDefinition -}}
{{- end -}}

{{- $definition := $rawDefinition | strings.FirstUpper -}}

{{- if not $showFullDefinition -}}
{{- $definition = index (index (findRESubmatch `([^\n]+)` $definition 1) 0) 0 -}}
{{- end -}}

{{- return $definition -}}