{{- $siteGlossaries := index site.Data "glossary" -}} 

{{- $glossaryEntries := dict -}} 
{{- $products := slice -}}

{{- range $index, $productGlossary := $siteGlossaries -}}
{{- range $index2, $item := $productGlossary.entries -}}
{{- $products = slice -}}
{{- $products = $products | append $productGlossary.productName -}}
{{- with $item.associated_products -}}
{{- $products = $products | append . -}}
{{- end -}}
{{- $products = uniq (sort $products) -}}
{{- $glossaryEntries = merge $glossaryEntries (dict $item.term (
    dict "word" $item.term "products" (delimit $products ", ") "definition" $item.general_definition)) -}}
{{- end -}} 
{{- end -}}

{{- return $glossaryEntries -}}