{{/* @see :: data/<Product>.yml */}}
  {{- $DATA := (index .Context.Site.Data .Product) -}}
  {{- $META := merge $DATA.meta (default dict .Context.Params.meta) -}}
  {{- $metaTruncateLength := 150 -}}
  {{- $title := "" -}}
  {{- $rellink := .Context.RelPermalink -}}

  <!-- Evaluate content type against standards -->

  {{- $availableContentTypes := slice
    "changelog" "concept" "configuration" "faq" "get-started" "glossary"
    "how-to" "integration-guide" "learning-path" "learning-unit" "migration" 
    "navigation" "overview" "reference" "reference-architecture" "troubleshooting"
    "tutorial"
    -}}

  <!-- Pull the product group -->

  {{- $productGroup := "" -}}
  {{- with $DATA.product.group -}}
  {{- $productGroup = . -}}
  {{- else -}}
  <!-- Special behavior for learning paths -->
  {{- if or (eq .Context.Params.pcx_content_type "learning-path") (eq .Context.Params.layout "learning-module") (eq .Context.Params.layout "learning-unit") -}}
  {{- $learningPathArray := index .Context.Site.Data "learning-paths" -}}
  {{- range $index, $item := $learningPathArray -}}
  {{- if eq (printf "%T" $item) "map[string]interface {}" -}}
  {{- with $item.path -}}
  {{- if (in $rellink .) -}}
  {{- with $item.product_group -}}
  {{- $productGroup = . -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}

  <!-- Choose the preview image based on the product group -->
  {{- $imagePlaceholder := "/cf-twitter-card.png" | absURL -}}
  {{- $imageDict := dict
  "Cloudflare essentials" "/core-services-preview.png"
  "Cloudflare One" "/zt-preview.png"
  "Developer platform" "/dev-products-preview.png"
  "Network security" "/core-services-preview.png"
  "Performance" "/core-services-preview.png"
  "Security" "/core-services-preview.png"
  -}}

  {{- range $key, $value := $imageDict -}}
  {{- if eq $key $productGroup -}}
  {{- $imagePlaceholder = $value | absURL -}}
  {{- end -}}
  {{- end -}}

  {{- $pt := default .Context.Title .Context.Params.meta.title -}}
  {{- if or (eq .Context.Params.layout "learning-module") (eq .Context.Params.layout "learning-unit") -}}
  {{- $titleAddition := "" -}}
  {{- if eq (len .Context.Ancestors) 4 -}}
    {{- $titleAddition = printf " · %s" (index .Context.Ancestors 1).Title -}}
  {{- else -}}
    {{- $titleAddition = printf " · %s" (index .Context.Ancestors 0).Title -}}
  {{- end -}}
  
  {{- $title = print .Context.Title $titleAddition " · Learning paths" -}}

  {{- else -}}
  {{- $title = printf "%s · %s" $pt $DATA.meta.title -}}
  {{- end -}}
  {{- $description := (partial "seo-meta-description.html" (dict "meta" $META "content" .Context.Content "params"
  .Context.Params "truncate" $metaTruncateLength "plainify" true )) -}}

  {{- $rssPath := "https://github.com/cloudflare/cloudflare-docs/commits/production/content" -}}
  {{- $contentPath := replaceRE `\/$` "" .Context.RelPermalink -}}
  {{- $folderPlaceholder := "" -}}
  {{ $rssFeed := "" }}

  {{- if (eq $.Context.Params.no_index true ) -}}
  <meta name="robots" content="noindex">
  {{- end -}}

  <meta charset="utf-8">
  <title>{{ $title }}</title>
  <meta http-equiv="cleartype" content="on" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="application-name" content="{{ $title }}" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="apple-mobile-web-app-title" content="{{ $title }}" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="theme-color" content="#f38020" />

  <meta name="description" content="{{ $description }}" />

  <meta property="og:image" content="{{ $imagePlaceholder }}" />
  <meta property="og:title" content="{{ $title }}" />
  <meta property="og:description" content="{{ $description }}" />
  <meta property="og:type" content="website" />

  <meta name="twitter:title" content="{{ $title }}" />
  <meta name="twitter:image" content="{{ $imagePlaceholder }}" />
  <meta name="twitter:description" content="{{ $description }}" />
  <meta name="twitter:card" content="summary_large_image" />

  <!-- Add metadata for reporting -->
  {{- if or (ne .Context.Params.layout "home") (eq .Context.Params.pcx_content_type "learning-path") -}}
  {{- $product := replace (delimit (findRE `\/.*?\/` $rellink 1) "") "/" "" -}}
  <meta name="pcx_product" content="{{- $product -}}">
  {{- end -}}

  <meta name="pcx_word_count" content="{{- $.Context.FuzzyWordCount -}}">
  {{- $lastMod := $.Context.Lastmod.Format "2006-01-02"  | time -}}
  {{- $diffMod := now.Sub $lastMod -}}
  {{- $lastModifiedDays := math.Round (div $diffMod.Hours 24) -}}
  <meta name="pcx_last_modified" content="{{- $lastModifiedDays -}}">
  
  {{- with .Context.Params.updated -}}
  {{- $lastReview := . | time -}}
  {{- $diffReview := now.Sub $lastReview -}}
  <meta name="pcx_last_reviewed" content="{{- math.Round (div $diffReview.Hours 24) -}}" />
  {{- else -}}
  <meta name="pcx_last_reviewed" content="Not set" />
  {{- end -}}

  {{- with .Context.Params.pcx_content_type -}}
  {{- if in $availableContentTypes . -}}
  <meta name="pcx_content_type" content="{{ . }}" />
  {{- else -}}
  <meta name="pcx_content_type" content="Invalid content type" />
  {{- end -}}
  {{- else -}}
  <meta name="pcx_content_type" content="Not set" />
  {{- end -}}

  {{- if ne $productGroup "" -}}
  <meta name="pcx_content_group" content="{{$productGroup}}" />
  {{- end -}}

    <!--Add rss feed links if specified-->
  {{ with $.Context.Params.rss -}}
  {{ if eq . "folder" }}

  {{ $folderPlaceholder = ".atom" }}

  {{ else if eq . "file" }}

  {{ $folderPlaceholder = ".md.atom" }}

  {{ end }}

  {{ if or (eq . "folder") (eq . "file") }}

  {{ $rssFeed = printf "%s%s%s" $rssPath $contentPath $folderPlaceholder }}
  {{ printf `
  <link rel="alternate" type="application/rss+xml" href="%s" title="%s - RSS Feed" />` $rssFeed $pt | safeHTML }}

  {{ else }}

  {{ printf `
  <link rel="alternate" type="application/rss+xml" href="%s" title="%s - RSS Feed" />` . $pt | safeHTML }}

  {{ end }}


  {{ end }}
  <link rel="icon" href="/favicon-32x32.png" />
  <link rel="canonical" href="{{ .Context.Permalink }}" />
  <link rel="sitemap" href="/sitemap.xml" type="application/xml" />
  <link rel="manifest" href="/manifest.webmanifest" />

  <link rel="apple-touch-icon" sizes="48x48" href="/icons/icon-48x48.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="96x96" href="/icons/icon-96x96.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="192x192" href="/icons/icon-192x192.png" />
  <link rel="apple-touch-icon" sizes="256x256" href="/icons/icon-256x256.png" />
  <link rel="apple-touch-icon" sizes="384x384" href="/icons/icon-384x384.png" />
  <link rel="apple-touch-icon" sizes="512x512" href="/icons/icon-512x512.png" />

  {{- partial "script" (dict "src" "search.ts" "defer" true) -}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3.5.1" />
  <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3.5.1"></script>
  {{- partial "script" (dict "src" "search.ts" "defer" true) -}}

  {{- if $DATA.algolia -}}
  <script>window.algoliaConfig = {{ $DATA.algolia }}</script>
  <meta name="docsearch:product" content="{{ $DATA.algolia.product }}" />
  {{- end -}}

  {{- $coveo := index $.Context.Site.Params "coveo" -}}
  {{- if (and $coveo (eq $.Context.RelPermalink "/search/")) -}}
  <link rel="stylesheet preconnect" href="/search-coveo.css" />
  <link rel="stylesheet preconnect"
    href="https://static.cloud.coveo.com/searchui/v2.10093/4/css/CoveoFullSearch.min.css"
    integrity="sha512-KxEGMZiFvOW8ftwCreuUAE7vA7oMaV8dohgb5rHClHOg4BEq0bleZKy7B75KCdNtGbj0I+Jjy5z6i+mJ9g+yIA=="
    crossorigin="anonymous" />
  <script defer async class="coveo-script"
    src="https://static.cloud.coveo.com/searchui/v2.10093/4/js/CoveoJsSearch.Lazy.min.js"
    integrity="sha512-wq21KRc/kpKncWYC+LRC5D1mw0ZIs7EJE4V3I3w6paHXKUsnRy2tP1DF9UjEyV23lY3lzOZH0VhXBauMF7Rikw=="
    crossorigin="anonymous"></script>

  {{- $opts := dict "target" "es2015" "minify" hugo.IsProduction "format" "iife" -}}
  {{- $script := (resources.Get "search-coveo.ts") | js.Build $opts -}}

  {{- if hugo.IsProduction -}}
  {{- $script = $script | minify | fingerprint "md5" -}}
  {{- end -}}

  <script src="{{ $script.RelPermalink }}" defer data-token="{{ $coveo.token }}" data-org="{{ $coveo.org }}"></script>
  {{- else if (and $coveo (eq $.Context.RelPermalink "/tutorials/")) -}}
  {{- partial "script" (dict "src" "search.redirect.ts" "defer" true) -}}
  <link rel="stylesheet preconnect" href="/tutorial-coveo.css" />
  <link rel="stylesheet preconnect"
    href="https://static.cloud.coveo.com/searchui/v2.10093/4/css/CoveoFullSearch.min.css"
    integrity="sha512-KxEGMZiFvOW8ftwCreuUAE7vA7oMaV8dohgb5rHClHOg4BEq0bleZKy7B75KCdNtGbj0I+Jjy5z6i+mJ9g+yIA=="
    crossorigin="anonymous" />
  <script defer async class="coveo-script"
    src="https://static.cloud.coveo.com/searchui/v2.10093/4/js/CoveoJsSearch.Lazy.min.js"
    integrity="sha512-wq21KRc/kpKncWYC+LRC5D1mw0ZIs7EJE4V3I3w6paHXKUsnRy2tP1DF9UjEyV23lY3lzOZH0VhXBauMF7Rikw=="
    crossorigin="anonymous"></script>

  {{- $opts := dict "target" "es2015" "minify" hugo.IsProduction "format" "iife" -}}
  {{- $search_script := (resources.Get "search.ts") | js.Build $opts -}}
  {{- $script := (resources.Get "tutorial-coveo.ts") | js.Build $opts -}}

  {{- if hugo.IsProduction -}}
  {{- $script = $script | minify | fingerprint "md5" -}}
  {{- end -}}

  <script src="{{ $script.RelPermalink }}" defer data-token="{{ $coveo.tutorial_token }}"
    data-org="{{ $coveo.org }}"></script>
  {{- else if $coveo -}}
  {{- partial "script" (dict "src" "search.redirect.ts" "defer" true) -}}
  {{- end -}}

  {{- if (in $.Context.RelPermalink "/learning-paths/") -}}
  <link rel="stylesheet preconnect" href="/learning-paths.css" />
  {{- end -}}


  {{ if eq $.Context.RelPermalink "/plans/" }}
  <link rel="stylesheet preconnect" href="/plans.css" />
  {{- end -}}