{{/* @see :: data/<Product>.yml */}}
  {{- $DATA := (index .Context.Site.Data .Product) -}}
  {{- $META := merge $DATA.meta (default dict .Context.Params.meta) -}}
  {{- $metaTruncateLength := 150 -}}
  {{- $title := "" -}}
  {{- $rellink := .Context.RelPermalink -}}

  <!-- Evaluate content type against standards -->

  {{- $availableContentTypes := slice
    "changelog" "concept" "configuration" "design-guide" "example" "faq" "get-started" "glossary"
    "how-to" "integration-guide" "learning-path" "learning-unit" "migration"
    "navigation" "overview" "reference" "reference-architecture" "reference-architecture-diagram" "troubleshooting"
    "tutorial"
    -}}

  <!-- Pull the product group -->

  {{- $productGroup := "" -}}
  {{- with $DATA.product.group -}}
  {{- $productGroup = . -}}
  {{- else -}}
  <!-- Special behavior for learning paths -->
  {{- if or (eq .Context.Params.pcx_content_type "learning-path") (eq .Context.Params.layout "learning-module") (eq .Context.Params.layout "learning-unit") -}}
  {{- $learningPathArray := index .Context.Site.Data "learning-paths" -}}
  {{- range $index, $item := $learningPathArray -}}
  {{- if eq (printf "%T" $item) "map[string]interface {}" -}}
  {{- with $item.path -}}
  {{- if (in $rellink .) -}}
  {{- with $item.product_group -}}
  {{- $productGroup = . -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- end -}}

  <!-- Choose the preview image based on the product group -->
  {{- $imagePlaceholder := "/cf-twitter-card.png" | absURL -}}
  {{- $imageDict := dict
  "Cloudflare essentials" "/core-services-preview.png"
  "Cloudflare One" "/zt-preview.png"
  "Developer platform" "/dev-products-preview.png"
  "Network security" "/core-services-preview.png"
  "Application performance" "/core-services-preview.png"
  "Application security" "/core-services-preview.png"
  -}}

  {{- range $key, $value := $imageDict -}}
  {{- if eq $key $productGroup -}}
  {{- $imagePlaceholder = $value | absURL -}}
  {{- end -}}
  {{- end -}}

  {{- $pt := default .Context.Title .Context.Params.meta.title -}}
  {{- if or (eq .Context.Params.layout "learning-module") (eq .Context.Params.layout "learning-unit") -}}
  {{- $titleAddition := "" -}}
  {{- if eq (len .Context.Ancestors) 4 -}}
    {{- $titleAddition = printf " · %s" (index .Context.Ancestors 1).Title -}}
  {{- else -}}
    {{- $titleAddition = printf " · %s" (index .Context.Ancestors 0).Title -}}
  {{- end -}}

  {{- $title = print .Context.Title $titleAddition " · Learning paths" -}}

  {{- else -}}
  {{- $title = printf "%s · %s" $pt $DATA.meta.title -}}
  {{- end -}}
  {{- $description := (partial "seo-meta-description.html" (dict "meta" $META "content" .Context.Content "params"
  .Context.Params "truncate" $metaTruncateLength "plainify" true )) -}}

  {{- $rssPath := "https://github.com/cloudflare/cloudflare-docs/commits/production/content" -}}
  {{- $contentPath := replaceRE `\/$` "" .Context.RelPermalink -}}
  {{- $folderPlaceholder := "" -}}
  {{ $rssFeed := "" }}

  <meta charset="utf-8">
  <title>{{ $title }}</title>
  <meta name="title" content="{{ $title }}" />
  <meta name="image" content="{{ $imagePlaceholder }}" />

  <meta http-equiv="cleartype" content="on" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="application-name" content="{{ $title }}" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="apple-mobile-web-app-title" content="{{ $title }}" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="theme-color" content="#f38020" />

  <meta name="description" content="{{ $description }}" />

  <meta property="og:site_name" content="{{ .Context.Site.Title }}" />
  <meta property="og:image" content="{{ $imagePlaceholder }}" />
  <meta property="og:title" content="{{ $title }}" />
  <meta property="og:description" content="{{ $description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ .Context.Permalink }}" />

  <meta name="twitter:title" content="{{ $title }}" />
  <meta name="twitter:image" content="{{ $imagePlaceholder }}" />
  <meta name="twitter:description" content="{{ $description }}" />
  <meta name="twitter:card" content="summary_large_image" />

  <!-- Add metadata for reporting -->
  {{- $product := "" -}}
  {{- if or (ne .Context.Params.layout "home") (eq .Context.Params.pcx_content_type "learning-path") -}}
  {{- $product = replace (delimit (findRE `\/.*?\/` $rellink 1) "") "/" "" -}}
  <meta name="pcx_product" content="{{- $product -}}">
  {{- with $DATA.product.title -}}
  <meta name="algolia_product_filter" content="{{- . -}}">
  {{- end -}}
  {{- end -}}

  {{- with .Context.Params.tags -}}
  <meta name="pcx_tags" content="{{- delimit . "," -}}">
  {{- end -}}

  <meta name="algolia_page_title" content="{{- $pt -}}">
  <meta name="pcx_word_count" content="{{- $.Context.FuzzyWordCount -}}">
  {{- $lastMod := $.Context.Lastmod.Format "2006-01-02"  | time -}}
  {{- $diffMod := now.Sub $lastMod -}}
  {{- $lastModifiedDays := math.Round (div $diffMod.Hours 24) -}}
  <meta name="pcx_last_modified" content="{{- $lastModifiedDays -}}">

  {{- with .Context.Params.updated -}}
  {{- $lastReview := . | time -}}
  {{- $diffReview := now.Sub $lastReview -}}
  <meta name="pcx_last_reviewed" content="{{- math.Round (div $diffReview.Hours 24) -}}" />
  {{- else -}}
  <meta name="pcx_last_reviewed" content="500" />
  {{- end -}}

  {{- with .Context.Params.pcx_content_type -}}
  {{- if in $availableContentTypes . -}}
  <meta name="pcx_content_type" content="{{ . }}" />
  <meta name="algolia_content_type" content="{{ title (replace . "-" " ") }}">
  {{- end -}}
  {{- else -}}
  <meta name="pcx_content_type" content="Not set" />
  {{- end -}}

  {{- if ne $productGroup "" -}}
  <meta name="pcx_content_group" content="{{$productGroup}}" />
  {{- end -}}

  <!--Add rss feed if specified via output -->
  {{ with $.Context.OutputFormats.Get "rss" }}

  {{ $rssFeedURL := print $.Context.Permalink "index.xml" -}}

  {{- if ne $product "" -}}
  {{ printf `
    <link rel="alternate" type="application/rss+xml" href="%s" title="%s - %s - RSS Feed" />` $rssFeedURL $pt ($product | title) | safeHTML }}

  {{- else -}}
  {{ printf `
    <link rel="alternate" type="application/rss+xml" href="%s" title="%s - RSS Feed" />` $rssFeedURL $pt | safeHTML }}
  {{- end -}}
  {{- end -}}

  <!--Add rss feed links if specified via Param -->
  {{ with $.Context.Params.rss -}}
  {{ if eq . "folder" }}

  {{ $folderPlaceholder = ".atom" }}

  {{ else if eq . "file" }}

  {{ $folderPlaceholder = ".md.atom" }}

  {{ end }}

  {{ if or (eq . "folder") (eq . "file") }}

  {{ $rssFeed = printf "%s%s%s" $rssPath $contentPath $folderPlaceholder }}
  {{ printf `
  <link rel="alternate" type="application/rss+xml" href="%s" title="%s - RSS Feed" />` $rssFeed $pt | safeHTML }}

  {{ else }}

  {{ printf `
  <link rel="alternate" type="application/rss+xml" href="%s" title="%s - RSS Feed" />` . $pt | safeHTML }}
  {{ end }}


  {{ end }}
  <link rel="icon" href="/favicon-32x32.png" />
  <link rel="canonical" href="{{ .Context.Permalink }}" />
  <link rel="sitemap" href="/sitemap.xml" type="application/xml" />
  <link rel="manifest" href="/manifest.webmanifest" />

  <link rel="apple-touch-icon" sizes="48x48" href="/icons/icon-48x48.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="96x96" href="/icons/icon-96x96.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="192x192" href="/icons/icon-192x192.png" />
  <link rel="apple-touch-icon" sizes="256x256" href="/icons/icon-256x256.png" />
  <link rel="apple-touch-icon" sizes="384x384" href="/icons/icon-384x384.png" />
  <link rel="apple-touch-icon" sizes="512x512" href="/icons/icon-512x512.png" />
  {{- if (and ($DATA.algolia) (ne $.Context.RelPermalink "/search/")) -}}
  {{- partial "script" (dict "src" "search.ts" "defer" true) -}}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3.5.1" />
  <script defer async src="https://cdn.jsdelivr.net/npm/@docsearch/js@3.5.1"></script>
  <script>window.algoliaConfig = {{ $DATA.algolia }}</script>
  <meta name="docsearch:product" content="{{ $DATA.algolia.product }}" />
  {{- end -}}

  {{- if eq $.Context.RelPermalink "/search/" -}}
  <link rel="stylesheet preconnect" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.1.0/themes/satellite-min.css" integrity="sha256-p/rGN4RGy6EDumyxF9t7LKxWGg6/MZfGhJM/asKkqvA=" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.22.1/dist/algoliasearch-lite.umd.js" integrity="sha256-pxkGFjfnFWYGOtV9uhCWK/spKiGS0Z7gVDKYm39LyfM=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.64.0/dist/instantsearch.production.min.js" integrity="sha256-OtorR+6G6evpfgqzuOJjl5iH4JW+87ETzSpLZiVPTDg=" crossorigin="anonymous"></script>
  {{- partial "script" (dict "src" "instantsearch.js" "defer" true) -}}
  <link rel="stylesheet preconnect" href="/algolia-serp.css" />
  {{- end -}}

  {{- if (in $.Context.RelPermalink "/learning-paths/") -}}
  <link rel="stylesheet preconnect" href="/learning-paths.css" />
  {{- end -}}

  {{- if or (eq $.Context.RelPermalink "/learning-paths/") (eq $.Context.RelPermalink "/learning-paths") -}}
  {{- partial "script" (dict "src" "learning-paths.ts" "defer" true) -}}
  {{- end -}}


  {{ if eq $.Context.RelPermalink "/plans/" }}
  <link rel="stylesheet preconnect" href="/plans.css" />
  {{- end -}}