<div class="SiteFooter">
  <div class="SiteFooterItem">
    <div class="SiteFooterHeader">
      <p>Contact</p>
    </div>
    <ul>
      <li>
        <a href="https://www.cloudflare.com/partners/">Become a Partner</a>
      </li>
      <li><a href="tel:+18889935273">Call Sales: +1 (888) 993 5273</a></li>
    </ul>
  </div>

  <div class="SiteFooterItem">
    <div class="SiteFooterHeader">
      <p>Stay in touch</p>
    </div>

    <ul>
      <li><a href="https://github.com/cloudflare">GitHub</a></li>
      <li><a href="https://discord.gg/cloudflaredev">Discord</a></li>
    </ul>
  </div>

  <div class="SiteFooterItem">
    <div class="SiteFooterHeader">
      <p>Resources</p>
    </div>
    <ul>
      <li><a href="/api/">API</a></li>
      <li><a href="/fundamentals/">New to Cloudflare? Start here</a></li>
      <li><a href="/products/">Products</a></li>
      <li><a href="/sponsorships/">Sponsorships</a></li>
      <li><a href="https://github.com/cloudflare">Open Source</a></li>
    </ul>
  </div>

  <div class="SiteFooterItem">
    <div class="SiteFooterHeader">
      <p>Support</p>
    </div>
    <ul>
      <li><a href="https://support.cloudflare.com/">Help Center</a></li>
      <li><a href="https://www.cloudflarestatus.com/">System Status</a></li>
      <li><a href="https://www.cloudflare.com/compliance/">Compliance</a></li>
      <li><a href="https://www.cloudflare.com/gdpr/introduction/">GDPR</a></li>
    </ul>
  </div>

  <div class="SiteFooterItem">
    <div class="SiteFooterHeader">
      <p>What we do</p>
    </div>
    <ul>
      <li><a href="https://www.cloudflare.com/people/">Our Team</a></li>
      <li><a href="https://www.cloudflare.com/careers/">Careers</a></li>
    </ul>
  </div>
</div>
