<div class="SiteFooter">
  <div class="SiteFooterItem">
    <div class="SiteFooterHeader">
      <p>Stay in touch</p>
    </div>

    <ul>
      <li><a href="https://github.com/cloudflare">GitHub</a></li>
      <li><a href="https://discord.cloudflare.com">Discord</a></li>
    </ul>
  </div>

  <div class="SiteFooterItem">
    <div class="SiteFooterHeader">
      <p>Resources</p>
    </div>
    <ul>
      <li><a href="/api/">API</a></li>
      <li><a href="/fundamentals/">New to Cloudflare?</a></li>
      <li><a href="/products/">Products</a></li>
      <li><a href="/sponsorships/">Sponsorships</a></li>
      <li><a href="https://github.com/cloudflare">Open Source</a></li>
    </ul>
  </div>

  <div class="SiteFooterItem">
    <div class="SiteFooterHeader">
      <p>Support</p>
    </div>
    <ul>
      <li><a href="https://support.cloudflare.com/">Help Center</a></li>
      <li><a href="https://www.cloudflarestatus.com/">System Status</a></li>
      <li><a href="https://www.cloudflare.com/trust-hub/compliance-resources/">Compliance</a></li>
      <li><a href="https://www.cloudflare.com/trust-hub/gdpr/">GDPR</a></li>
    </ul>
  </div>

  <div class="SiteFooterItem">
    <div class="SiteFooterHeader">
      <p>What we do</p>
    </div>
    <ul>
      <li><a href="https://www.cloudflare.com/people/">Our Team</a></li>
      <li><a href="https://www.cloudflare.com/careers/">Careers</a></li>
    </ul>
  </div>

  <div class="SiteFooterItem">
    <div class="SiteFooterHeader">
      <p>Tools</p>
    </div>
    <ul>
      <li><a href="https://radar.cloudflare.com">Cloudflare Radar</a></li>
      <li><a href="https://speed.cloudflare.com/">Speed Test</a></li>
      <li><a href="https://isbgpsafeyet.com/">Is BGP Safe Yet?</a></li>
      <li><a href="https://rpki.cloudflare.com/">RPKI Toolkit</a></li>
      <li><a href="https://ct.cloudflare.com/">Certificate Transparency</a></li>
    </ul>
  </div>
</div>

<div class="legalInformation">
  <ul>
    <li>© 2024 Cloudflare, Inc.</li>
    <li><a href="https://www.cloudflare.com/privacypolicy/">Privacy Policy</a></li>
    <li><a href="https://www.cloudflare.com/website-terms/">Terms of Use</a></li>
    <li><a href="https://www.cloudflare.com/disclosure/">Report Security Issues</a></li>
    <li><a href="https://www.cloudflare.com/trademark/">Trademark</a></li>
    <li>
      <!-- OneTrust Cookies Settings button start -->
        <a role="button" id="ot-sdk-btn" class="ot-sdk-show-settings">Cookie Settings</a>
      <!-- OneTrust Cookies Settings button end -->
    </li>
  </ul>
</div>
