{{- $layout := .Params.layout -}}
{{- $counter := 0 -}}

{{- if eq $layout "learning-module" -}}
  {{- $counter = 1 -}}
{{- else -}}
  {{- $counter = 2 -}}
{{- end -}}

<ol class="breadcrumb">
    <li id="firstLearningBreadcrumb">
      <a href="/learning-paths/" class="DocsMarkdown--link">
        <span class="DocsMarkdown--link-content">Learning paths</span></a>
    </li>

    {{- $rellink := "" -}}
    {{- $title := "" -}}
    {{- $length :=  sub (len (split .RelPermalink "/")) 1 -}}
    {{- range $index, $item := (split .RelPermalink "/") -}}
      {{- if gt (len $item ) 0 -}}
      
        {{- $rellink = printf "%s/%s" $rellink $item -}}
        {{- $page := $.Site.GetPage $rellink -}}
        {{- $title = $page.Title -}}
    
      {{- if and (le (sub $length $index ) $counter)  (ne (sub $length $index ) 0) -}}
        <li>
          <a href="{{- print $rellink "/" -}}" class="DocsMarkdown--link subsequentBreacrumb">
            <span class="DocsMarkdown--link-content">{{$title}}</span></a>
        </li>
      {{- end -}}
    {{- end -}}
    {{- end -}}
  </ol>