{{- $url := .RelPermalink -}}
{{- $DATA := (index $.Site.Data .Section) -}}
{{- $ancestorRefIndex := 1 -}}
{{- $moduleCounter := 1 -}}

{{- if eq (len .Ancestors) 3 -}}
{{- $ancestorRefIndex = 0 -}}
{{- end -}}

{{- $learningPathTitle := print (index .Ancestors $ancestorRefIndex).Title " (Learning Path)" -}}
{{- $learningPathURL := (index .Ancestors $ancestorRefIndex).RelPermalink -}}

<div class="DocsSidebar">
  <div class="DocsSidebar--sections">
    <div class="DocsSidebar--section DocsSidebar--header-section">
      <a class="DocsSidebar--cloudflare-logo-link DocsSidebar--link" href="/">
        <div class="DocsNavLogoLockup">
          {{ partial "logo" "Docs" }}
        </div>
      </a>
    </div>

    <div class="DocsSidebar--section-separator"></div>

    <div class="DocsSidebar--section DocsSidebar--docs-title-section">
      <a aria-current="page" class="DocsSidebar--docs-title-logo-link DocsSidebar--link" href="{{ $learningPathURL }}">
        <div class="DocsNavLogoLockup">
          <div class="DocsNavLogoLockup--logo">
            <span title="Cloudflare {{ $learningPathTitle }} Learning Path logo">
              {{- safeHTML $DATA.logo -}}
            </span>
          </div>

          <span class="DocsNavLogoLockup--text">
            <span class="DocsSidebar--docs-title-text-scaler" style="--length:{{ len $learningPathTitle }}">{{ $learningPathTitle }}</span>
          </span>
        </div>
      </a>

      <div class="DocsSidebar--section-more Dropdown" data-expanded="false">
        <button class="DocsSidebar--section-more-button Button" aria-expanded="false">
          <div class="DocsSidebar--section-more-button-icon">
            <svg viewBox="0 0 4 16" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" fill="currentColor" role="img" aria-labelledby="title-6032186738345315"
              xmlns="http://www.w3.org/2000/svg">
              <title id="title-6032186738345315">Dropdown icon</title>
              <path d="M2,2v0m0,6v0m0,6v0z"></path>
            </svg>
            <span is-visually-hidden>{{ $learningPathTitle }} Learning Path menu</span>
          </div>
        </button>

        <div class="DocsSidebar--section-more-dropdown Dropdown--dropdown">
          <ul class="Dropdown--list">
            {{- range $DATA.externals -}}
              <li class="Dropdown--item">
                <a class="Dropdown--link" href="{{ .url }}" tabindex="-1">{{ .title }}</a>
              </li>
            {{- end -}}
          </ul>
        </div>
      </div>
    </div>

    <div class="DocsSidebar--section DocsSidebar--nav-section" style="position:relative;overflow:hidden;width:100%;height:100%">
      <div style="position: absolute; inset: 0px; overflow-y: auto; margin-right: 0px; margin-bottom: 0px;">
        <div class="DocsSidebar--nav-section-shadow" style="opacity: 0;"></div>

        <ul class="DocsSidebar--nav">
         {{- range (index .Ancestors $ancestorRefIndex).Sections -}}

         <li class="moduleCounter">Module {{$moduleCounter}}</li>

         {{- partial "sidebar.navitem" (dict "Context" . "Depth" 1 "Active" $url) }}
         {{- $moduleCounter = add $moduleCounter 1 -}}
         {{- end -}}
        </ul>
      </div>
      <div style="position:absolute;height:6px;display:none;right:2px;bottom:2px;left:2px;border-radius:3px">
        <div style="position:relative;display:block;height:100%;cursor:pointer;border-radius:inherit;background-color:rgba(0,0,0,.2)"></div>
      </div>
      <div style="position:absolute;width:6px;display:none" class="Scrollbars--track Scrollbars--track-vertical">
        <div style="position:relative;display:block;width:100%" class="Scrollbars--thumb Scrollbars--thumb-vertical"></div>
      </div>
    </div>
  </div>
  <div class="DocsSidebar--shadow"></div>
</div>