<link rel="preload" href="https://unpkg.com/littlefoot@4.0.0-9/dist/littlefoot.css" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
    <noscript><link rel="preload" href="https://unpkg.com/littlefoot@4.0.0-9/dist/littlefoot.css" as="style"></noscript>
    <script defer src="https://unpkg.com/littlefoot@4.0.0-9/dist/littlefoot.js" type="application/javascript" ></script> 
    <script type="application/javascript"> document.addEventListener('DOMContentLoaded', () => littlefoot.default()) </script>