<div class="progressIndicator">
<p class="DocsMarkdown--button-group" style="align-items: center;">
<span class="DocsMarkdown--button-group-content">
{{- with .PrevInSection -}}
<a href="{{- .RelPermalink -}}" id="nextLink" class="learningNavigation Button Button-is-docs-primary">
    <span class="DocsMarkdown--link-content">Next</span>
</a>
<br/>
{{- end -}}

{{- with .NextInSection -}}
<a href="{{- .RelPermalink -}}" id="nextLink" class="learningNavigation Button Button-is-docs-primary">
    <span class="DocsMarkdown--link-content">Previous</span>
</a>
{{- end -}}

</span>
</p>
</div>