{{- $layout := .Params.layout -}}
{{- $currentLocation := .RelPermalink -}}
{{- $splitURL := split $currentLocation "/" -}}
{{- $currentFolder := index $splitURL 3 -}}
{{- $currentModule := index $splitURL 4 -}}
{{- $currentUnit := index $splitURL 5 -}}
{{- $moduleData := index (index .Site.Data.modules $currentFolder) $currentModule -}}
{{- $baseURL := "/learning-paths/modules/" -}}
{{- $previousUnit := "" -}}
{{- $nextUnit := "" -}}
{{- $currentUnitNumber := 0 -}}
{{- $modulePage := $.Site.GetPage (index $moduleData "url" )}}
{{- $unitData := slice -}}
{{- range $modulePage.RegularPagesRecursive.ByWeight }}
  {{- $unitData = $unitData | append . -}}
{{- end -}}
{{ $moduleData = merge $moduleData (dict "units" $unitData) }}
{{- $moduleLength := len (index $moduleData "units") -}}


{{- if eq $layout "learning-module" -}}
    {{- $placeholder := index (index $moduleData "units") 0  -}}
    {{- $nextUnit := $placeholder.RelPermalink -}}
    <a href="{{$nextUnit}}" class="learningNavigation  Button Button-is-docs-primary">
        <span class="DocsMarkdown--link-content">Start module</span>
    </a>
{{- else -}}
    {{- range $index, $item := (index $moduleData "units") -}}
        {{- if eq $currentLocation $item.RelPermalink -}}
            {{- $currentUnitNumber = (add $index 1) -}}
        {{- end -}}
    {{- end -}}    

    {{- with .NextInSection -}}
        {{- $previousUnit = .RelPermalink -}}
    {{- end -}}

    {{- with .PrevInSection -}}
        {{- $nextUnit = .RelPermalink -}}
    {{- end -}}

    <div class="progressIndicator">
    {{- if eq $layout "learning-unit" -}}
    <p>Unit {{ $currentUnitNumber }} of {{ $moduleLength }}</p>
    {{- end -}}

    <p class="DocsMarkdown--button-group" style="align-items: center;">
    <span class="DocsMarkdown--button-group-content">
    {{- if ne $previousUnit "" -}}
        <a href="{{- $previousUnit -}}" id="previousLink" class="learningNavigation Button Button-is-docs-secondary">
            <span class="DocsMarkdown--link-content">Previous</span>
        </a>
        <br/>
    {{- end -}}
        {{- if ne $nextUnit "" -}}
            <a href="{{- $nextUnit -}}" id="nextLink" class="learningNavigation Button Button-is-docs-primary">
                <span class="DocsMarkdown--link-content">Next</span>
            </a>
        {{- else -}}
            <a href="{{- $baseURL -}}" id="nextModuleLink" class="Button Button-is-docs-primary">
                <span class="DocsMarkdown--link-content">Finish module</span>
                </a>
        {{- end -}}
    </span>
    </p>
</div>
{{- end -}}
