{{- $wholePath := index .Ancestors 1 -}}
{{- $current := . -}}


{{- if eq .Params.layout "learning-module" -}}
{{- $firstUnitUrl := "" -}}
{{- range $index, $item := .RegularPages -}}
{{- if eq $index 0 -}}
{{- $firstUnitUrl = $item.RelPermalink -}}
{{- end -}}
{{- end -}}
    <a href="{{$firstUnitUrl}}" class="learningNavigation  Button Button-is-docs-primary">
        <span class="DocsMarkdown--link-content">Start module</span>
    </a>
    
{{- else -}}
    <div class="progressIndicator">
    <p class="DocsMarkdown--button-group" style="align-items: center;">
    <span class="DocsMarkdown--button-group-content">

    {{- with .NextInSection -}}
    <a href="{{- .RelPermalink -}}" id="nextLink" class="learningNavigation Button Button-is-docs-primary">
        <span class="DocsMarkdown--link-content">Previous</span>
    </a>
    {{- end -}}

    {{- with .PrevInSection -}}
    <a href="{{- .RelPermalink -}}" id="nextLink" class="learningNavigation Button Button-is-docs-primary">
        <span class="DocsMarkdown--link-content">Next</span>
    </a>
    <br/>
    {{- else -}}
    {{- $overallLength := len $wholePath.Sections -}}
    {{- $nextLinkUrl := "" -}}
    {{- $nextLinkText := "" -}}
    {{- range $index, $item := $wholePath.Sections -}}
        {{- if $item.InSection $current -}}
            {{- if eq ($index) (sub $overallLength 1) -}}
            {{- $nextLinkUrl = "/learning-paths/" -}}
            {{- $nextLinkText = "Finish path >" -}}
            {{- else -}}
            {{- $nextLinkUrl = (index $wholePath.Sections (add $index 1)).RelPermalink -}}
            {{- $nextLinkText = "Next module" -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
    <a href="{{- $nextLinkUrl -}}" id="nextLink" class="learningNavigation Button Button-is-docs-primary">
        <span class="DocsMarkdown--link-content">{{$nextLinkText}}</span>
    </a>
    <br/>
    {{- end -}}

    </span>
    </p>
    </div>
{{- end -}}