{{- $raw_summary := index (split (index (split .content "</p>") 0) "<p>") 1 -}}
{{- with .plainify -}}
    {{ $raw_summary = $raw_summary | plainify }}
{{- else -}}
    {{ $raw_summary = replaceRE `\<sup(.*?)\</sup\>` "" $raw_summary }}
{{- end -}}
{{- $summary := replaceRE `External link icon\s+Open external link\s?` "" $raw_summary | htmlUnescape | safeHTML -}}
{{- $description:= truncate .truncate (default .meta.description (default $summary .params.meta.description)) -}}

{{- return $description -}}