{{- $url := .RelPermalink -}}
{{- $root := relURL (printf "/%s/" .Section) -}}
{{- $DATA := (index $.Site.Data .Section) -}}

{{- $title := default (replace (title .Section) "-" " ") $DATA.name -}}

<div class="DocsSidebar">
  <div class="DocsSidebar--sections">
    <div class="DocsSidebar--section DocsSidebar--header-section">
      <a class="DocsSidebar--cloudflare-logo-link DocsSidebar--link" href="/">
        <div class="DocsNavLogoLockup">
          {{ partial "logo" "Docs" }}
        </div>
      </a>
    </div>

    <div class="DocsSidebar--section-separator"></div>

    <div class="DocsSidebar--section DocsSidebar--docs-title-section">
      <a aria-current="page" class="DocsSidebar--docs-title-logo-link DocsSidebar--link" href="{{ $root }}">
        <div class="DocsNavLogoLockup">
          <div class="DocsNavLogoLockup--logo">
            <span title="Cloudflare {{ $title }} logo">
              {{- safeHTML $DATA.logo -}}
            </span>
          </div>

          <span class="DocsNavLogoLockup--text">
            <span class="DocsSidebar--docs-title-text-scaler" style="--length:{{ len $title }}">{{ $title }}</span>
          </span>
        </div>
      </a>

      <div class="DocsSidebar--section-more Dropdown" data-expanded="false">
        <button class="DocsSidebar--section-more-button Button" aria-expanded="false">
          <div class="DocsSidebar--section-more-button-icon">
            <svg viewBox="0 0 4 16" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" fill="currentColor" role="img" aria-labelledby="title-6032186738345315"
              xmlns="http://www.w3.org/2000/svg">
              <title id="title-6032186738345315">Dropdown icon</title>
              <path d="M2,2v0m0,6v0m0,6v0z"></path>
            </svg>
            <span is-visually-hidden>{{ $title }} menu</span>
          </div>
        </button>

        <div class="DocsSidebar--section-more-dropdown Dropdown--dropdown">
          <ul class="Dropdown--list">
            {{- range $DATA.externals -}}
              <li class="Dropdown--item">
                <a class="Dropdown--link" href="{{ .url }}" tabindex="-1">{{ .title }}</a>
              </li>
            {{- end -}}
          </ul>
        </div>
      </div>
    </div>

    <div class="DocsSidebar--section DocsSidebar--nav-section" style="position:relative;overflow:hidden;width:100%;height:100%">
      <div style="position: absolute; inset: 0px; overflow-y: auto; margin-right: 0px; margin-bottom: 0px;">
        <div class="DocsSidebar--nav-section-shadow" style="opacity: 0;"></div>

        <ul class="DocsSidebar--nav">
          {{ if eq $url $root }}
          <li class="DocsSidebar--nav-item" is-active>
            <a aria-current="page" class="DocsSidebar--nav-link" is-active href="{{ $root }}">
              <span class="DocsSidebar--nav-link-highlight"></span>
              <span class="DocsSidebar--nav-link-text">Overview</span>
            </a>
          </li>
          {{- else -}}
          <li class="DocsSidebar--nav-item">
            <a class="DocsSidebar--nav-link" href="{{ $root }}">
              <span class="DocsSidebar--nav-link-highlight"></span>
              <span class="DocsSidebar--nav-link-text">Overview</span>
            </a>
          </li>
          {{ end }}

          {{- $current := .Page.RelPermalink -}}
          {{- $len := len (split $current "/") -}}
            {{- range .FirstSection.Pages.ByWeight -}}
            {{- $x := .RelPermalink -}}

            {{- if not (in $x "/examples/") -}}
              {{- $delta := sub (len (split $x "/")) $len -}}
              {{- if and (hasPrefix $x $current) (lt $delta 2) -}}
                {{- partial "sidebar.navitem" (dict "Context" . "Depth" 1 "Active" $url) }}
              {{- else if not (hasPrefix $x $current) -}}
                {{- partial "sidebar.navitem" (dict "Context" . "Depth" 1 "Active" $url) }}
              {{- end -}}
            {{- else if strings.HasSuffix $x "/examples/" -}}
              {{- partial "sidebar.navitem" (dict "Context" . "Depth" 1 "Active" $url) }}
            {{- end -}}
          {{- end -}}
        </ul>
      </div>
      <div style="position:absolute;height:6px;display:none;right:2px;bottom:2px;left:2px;border-radius:3px">
        <div style="position:relative;display:block;height:100%;cursor:pointer;border-radius:inherit;background-color:rgba(0,0,0,.2)"></div>
      </div>
      <div style="position:absolute;width:6px;display:none" class="Scrollbars--track Scrollbars--track-vertical">
        <div style="position:relative;display:block;width:100%" class="Scrollbars--thumb Scrollbars--thumb-vertical"></div>
      </div>
    </div>
  </div>
  <div class="DocsSidebar--shadow"></div>
</div>