{{- $DATA := (index $.Site.Data .Section) -}}
{{- $title := default (replace (title .Section) "-" " ") $DATA.name -}}

<div class="DocsToolbar--search">
  <div class="DocsSearch">
      <div id="searchbox">
        <div class="CoveoAnalytics"></div>
        <div class="CoveoSearchbox"
            data-placeholder="Search Cloudflare"
            data-enable-omnibox="true"
            data-enable-query-suggest-addon="true"
            data-inline="true">
          </div>
        <div class="CoveoOmniboxResultList" data-header-title="Result Suggestions">
          <script class="result-template" type="text/x-underscore">
            <div>
              <a class='CoveoResultLink'></a>
            </div>
            <div class='CoveoExcerpt'></div>
          </script>            
        </div>
      </div>
  </div>
</div>

<link rel="stylesheet" href="https://static.cloud.coveo.com/searchui/v2.10107/css/CoveoFullSearch.css"/>
<script class="coveo-script" src="https://static.cloud.coveo.com/searchui/v2.10107/js/CoveoJsSearch.Lazy.min.js"></script>
<script>
const currentLocation = window.location.pathname;
const currentProduct = new RegExp("^\/(.*?)\/");
const result = currentLocation.match(currentProduct);

document.addEventListener("DOMContentLoaded", () => {
  const searchBoxRoot = document.getElementById("searchbox");
  // 2. Configure a search endpoint
  Coveo.SearchEndpoint.configureCloudV2Endpoint("cloudflareproduction7iy98g48", "xx2b20a6dc-ce86-41cb-ad18-90bd2568dcdb");
  // 3. Initialize a Searchbox component
  Coveo.$$(searchBoxRoot).on("doneBuildingQuery", function(e, args) {
    args.queryBuilder.advancedExpression.addFieldExpression("@customer_facing_source", "==", ["Product documentation"]);
    args.queryBuilder.advancedExpression.addFieldExpression("@dev_docs_product", "==", [result[0]]);
  });
  Coveo.initSearchbox(
    searchBoxRoot,
    "/search/"
  );
});
</script>
