{{- $root := relURL (printf "/%s/" .Section) -}}
{{- $title := (title .Section) -}}
{{- $DATA := (index $.Site.Data .Section) -}}

<div class="DocsMobileHeader">
  <a class="DocsMobileHeader--cloudflare-logo-link Link Link-without-underline" href="/">
    <div class="DocsNavLogoLockup DocsNavLogoLockup-with-small-gap">
      {{ partial "logo" "Docs" }}
    </div>
  </a>
</div>

<div class="DocsMobileTitleHeader">
  <a aria-current="page" class="DocsMobileTitleHeader--logo-link Link Link-without-underline" href="{{ $root }}">
    <div class="DocsNavLogoLockup DocsNavLogoLockup-with-small-gap">
      <div class="DocsNavLogoLockup--logo">
        <span title="Cloudflare {{ $title }} logo">
          {{- safeHTML $DATA.logo -}}
        </span>
      </div>

      <span class="DocsNavLogoLockup--text">
        <span class="DocsSidebar--docs-title-text-scaler" style="--length:{{ len $title }}">{{ $title }}</span>
      </span>
    </div>
  </a>

  <button class="Button DocsMobileTitleHeader--sidebar-toggle-button">
    <span class="DocsMobileTitleHeader--sidebar-toggle-button-icon" aria-hidden="true">
      <svg viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" role="img" aria-labelledby="title-1332672649688018"
        xmlns="http://www.w3.org/2000/svg">
        <title id="title-1332672649688018">Navigation menu icon</title>
        <path data-index="1" d="M5, 7h10" transform-origin="10  7"></path>
        <path data-index="2" d="M5,10h10" transform-origin="10 10"></path>
        <path data-index="3" d="M5,13h10" transform-origin="10 13"></path>
      </svg>
      <span is-visually-hidden="">Open external link</span>
    </span>
  </button>
</div>

<div class="DocsMobileNavBackdrop"></div>