{{- $DATA := (index $.Site.Data .Section) -}}
{{- $title := default (replace (title .Section) "-" " ") $DATA.name -}}
{{- $rssPath := "https://github.com/cloudflare/cloudflare-docs/commits/production/content" -}}
{{- $contentPath := replaceRE `\/$` "" $.RelPermalink -}}
{{- $folderPlaceholder := "" -}}
{{ $rssFeed := "" }}
{{ $rssIconDescription := "" -}}
{{- $githubURL := "https://github.com/cloudflare/cloudflare-docs" -}}
{{- with .File -}}
{{- $githubURL = (printf "https://github.com/cloudflare/cloudflare-docs/blob/production/content/%s" (replace .Path "\\" "/")) -}}
{{- end -}}

<div class="DocsToolbar--tools">

  {{- if or (in $.RelPermalink "/support/troubleshooting/cloudflare-errors/") (eq $.RelPermalink "/waf/reference/cloudflare-challenges/") }}
  <!-- Exclude this component from high-traffic interstitial pages -->
  {{- else -}}
  <div class="Tooltip---root">
  <a class="DocsToolbar--feedback Button Button-is-docs-secondary" href="{{$githubURL}}" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 64 64">
      <path d="M22.742 47.456L23.757 46.912L52.175 18.573V15.743L42.254 5.823H39.428L11.012 34.16L10.461 35.193L8.03899 47.614L10.399 49.957L22.742 47.456ZM14.27 36.56L40.84 10.06L47.932 17.152L21.358 43.652L12.538 45.439L14.27 36.56Z" fill="currentColor"/>
      <path d="M56.002 54H7.99799V58H56.002V54Z" fill="currentColor"/>
      </svg>Edit
  </a>
  <span class="Tooltip" role="tooltip" position="bottom-end">
    Edit this page
  </span>
</div>
  <div class="DocsToolbar--tools-spacer"></div>
  <div class="Tooltip---root">
  <a class="DocsToolbar--feedback Button Button-is-docs-secondary" href="https://github.com/cloudflare/cloudflare-docs/issues/new/choose" target="_blank">
    <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 17">
      <path d="M14 2.5H2l-.5.5v11.165l.863.345 2.852-3.01H14l.5-.5V3l-.5-.5Zm-.5 8H4.785L2.5 12.911V3.5h11v7Z"
        fill="currentColor"></path>
      <path d="M12.5 5.003h-9v1h9v-1ZM12.5 7.5h-9v1h9v-1Z" fill="currentColor"></path>
    </svg>Feedback
  </a>
  <span class="Tooltip" role="tooltip" position="bottom-end">
    Give us feedback
  </span>
  </div>

  {{- end -}}

  {{- with $.OutputFormats.Get "rss" -}}

  {{- $rssFeed = print $.RelPermalink "index.xml" -}}
  {{- $rssIconDescription = "View RSS feed" -}}

  {{- end -}}

  {{ with .Params.rss }}

  {{- $rssIconDescription = "View GitHub RSS feed" -}}

  {{ if eq . "folder" }}

  {{ $folderPlaceholder = ".atom" }}

  {{ else if eq . "file" }}

  {{ $folderPlaceholder = ".md.atom" }}

  {{ end }}

  {{ if or (eq . "folder") (eq . "file") }}

  {{ $rssFeed = printf "%s%s%s" $rssPath $contentPath $folderPlaceholder }}

  {{ else }}

  {{ $rssFeed = . }}

  {{ end }}
  {{ end }}
  {{ if ne $rssFeed "" -}}

  <div class="DocsToolbar--tools-spacer"></div>

  <div class="DocsToolbar--tools-icon-item">
    <div class="Tooltip---root">
      <div class="DocsToolbar--tools-icon-item-content">
        <a class="Link Link-without-underline" href="{{$rssFeed}}" target="_blank">
          <svg viewBox="0 0 485 560" fill="currentColor" role="img" aria-labelledby="title-1234" xmlns="http://www.w3.org/2000/svg">
            <title id="title-1234">RSS icon</title>
            <path
              d="M0 64C0 46.3 14.3 32 32 32c229.8 0 416 186.2 416 416c0 17.7-14.3 32-32 32s-32-14.3-32-32C384 253.6 226.4 96 32 96C14.3 96 0 81.7 0 64zM128 416c0 35.3-28.7 64-64 64s-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64zM32 160c159.1 0 288 128.9 288 288c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-123.7-100.3-224-224-224c-17.7 0-32-14.3-32-32s14.3-32 32-32z">
            </path>
          </svg>
        </a>
      </div>

      <span class="Tooltip" role="tooltip" position="bottom-end">
        {{ $rssIconDescription }}
      </span>
    </div>
  </div>

  {{ end }}

  <div class="DocsToolbar--tools-spacer"></div>

  <div class="DocsToolbar--theme-toggle">
    <button id="MobileSearch" onclick='document.querySelector(".DocSearch.DocSearch-Button").click()'>
      <svg viewBox="0 0 16 16" fill="currentColor" role="img" aria-labelledby="title-9701125841014673"
        xmlns="http://www.w3.org/2000/svg">
        <title id="title-9701125841014673">Search icon (depiction of a magnifying glass)</title>
        <path
          d="M11.999 10.585l3.458 3.458a1 1 0 01-1.414 1.414L10.585 12a6.5 6.5 0 111.414-1.414zM6.75 11.5a4.75 4.75 0 100-9.5 4.75 4.75 0 000 9.5z">
        </path>
      </svg>
    </button>

    {{- partialCached "topbar.theme" . -}}
  </div>
</div>