#searchbox {
  margin-bottom: 2rem;
}

.ais-Dropdown-button {
  border: 1px solid #d6d6e7;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 0.8rem;
  background-color: transparent;
}

.ais-Dropdown-button--refined {
  font-weight: bold;
}

.ais-Dropdown-button:hover {
  background-color: #f5f5fa;
}

.ais-Dropdown .ais-Panel-body > div > div[class^='ais-'] {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  background-color: #fff;
}

.ais-Dropdown .ais-Panel-header {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.ais-Dropdown .ais-Panel-body {
  display: none;
}

.ais-Dropdown--opened .ais-Panel-body {
  display: block;
}

.ais-Dropdown .ais-Panel-body {
  position: relative;
}

.ais-Dropdown-close {
  display: none;
}

/* mobile */
@media only screen and (max-width: 375px) {
  body {
    overflow: hidden;
  }

  .ais-Dropdown--opened .ais-Panel-body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
  }

  .ais-Dropdown--opened .ais-Panel-body > div > div[class^='ais-'] {
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 85vh;
    border: 0;
  }

  .ais-Dropdown--opened .ais-Panel-footer {
    position: absolute;
    top: 85vh;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  .ais-Dropdown-close {
    border: 1px solid #d6d6e7;
    background: #fff;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    width: calc(100% - 2rem);
    margin: 0 1rem;
    height: 3rem;
    font-size: 1rem;
  }

  .ais-Dropdown-close:hover {
    background-color: #f5f5fa;
  }

  .ais-Dropdown--opened .ais-Dropdown-close {
    display: inline;
  }
}

.search-panel__filters {
  display: flex;
}

.search-panel__filters > div {
  margin-right: 1rem;
}

.search-panel__filters > div:last-child {
  margin-right: 0;
}

.ais-RefinementList-list {
  font-weight: normal;
}

.ais-Breadcrumb-item--selected,
.ais-Menu-item--selected {
  font-weight: bold;
}

@media (max-width: 700px) {
  .additionalSearchContent p {
    margin-bottom: .5em !important;
  }
}

@media (min-width: 700px) {
  .additionalSearchContent {
    display: flex;
  }
  .additionalSearchContent p {
    padding-right: 1em;
  }
}

.searchResult a {
  color: #0059b3;
}

.searchResult a:hover {
  text-decoration: underline;
}

.ais-Hits-item {
  padding-top: 0em;
  padding-bottom: 2em !important;
  border-radius: .25rem !important;
}

.DocsMarkdown ul>:last-child {
  margin-bottom: auto !important;
}

.ais-Dropdown-button {
  display: flex;
}

.ais-Dropdown-button img {
  padding-left: .5em;
  padding-top: .25em;
}

.ais-RefinementList {
  z-index: 1;
}

@media (max-width: 600px) {
  .search-panel__filters {
    flex-direction: column;
  }
  .ais-Panel {
    margin-bottom: .5em;
  }
}

.ais-CurrentRefinements-list {
  display: flex;
  flex-direction: column;
  padding-left: 0em !important;
  gap: .5rem;
  width: 30em;
}

.ais-CurrentRefinements-delete {
  padding-top: .18em;
  color: inherit;
}

/* Dark mode styling */

[theme="dark"] .ais-CurrentRefinements-item {
  background-color: #242628;
  color: inherit;
}

[theme="dark"] .ais-SearchBox-resetIcon {
  filter: invert(1) grayscale(100%);
}

[theme="dark"] .ais-SearchBox-input::placeholder {
  color: inherit;
}

[theme="dark"] .ais-SearchBox-form::before {
  filter: invert(1) grayscale(100%);
}

[theme="dark"] .ais-Dropdown-button img {
  filter: invert(100%) sepia(0%) saturate(4588%) hue-rotate(160deg) brightness(108%) contrast(101%);
}

[theme="dark"] .ais-SearchBox-input {
  background-color: #242628;
  color: inherit;
}

[theme="dark"] .ais-SearchBox-input:focus {
  border-color: var(--code-orange);
  box-shadow: none;
  border-radius: 0px;
}

[theme="dark"] .searchResult a {
  color: var(--code-orange);
}

[theme="dark"] .ais-Hits-item {
  background: #242628;
}

[theme="dark"] .ais-Dropdown-button:hover {
  background: #414243 !important;
}

[theme="dark"] .ais-RefinementList {
  background: #242628 !important;
}

[theme="dark"] .ais-Pagination-link {
  background: #242628 !important;
  color: inherit;
}

[theme="dark"] .ais-Pagination-item--selected a {
  background: #414243 !important;
}

[theme="dark"] .ais-Highlight-highlighted {
  color: #fff;
  background-color: #0051c3;
}

[theme="dark"] .ais-Snippet-highlighted {
  color: #fff;
  background-color: #0051c3;
}