.recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recommendationList li {
    list-style-type: none;
    padding-bottom: .25em;
}

.recommendationLink {
    font-size: 1.2em;
}

.recommendations a {
    color: #0055DC;
}

[theme=dark] .recommendations a {
    color: #ff9e40;
}