html {
    scroll-padding-top:7em;
    overflow-anchor: auto;
}

.numTrails {
    opacity: 70%;
    margin-top: 0;
}

.selectorDropdowns {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #242628;
    border-bottom: 1px solid #242628;
    padding: .5em 0 .5em 0;
}

@media (max-width:950px) {
    .selectorDropdowns {
        flex-direction: column;
    }
}

[theme=dark] .selectorDropdowns {
    border-top: 1px solid #f3f3f4;
    border-bottom: 1px solid #f3f3f4;
}

.selectorDropdowns div {
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    padding: .75em;
    justify-content: center;
}

.selectorDropdowns div label {
    padding-bottom: .3em;
}

.selectorDropdowns div select {
    width: 15em;
    height: 2.25em;
}

.pathGrid {
    padding-top: 3em;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.pathGrid a {
    color: #0055DC;
}

[theme=dark] .pathGrid a {
    color: #ff9e40;
}

.individualPath {
    border: 2px solid #f3f3f4;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
    max-width: 90%;
    margin-bottom: 1em;
    height: 12em;
}

[theme=dark] .individualPath {
    border: 2px solid #242628;
}

@media (max-width: 1000px) {
    .pathGrid {
        display: flex;
        flex-direction: column;
    }
    .individualPath {
        height: 14em;
    }
}

.pathHeading {
    margin-top: .5em;
    opacity: 70%;
}

.individualPath a h2 {
    margin-top: 0em;
}

.pathDescription {
    font-size: 1.2em;
}

.estimate span {
    background: #FCC373;
    font-weight: 500;
    padding: 0 .3em;
}

[theme=dark] .estimate span {
    background: #0051c3;
}

.background {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    counter-reset: stepCounter;
}

.learningPathModule:first-of-type {
    margin-top: .5em;
}

.learningPathModule {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 3em;
    border: .25px solid #242628;
    padding: 0em 1em 1em 1.75em;
    border-radius: 1em;
    background: linear-gradient(var(--background-color),
    rgba(var(--background-color-rgb)));
}

[theme=dark] .learningPathModule {
    border: .25px solid #f3f3f4;
    background-color: rgb(var(--background-color-rgb));
}

.question {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 3em 0em 3em;
    border: 1px solid #242628;
    padding: 1em 1em 1em 1.75em;
    border-radius: .5em;
    background: linear-gradient(var(--background-color),
    rgba(var(--background-color-rgb)));
}

[theme=dark] .question {
    border: 1px solid #f3f3f4;
    background-color: rgb(var(--background-color-rgb));
}

.moduleHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.durationEstimate {
    opacity: 70%;
    margin-right: 2em;
    padding-top: 2.8em;
    align-self: center;
}

.Button-is-docs-primary .DocsMarkdown--link-content {
    color: #fff;
}

[theme="dark"] .getStarted {
    color: #1d1f20;
}

[theme="dark"] .getStartedButton {
    background: #e06d10 !important;
}

.Button-is-docs-secondary .DocsMarkdown--link-content {
    color: #1d1f20;
}

[theme="dark"] .Button-is-docs-secondary .DocsMarkdown--link-content {
    color: #fff;
}

.learningNavigation {
    width: 9em;
    text-align: center;
}

.background a,
.viewOtherPaths a {
    color: #0055DC;
    font-size: 1.1em;
    font-weight: 400;
}

.background a:hover,
.viewOtherPaths a:hover {
    text-decoration: underline;
}

[theme=dark] .background a,
[theme=dark] .viewOtherPaths a {
    color: #ff9e40;
}

.pathDetails {
    margin-top: 0 !important;
}

.pathDetails div {
    border: none !important;
    padding-left: .5em !important;
}

.pathDetails summary {
    background: none !important;
    line-height: 1.5 !important;
    padding-left: .5em !important;
    padding-right: .5em !important;
    width: 10em;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.pathDetails summary:hover {
    background: rgba(var(--orange-rgb), 0.3) !important;
    transition: background 0.1s ease-in-out;
}

.pathDetails div ul li {
    list-style: none;
    padding-left: 0.5em;
    border-left: 4px solid gray;
}

.pathDetails div ul li:hover {
    border-left: 4px solid #0055DC;
    transition: border-left 0.1s ease-in-out;
}

[theme="dark"] .pathDetails div ul li:hover {
    border-left: 4px solid #ff9e40;
}

@media (min-width: 599px) {
    .pathDetails div ul li {
        line-height: 2;
        margin-bottom: .8em;
    }
    .readingTime {
        margin-top: -.5em; 
        font-size: .7em;
    }
}

@media (max-width: 599px) {
    .pathDetails div ul li {
        line-height: 2;
        margin-bottom: .8em;
    }
    .readingTime {
        margin-top: -.5em; 
        font-size: .7em;
    }
    .learningPathModule {
        padding-left: 1em;
    }
}

.learningPathNote {
    line-height: 1.5;
    font-size: 85%;
    padding-bottom: 1em;
}

label {
    margin-left: .5em;
}

.progressIndicator {
    display: flex;
    flex-direction: column;
    align-items:center;
    max-width: 80%;
}

@media (max-width: 768px) {

    .progressIndicator {
        max-width: 100%;
    }
}

.timeEstimate {
    margin-top: -.75em;
    padding-bottom: 1em;
    font-size: .9em;
}

.learningSummary a {
    text-decoration: none;
    color: inherit;
  --background-color-rgb: var(--orange-rgb);
  --background-color-alpha: 0.08;
  --border-bottom-color-rgb: var(--orange-3-rgb);
  --border-bottom-color-alpha: 0.3;
  --background-color: rgba(
    var(--background-color-rgb),
    var(--background-color-alpha)
  );
  background-color: var(--background-color);
  border-bottom: 1px solid
    rgba(var(--border-bottom-color-rgb), var(--border-bottom-color-alpha));
  }
  
  .learningSummary a:hover {
    --background-color-alpha: 0.2;
  }
  
  [theme="dark"] .learningSummary a {
    --background-color-alpha: 0.03;
    --border-bottom-color-rgb: var(--orange-rgb);
    --border-bottom-color-alpha: 0.35;
    color: var(--code-orange);
  }
  
  [theme="dark"] .learningSummary a:hover {
    --background-color-alpha: 0.1;
  }

  .moduleCounter {
    opacity: .7;
    padding-left: 1.5em;
  }

  .stepCounter {
    padding-right: .35em;
    padding-left: .35em;
    margin-right: .5em;
    border: 2px solid var(--orange-5);
    border-radius: 50%;
    font-weight: bold;
  }
  
  .stepCounter::before {
    content: counter(stepCounter);
    counter-increment: stepCounter;
  }