html {
    scroll-padding-top:7em;
    overflow-anchor: auto;
}

.numTrails {
    opacity: 70%;
    margin-top: 0;
}

.selectorDropdowns {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #242628;
    border-bottom: 1px solid #242628;
    padding: .5em 0 .5em 0;
}

@media (max-width:950px) {
    .selectorDropdowns {
        flex-direction: column;
    }
}

[theme=dark] .selectorDropdowns {
    border-top: 1px solid #f3f3f4;
    border-bottom: 1px solid #f3f3f4;
}

.selectorDropdowns div {
    margin-right: 2em;
    display: flex;
    flex-direction: column;
    padding: .75em;
    justify-content: center;
}

.selectorDropdowns div label {
    padding-bottom: .3em;
}

.selectorDropdowns div select {
    width: 15em;
    height: 2.25em;
}

.pathGrid {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 2em;
}

.pathGrid a {
    color: #0055DC;
}

[theme=dark] .pathGrid a {
    color: #ff9e40;
}

.individualPath {
    border: 2px solid #f3f3f4;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: .5em;
    max-width: 100%;
    margin-bottom: 1em;
    height: 10em;
}

[theme=dark] .individualPath {
    border: 2px solid #242628;
}

.pathHeading {
    margin-top: .5em;
    opacity: 70%;
}

.individualPath a h2 {
    margin-top: 0em;
}

.pathDescription {
    font-size: 1.2em;
}

.estimate span {
    background: #FCC373;
    font-weight: 500;
    padding: 0 .3em;
}

[theme=dark] .estimate span {
    background: #0051c3;
}

.background {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
}

.learningPathModule:first-of-type {
    margin-top: .5em;
}

.learningPathModule {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 3em;
    border: .25px solid #242628;
    padding: 0em 1em 1em 1.75em;
    border-radius: 1em;
    background: linear-gradient(var(--background-color),
    rgba(var(--background-color-rgb)));
}

[theme=dark] .learningPathModule {
    border: .25px solid #f3f3f4;
    background-color: rgb(var(--background-color-rgb));
}

.question {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 3em 0em 3em;
    border: 1px solid #242628;
    padding: 1em 1em 1em 1.75em;
    border-radius: .5em;
    background: linear-gradient(var(--background-color),
    rgba(var(--background-color-rgb)));
}

[theme=dark] .question {
    border: 1px solid #f3f3f4;
    background-color: rgb(var(--background-color-rgb));
}

.moduleHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.durationEstimate {
    opacity: 70%;
    margin-right: 2em;
    padding-top: 2.8em;
    align-self: center;
}

.Button-is-docs-primary .DocsMarkdown--link-content {
    color: #fff;
}

.Button-is-docs-secondary .DocsMarkdown--link-content {
    color: #1d1f20;
}

[theme="dark"] .Button-is-docs-secondary .DocsMarkdown--link-content {
    color: #fff;
}

.learningNavigation {
    width: 9em;
    text-align: center;
}

.background a,
.viewOtherPaths a {
    color: #0055DC;
    font-size: 1.1em;
    font-weight: 400;
}

[theme=dark] .background a,
[theme=dark] .viewOtherPaths a {
    color: #ff9e40;
}

details div ul li {
    list-style: none;
    padding-left: 0;
    border-bottom: .5px solid #242628;
}

[theme=dark] details div ul li {
    border-bottom: .5px solid #f3f3f4;
}

@media (min-width: 599px) {
    details div ul li {
        line-height: 4;
    }
}

@media (max-width: 599px) {
    details div ul li {
        line-height: 1.5;
    }
    .learningPathModule {
        padding-left: 1em;
    }
    .individualPath {
        height: 12em;
    }
}

.learningPathNote {
    line-height: 1.5;
    font-size: 85%;
    padding-bottom: 1em;
}

label {
    margin-left: .5em;
}

.progressIndicator {
    display: flex;
    flex-direction: column;
    align-items:center;
    max-width: 80%;
}

.timeEstimate {
    margin-top: -.75em;
    padding-bottom: 1em;
    font-size: .9em;
}