.DocsMarkdown a {
    text-decoration: none;
  color: inherit;
  --background-color-rgb: var(--orange-rgb);
  --background-color-alpha: 0.08;
  --border-bottom-color-rgb: var(--orange-3-rgb);
  --border-bottom-color-alpha: 0.3;
  --background-color: rgba(
    var(--background-color-rgb),
    var(--background-color-alpha)
  );
  --focus-shadow: 0 0 0 var(--focus-size) var(--focus-color);
  box-shadow: var(--focus-shadow);
  background-color: var(--background-color);
  border-bottom: 1px solid
    rgba(var(--border-bottom-color-rgb), var(--border-bottom-color-alpha));
}

[js-focus-visible-polyfill-available] .DocsMarkdown a:focus {
    outline: none;
  }
  
  .DocsMarkdown a[is-focus-visible] {
    border-color: transparent;
  }
  
  .DocsMarkdown a:not([is-focus-visible]) {
    --focus-size: 0;
  }
  
  .DocsMarkdown a:hover {
    --background-color-alpha: 0.15;
  }
  
  .DocsMarkdown a[data-is-type-link="true"] {
    background: transparent;
    border: none;
  }
  
  [theme="dark"] .DocsMarkdown a {
    --background-color-alpha: 0.03;
    --border-bottom-color-rgb: var(--orange-rgb);
    --border-bottom-color-alpha: 0.35;
    color: var(--code-orange);
  }
  
  [theme="dark"] .DocsMarkdown a:hover {
    --background-color-alpha: 0.08;
  }

  .DocsMarkdown--table-wrap {
    --table-border-width: 1px;
    border: var(--table-border-width) solid rgba(var(--color-rgb), 0.15);
    padding: 0.25em 0;
    border-radius: 0.3125em;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .DocsMarkdown--table-wrap:not(:last-child) {
    margin-bottom: 1.5em;
  }
  
  .DocsMarkdown--table-wrap-inner {
    display: flex;
  }
  
  .DocsMarkdown--table-wrap table {
    min-width: calc(
      var(--docs-body-width) - var(--docs-content-gap) * 2 -
        var(--table-border-width) * 2
    );
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .DocsMarkdown--table-wrap table {
      min-width: calc(
        100vw - var(--docs-content-horizontal-padding) * 2 -
          var(--table-border-width) * 2
      );
    }
  }

  .DocsMarkdown--table-wrap table {
    width: 90%;
  }
  
  .DocsMarkdown--table-wrap table {
    word-break: normal;
  }
  
  .DocsMarkdown--table-wrap tr > :first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    white-space: nowrap;
    padding-left: 1em;
  }
  
  .DocsMarkdown--table-wrap tr > :last-child {
    padding-right: 1em;
  }