.DocsTutorials {
  margin: 2em 0;
  width: 53em;
  max-width: 100%;
}

[theme="dark"] .DocsTutorials {
  color: var(--gray-7);
}

.DocsTutorials--row {
  display: flex;
  align-items: baseline;
  --gap: 1.5em;
  padding-bottom: .5em;
  border-bottom: 1px solid rgba(var(--color-rgb), .1);
  margin-bottom: .5em;
}

.DocsTutorials--body .DocsTutorials--row:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.DocsTutorials--header .DocsTutorials--column-text {
  font-size: .9em;
  font-weight: bold;
}

.DocsTutorials--header .DocsTutorials--row {
  border-bottom-width: .125em;
  padding-bottom: .1875em;
}

.DocsTutorials--body .DocsTutorials--column:not([data-column="name"]) {
  position: relative;
  top: -.1em;
}

.DocsTutorials--body .DocsTutorials--column[data-column="length"] {
  top: -.2em;
}

.DocsTutorials--column[data-column="name"] {
  flex: 1;
  padding-right: calc(var(--gap) / 2);
}

.DocsTutorials--link {
  position: relative;
  font-size: 1.2em;
  color: inherit;
  --underline-opacity: .75;
  text-decoration-color: rgba(var(--orange-rgb), var(--underline-opacity));
  box-shadow: 0 0 0 var(--focus-size) var(--focus-color);
}

[theme="dark"] .DocsTutorials--link {
  --underline-opacity: .5;
}

.DocsTutorials--row-is-new .DocsTutorials--link::after {
  content: "";
  position: absolute;
  top: .45em;
  right: 100%;
  margin-right: .625em;
  height: 8px;
  width: 8px;
  border-radius: 999em;
  background: var(--orange);
}

@media (max-width: 1280px) {
  .DocsTutorials--link {
    text-decoration: none;
    box-shadow: inset 0 -2px rgba(var(--orange-rgb), var(--underline-opacity));
  }

  .DocsTutorials--row-is-new .DocsTutorials--link::after {
    top: .375em;
  }
}

@media (max-width: 768px) {
  .DocsTutorials--link {
    font-size: 1.1em;
  }

  .DocsTutorials--row-is-new .DocsTutorials--link::after {
    display: none;
  }
}

@media (max-width: 414px) {
  .DocsTutorials--link {
    font-size: 1em;
  }

  .DocsTutorials--ago-text {
    display: none;
  }
}

[js-focus-visible-polyfill-available] .DocsTutorials--link:focus {
  outline: none;
}

.DocsTutorials--link[is-focus-visible] {
  --underline-size: 0;
}

.DocsTutorials--link:not([is-focus-visible]) {
  --focus-size: 0;
}

.DocsTutorials--column[data-column="updated"] {
  padding-left: calc(var(--gap) / 2);
  padding-right: calc(var(--gap) / 2);
}

.DocsTutorials--column[data-column="difficulty"] {
  width: 7.5em;
  padding-left: calc(var(--gap) / 2);
  padding-right: calc(var(--gap) / 2);
  flex-shrink: 0;
}

.DocsTutorials--column[data-column="length"] {
  width: 4.5em;
  padding-left: calc(var(--gap) / 2);
  flex-shrink: 0;
}

.DocsTutorials--length-bar {
  width: 100%;
  height: .5em;
  border-radius: 1em;
  background: rgba(var(--color-rgb), .1);
  overflow: hidden;
}

.DocsTutorials--length-bar-inner {
  background: rgba(var(--color-rgb), .5);
  border-radius: 1em;
  min-width: .6em;
  height: 100%;
}

@media (max-width: 1024px) {
  .DocsTutorials--column[data-column="updated"] {
    padding-right: 0;
  }

  .DocsTutorials--column[data-column="difficulty"],
  .DocsTutorials--column[data-column="length"] {
    display: none;
  }
}
