.ProductGrid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.ProductGrid--content {
  display: none;
  font-size: 22px;
  justify-content: center;
  margin: 0;
}

.ProductGrid--column {
  padding: 0 1.5rem;
  width: 14em;
}

.ProductGrid--link {
  color: inherit;
  border-radius: 8px;
  padding: 8px 12px;
  margin-bottom: 6px;
  text-decoration: none;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: inherit;
  min-height: 64px;
}

.ProductGrid--link span {
  white-space: nowrap;
  font-weight: 600;
  line-height: 1.25;
}

.ProductGrid--link[data-wrap-title="true"] span {
  font-size: .9em;
  width: 9em;
  white-space: normal;
}

@media (hover: hover) {
  .ProductGrid--link:hover {
    background: rgba(var(--color-rgb), .05);
    color: inherit;
  }
}

.ProductGrid--link:active {
  box-shadow: inset 0 .125em .125em rgba(0, 0, 0, .1);
  background: rgba(var(--color-rgb), .05);
}

.ProductGrid--link svg {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  margin: 0 8px 0 0;
  display: inline-block;
  vertical-align: middle;
}

.ProductGrid--link svg path {
  fill: #6d767b;
}

[theme="dark"] .ProductGrid--link span {
  font-weight: 500;
}

[theme="dark"] .ProductGrid--link svg path {
  fill: #888f96;
}

@media (min-width: 1200px) {
  .ProductGrid--content[data-columns="4"] {
    display: flex;
  }
}

@media (max-width: 1199px) and (min-width: 978px) {
  .ProductGrid--content[data-columns="3"] {
    display: flex;
  }
}

@media (max-width: 1280px) {
  .ProductGrid--outer {
    padding: 0 1rem;
  }

  .ProductGrid {
    font: 18px;
  }
}

@media (max-width: 977px) and (min-width: 600px) {
  .ProductGrid--content[data-columns="2"] {
    display: flex;
  }
}

@media (max-width: 599px) {
  .ProductGrid--content[data-columns="1"] {
    display: flex;
  }
}

@media (max-width: 977px) {
  .ProductGrid--content {
    font-size: 22px;
  }

  .ProductGrid--column {
    padding: 0;
  }
}
