.SiteSearch {
  --text-indent: calc(var(--docs-content-gap) + 1px);
  height: var(--docs-header-height);
  flex: 1;
}
  
.SiteSearch--input-wrapper {
  position: relative;
  height: 100%;
}
  
.SiteSearch--input {
  position: relative;
  color: inherit;
  height: 100%;
  width: 100%;
  border: 0;
  padding: 0 var(--text-indent) .05em;
  background: transparent;
  outline: none;
  z-index: 2;
}
  
@-moz-document url-prefix() {
  .SiteSearch--input {
    letter-spacing: 0;
  }
}

.SiteSearch--input::placeholder {
  color: rgba(var(--color-rgb), .45);
  opacity: 1;
}

[theme="dark"] .SiteSearch--input::placeholder {
  color: rgba(var(--color-rgb), .55);
}
  
.SiteSearch--input-icon {
  position: absolute;
  top: 0;
  bottom: .05em;
  margin-top: auto;
  margin-bottom: auto;
  left: 2.2em;
  height: .8823529411em;
  width: .8823529411em;
  pointer-events: none;
  opacity: .5;
  transition: color .3s ease, opacity .3s ease;
  z-index: 3;
}

.SiteSearch--input-wrapper:focus-within .SiteSearch--input-icon {
  color: var(--orange);
  opacity: 1;
}

[theme="dark"] .SiteSearch--input {
  background:
    linear-gradient(to right,
      rgba(var(--shadow-color-rgb), .1) 0%,
      rgba(var(--shadow-color-rgb), .1) calc(30% - 6em),
      rgba(var(--shadow-color-rgb), 0) 30%
    );
}
  
/* Algolia DocSearch (https://docsearch.algolia.com) */

.SiteSearch .algolia-autocomplete {
  --dropdown-text-indent: var(--text-indent);
  --suggestion-item-vertical-padding: .5em;

  /* Combat Algolia-set inline styles */
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  right: auto !important;
  z-index: 1 !important;

  background: var(--background-color);

  --box-shadow:
    0 3rem 6rem -1.2rem rgba(var(--shadow-color-rgb), .25),
    0 3rem 6rem -3rem rgba(var(--shadow-color-rgb), .3);

  --backdrop-box-shadow-alpha: .07;
  --backdrop-box-shadow:
    0 0 0 999em rgba(var(--shadow-color-rgb), var(--backdrop-box-shadow-alpha));

  box-shadow: var(--box-shadow), var(--backdrop-box-shadow);

  border-radius: 0 0 .5em .5em;
  will-change: opacity;
  transition: opacity .15s ease;
}
  
[theme="dark"] .SiteSearch .algolia-autocomplete {
  --dark-theme-shadow-offset: 1px;
  --dropdown-text-indent: calc(var(--text-indent) - var(--dark-theme-shadow-offset));
  --box-shadow: 0 0 0 1px rgb(var(--shadow-color-rgb), .3), 0 .3em 2em rgb(var(--shadow-color-rgb), .3);
  --backdrop-box-shadow-alpha: .3;
  background: var(--gray-0);
  margin-left: var(--dark-theme-shadow-offset);
}

.SiteSearch .algolia-autocomplete[style*="display: none"],
.SiteSearch .algolia-autocomplete:not([data-expanded="true"]) {
  opacity: 0;
  --backdrop-box-shadow: none;
  pointer-events: none;
}
  
@supports ((-webkit-backdrop-filter: blur(1em)) or (backdrop-filter: blur(1em))) {
  .SiteSearch .algolia-autocomplete {
    background: rgba(var(--background-color-rgb), .8);
    -webkit-backdrop-filter: saturate(200%) blur(1.25em);
    backdrop-filter: saturate(200%) blur(1.25em);
  }

  [theme="dark"] .SiteSearch .algolia-autocomplete {
    background: rgba(var(--gray-0-rgb), .8);
  }

  /* Safari only hack */
  @media not all and (min-resolution:.001dpcm) { @media {
    .SiteSearch .algolia-autocomplete {
      background: rgba(var(--background-color-rgb), 1);
    }
  }}
}
  
.SiteSearch .algolia-autocomplete [class|="ds-dataset"] > *:first-child {
  position: relative;
  --padding-top: calc(var(--docs-header-height) + .66rem);
  padding: var(--padding-top) var(--dropdown-text-indent) 0;
}
  
.SiteSearch .algolia-autocomplete [class|="ds-dataset"] > *:first-child::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: var(--docs-header-height);
  margin-top: -1px;
  height: 1px;
  background: rgba(var(--color-rgb), .07);
}

[theme="dark"] .SiteSearch .algolia-autocomplete [class|="ds-dataset"] > *:first-child::before {
  margin-top: 0;
  background: rgba(var(--color-rgb), .07);
  box-shadow:
    0 -1px rgba(var(--shadow-color-rgb), .2),
    0 calc(-1 * var(--docs-header-height)) rgba(var(--shadow-color-rgb), .1);
}
  
.SiteSearch .ds-suggestion {
  display: block;
  --horizontal-padding: 1em;
  padding: var(--suggestion-item-vertical-padding) var(--horizontal-padding);
  margin: 0 calc(-1 * var(--horizontal-padding));
  border-radius: .25em;
}

.SiteSearch .ds-suggestion.ds-cursor {
  background: rgba(var(--gray-5-rgb), .2);
}

[theme="dark"] .SiteSearch .ds-suggestion.ds-cursor {
  background: rgba(var(--gray-6-rgb), .15);
}

.SiteSearch a.algolia-docsearch-suggestion {
  display: block;
  color: inherit;
  text-decoration: none;
}

.SiteSearch .algolia-docsearch-suggestion--text {
  font-size: .9em;
  color: rgba(var(--color-rgb), .8);
}

.SiteSearch .algolia-docsearch-suggestion--highlight {
  --highlight-opacity: .2;
  background-color: rgba(var(--orange-rgb), var(--highlight-opacity));
  color: var(--color);
}

[theme="dark"] .SiteSearch .algolia-docsearch-suggestion--highlight {
  --highlight-opacity: .4;
}

.SiteSearch .algolia-docsearch-suggestion--no-results {
  padding-top: var(--suggestion-item-vertical-padding);
  margin-bottom: 1em;
}

.SiteSearch .algolia-docsearch-suggestion--no-results .algolia-docsearch-suggestion--text {
  padding-top: var(--suggestion-item-vertical-padding);
  font-size: 1em;
}

.SiteSearch .algolia-docsearch-suggestion--no-results b {
  font-weight: inherit;
}

.SiteSearch .algolia-docsearch-footer {
  margin-top: .5rem;
  padding: 0 var(--dropdown-text-indent) 2rem;
  font-size: .7em;
  opacity: .5;
}

.SiteSearch .algolia-docsearch-footer--logo {
  color: inherit;
}

.SiteSearch .algolia-docsearch-suggestion--category-header-lvl0:empty::before {
  content: "Document";
}

.SiteSearch .algolia-docsearch-suggestion__main .algolia-docsearch-suggestion--subcategory-column,
.SiteSearch .algolia-docsearch-suggestion__main .algolia-docsearch-suggestion--subcategory-inline,
.SiteSearch .algolia-docsearch-suggestion__main .algolia-docsearch-suggestion--title {
  display: none;
}

.SiteSearch .algolia-docsearch-suggestion:not(.algolia-docsearch-suggestion__main) .algolia-docsearch-suggestion--subcategory-column,
.SiteSearch .algolia-docsearch-suggestion:not(.algolia-docsearch-suggestion__main) .algolia-docsearch-suggestion--subcategory-inline {
  display: none;
}

.SiteSearch .algolia-docsearch-suggestion:not(.algolia-docsearch-suggestion__main) .algolia-docsearch-suggestion--category-header,
.SiteSearch .algolia-docsearch-suggestion:not(.algolia-docsearch-suggestion__main) .algolia-docsearch-suggestion--wrapper,
.SiteSearch .algolia-docsearch-suggestion:not(.algolia-docsearch-suggestion__main) .algolia-docsearch-suggestion--content,
.SiteSearch .algolia-docsearch-suggestion:not(.algolia-docsearch-suggestion__main) .algolia-docsearch-suggestion--title {
  display: inline;
}

.SiteSearch .algolia-docsearch-suggestion:not(.algolia-docsearch-suggestion__main) .algolia-docsearch-suggestion--content:not(.algolia-docsearch-suggestion--no-results)::before {
  content: "›";
  opacity: .15;
  padding: 0 .333em;
  display: inline-block;
  transform: scale3d(1.5, 1.2, 1);
}

.SiteSearch .algolia-docsearch-suggestion:not(.algolia-docsearch-suggestion__main) .algolia-docsearch-suggestion--content:not(.algolia-docsearch-suggestion--no-results) .algolia-docsearch-suggestion--title::before {
  content: "#";
  padding-right: .25em;
  opacity: .5;
}
  
@media (max-width: 768px) {
  .SiteSearch {
    pointer-events: all;
  }

  .SiteSearch--input:not(:focus) {
    padding: 0;
    opacity: 0;
  }

  .SiteSearch[is-focused] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    --text-indent: 3rem;
    z-index: 2;
  }

  .SiteSearch--input-icon {
    left: 15px;
    height: 15px;
    width: 15px;
  }

  .SiteSearch--input-wrapper:focus-within .SiteSearch--input-icon {
    left: 19px;
  }

  .SiteSearch[is-focused] .SiteSearch--input-wrapper {
    background: var(--background-color);
    height: var(--docs-header-height);
  }

  .SiteSearch--input-bottom-border {
    display: none;
  }

  .SiteSearch .algolia-autocomplete {
    position: fixed;
    top: var(--docs-header-height);
    width: 100% !important;
  }

  @supports ((-webkit-backdrop-filter: blur(1em)) or (backdrop-filter: blur(1em))) {
    .SiteSearch .algolia-autocomplete {
      background: var(--background-color);
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
    }

    [theme="dark"] .SiteSearch .algolia-autocomplete {
      background: var(--background-color);
    }
  }
}
