/* TODO: move to @cloudflare/cloudflare-docs-engine/src/css/docs/components/docs-page.css */
[is-site-page] .DocsPage {
  --docs-sidebar-width: 0;
  --docs-content-gap: 1em;
}

html[is-site-page] .DocsContent {
  padding-top: 3rem;
  padding-bottom: 8rem;
}
