.SiteHeader {
  position: fixed;
  z-index: 999;
  top: 0;
  display: flex;
  align-items: stretch;
  height: calc(var(--docs-header-height) - 1px);
  background: var(--background-color);
  --content-indent: 1rem;
}

.SiteHeader---shadow {
  position: fixed;
  z-index: 997;
  top: calc(var(--docs-header-height) - 1px);
  height: 1px;
  background:
    linear-gradient(
      90deg,
      rgba(var(--shadow-color-rgb), 0) 0,
      rgba(var(--shadow-color-rgb), .07) 1.25em,
      rgba(var(--shadow-color-rgb), .07) calc(100% - 1.25em),
      rgba(var(--shadow-color-rgb), 0)
    )
}

@media (max-width: 1440px) {
  .SiteHeader---shadow {
    background: rgba(var(--shadow-color-rgb), .07);
  }
}

.SiteHeader---shadow-cover {
  position: absolute;
  z-index: 998;
  top: calc(var(--docs-header-height) - 1px);
  height: 2em;
  background:
    linear-gradient(
      var(--background-color),
      rgba(var(--background-color-rgb), 0)
    );
}

.SiteHeader, .SiteHeader---shadow, .SiteHeader---shadow-cover {
  left: 0;
  right: 0;
  max-width: var(--docs-max-page-width);
  margin-left: auto;
  margin-right: auto;
}

@supports ((-webkit-backdrop-filter: blur(1em)) or (backdrop-filter:blur(1em))) {
  .SiteHeader {
    background: rgba(var(--background-color-rgb), .8);
    -webkit-backdrop-filter: blur(1em);
    backdrop-filter: blur(1em)
  }
}

.SiteHeader--logo-section {
  display: flex;
  flex-shrink: 0;
  height: var(--docs-header-height);
  z-index: 1;
}

.SiteHeader--cloudflare-logo-link {
  --logo-size: 2.8235294118rem;
  --font-size: 1.17647em; /* 20 / 17 */
  display: flex;
  align-items: center;
  padding-left: var(--content-indent);
  padding-right: var(--content-indent);
  transition: opacity .2s ease, color .2s ease;
}

@media (hover: hover) {
  a.SiteHeader--cloudflare-logo-link:hover {
    opacity: .75;
    color: rgba(var(--color-rgb), .75);
  }
}

.SiteHeader--theme-toggle {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 1rem;
}

.SiteHeader--nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.SiteHeader--nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  color: inherit;
}

@media (hover: hover) {
  .SiteHeader--nav-link:hover {
    background: rgba(var(--color-rgb), .05);
  }
}

.SiteHeader--nav-link[aria-current="page"] {
  color: var(--orange-4);
}

[theme="dark"] .SiteHeader--nav-link[aria-current="page"] {
  color: var(--code-orange);
}

@media (max-width: 48em) {
  .SiteHeader--nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .SiteHeader {
    --content-indent: .666em;
    box-shadow:
      0 1px rgba(var(--shadow-color-rgb), .075),
      0 .2em .3em -.1em rgba(var(--shadow-color-rgb), .075);
  }

  .SiteHeader---shadow,
  .SiteHeader---shadow-cover {
    display: none;
  }

  .SiteHeader--cloudflare-logo-link {
    --docs-logo-lockup-gap: var(--docs-logo-lockup-gap-small);
    --logo-size: 2.5em;
    --font-size: 1.1em;
  }

  .SiteHeader--theme-toggle {
    padding-right: .9rem;
  }
}
