.Stripe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.Stripe--content {
  width: 48em;
  max-width: 100%;
  margin: 0 auto;
}

.Stripe + .Stripe {
  padding-top: 0;
}

.Stripe--content {
  max-width: 100%;
}

.Stripe h1 + p {
  font-size: 1.15em;
  width: 35em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
