.littlefoot {
	--popover-font-family: var(--sl-font-system);
	--popover-background-color: var(--sl-color-bg);
	--popover-text-color: var(--sl-color-white);
}

.littlefoot__content > p > a {
	color: var(--sl-color-text-accent);
}

.data-footnote-backref {
	display: none;
}
