@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --tw-accent-200: rgb(15, 0, 107);
        --tw-accent-600: rgb(46, 105, 255);
        --tw-accent-900: rgb(62, 116, 255);
    }
    
    :root[data-theme="dark"] {
        --tw-accent-200: rgb(246, 130, 31);
        --tw-accent-600: rgb(255, 102, 51);
        --tw-accent-900: rgb(0, 0, 0);
    }
}