@tailwind utilities;

.footnote {
	@apply text-xs font-bold py-1 px-2 ml-1 rounded-full !text-white bg-accent-600;
}

.tippy-box {
	background-color: var(--sl-color-bg-nav);
	border-color: var(--sl-color-text);
	border: 0.1em solid;
	color: var(--sl-color-white);
}
