@tailwind utilities;

.footnote {
	@apply text-xs !text-[--sl-color-accent] font-semibold p-1 -m-1;
}

.tippy-box {
	background-color: var(--sl-color-bg-nav);
	border-color: var(--sl-color-text);
	border: 0.1em solid;
	color: var(--sl-color-white);
}
