{{- $heading := .Get "heading" -}}
{{- $ID := .Inner | urlize -}}

<div class="DocsMarkdown-alpha">
    <!-- If "heading=" tag is included -->
    {{ if and ($heading) (not (eq $heading "h1")) }}
        {{- printf "<%s id='%s'>" $heading $ID | safeHTML -}}
        <span class="DocsMarkdown--header-anchor-positioner">
            <a class="DocsMarkdown--header-anchor Link Link-without-underline" href="#{{- $ID -}}">&#8203;​</a>
        </span>
        <span>{{- .Page.RenderString .Inner -}}</span>
        {{- printf "</%s>" $heading | safeHTML -}}
    <!-- Otherwise render as <h1> -->
    {{- else -}}
        <h1 id="{{- $ID -}}">{{- .Page.RenderString .Inner -}}</h1>
    {{- end -}}
    <div class="DocsMarkdown--pill DocsMarkdown--pill-alpha">Alpha</div>
</div>
