<div class="ArchitectureDiagram">
  <div class="ArchitectureDiagram--diagram">
    <div class="ArchitectureDiagram--content">
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
    </div>
    <div class="ArchitectureDiagram--caption">Traditional architecture</div>
  </div>
  <div class="ArchitectureDiagram--diagram">
    <div class="ArchitectureDiagram--content">
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
      <div class="ArchitectureDiagram--process-overhead">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--process-overhead-background"></div>
      </div>
    </div>
    <div class="ArchitectureDiagram--caption">Workers V8 isolates</div>
  </div>
  <div class="ArchitectureDiagram--key">
    <div class="ArchitectureDiagram--key-content">
      <div class="ArchitectureDiagram--key-user-code">
        <div class="ArchitectureDiagram--user-code"></div>
        <div class="ArchitectureDiagram--key-label">User code</div>
      </div>
      <div class="ArchitectureDiagram--key-process-overhead">
        <div class="ArchitectureDiagram--process-overhead">
          <div class="ArchitectureDiagram--process-overhead-background"></div>
        </div>
        <div class="ArchitectureDiagram--key-label">Process overhead</div>
      </div>
    </div>
  </div>
</div>