{{- $yamlData := index (index (index site.Data "centralized-info") "notifications") "entries" -}}
{{- $productFilter := .Get "product" -}}
{{- $notificationFilter := .Get "notificationName" -}}
{{- $products := slice -}}
{{- $filteredData := slice -}}

{{- with $productFilter -}}

{{- range $index, $entry := $yamlData -}}
{{- if eq $productFilter $entry.associatedProducts -}}
{{- with $notificationFilter -}}
{{- if ne $entry.name . -}}
{{- continue -}}
{{- end -}}
{{- end -}}
{{- $filteredData = $filteredData | append $entry -}}
{{- end -}}
{{- end -}}

{{- else -}}

{{ $filteredData = $yamlData }}

{{- end -}}

{{- range $index, $entry := $filteredData -}}
{{- $products = $products | append $entry.associatedProducts -}}
{{- end -}}
{{- $products = sort ($products | uniq) . "asc" -}}

{{- range $index, $product := $products -}}
{{- if gt (len $products) 1 }}
{{- (printf "## %s" $product) | markdownify }}
{{- end -}}

{{- range $index, $notification := $filteredData -}}
{{- $name := $notification.name -}}
{{- if eq $product $notification.associatedProducts -}}
{{- range $k, $v := $notification -}}
{{- $v = $v | $.Page.RenderString -}}
{{- if not (in $v "<p>")}}
{{- $v = (printf "<p>%s</p>" $v) | safeHTML }}
{{- end -}}
{{- $notification = merge $notification (dict $k $v) -}}
{{- end -}}

<details class="DocsMarkdown">
    <summary>{{ $name }}</summary>
    <div>
    <p><strong>Who is it for?</strong></p>
    {{ $notification.audience }}
    <p><strong>Other options / filters</strong></p>
    {{ $notification.otherFilters }}

    <p><strong>Included with</strong></p>
    {{ $notification.availability }}
    <p><strong>What should you do if you receive one?</strong></p>
    {{ $notification.nextSteps }}
    {{- with $notification.additional_information -}}
    <p><strong>Additional information</strong></p>
    {{ . }}
    {{- end -}}
    {{- with $notification.limitations -}}
    <p><strong>Limitations</strong></p>
    {{ . }}
    {{- end -}}
    </div>
</details>
{{- end -}}
{{- end -}}
{{- end -}}