{{- $heading := .Get "heading" -}}

<div class="DocsMarkdown-beta">
    <!-- If "heading=" tag that isn't h1 is included -->
    {{ if and ($heading) (not (eq $heading "h1")) }}
        {{ printf "<%s>" $heading | safeHTML }}
            <span class="DocsMarkdown--header-anchor-positioner">
                <a
                class="DocsMarkdown--header-anchor Link Link-without-underline"
                href="#{{ .Inner | safeURL | anchorize }}"
                >&#8203;</a
                >
            </span>
        {{ printf "<%s>" $heading | safeHTML }}
        {{- .Page.RenderString .Inner -}}
        {{ printf "</%s>" $heading | safeHTML }}
    <!-- Otherwise render as <h1> -->
    {{ else }}
        <h1>{{- .Page.RenderString .Inner -}}</h1>
    {{ end }}
    <div class="DocsMarkdown--pill DocsMarkdown--pill-beta">Beta</div>
</div>
