{{- $calculation_file := .Get "file" }} 
{{- $calculation_data := index $.Site.Data.calculations $calculation_file -}} 
{{- $fieldsets := index $calculation_data "fieldsets" -}} 
{{- $calculations := index $calculation_data "calculations" }}

<form>
  {{- range $fieldsets -}}
  <fieldset class="calculationInputs">
    <legend>{{.name}}</legend>
    {{- range .fields -}}
    <label for="{{.key}}">{{.title}}</label>
    <input
      class="calculationInputField"
      type="number"
      id="{{.key}}"
      name="{{.key}}"
      value="{{.value}}"
      {{if .editable}}{{else}}readonly{{end}}
      oninput="calculateData()"
    />
    {{- end -}}
  </fieldset>
  <br />
  {{- end -}}

  <fieldset class="calculations">
    <legend>Result</legend>
    {{- range $calculations -}}
    <label for="{{.key}}">{{.title}}</label>
    <input
      type="number"
      id="{{.key}}"
      name="{{.key}}"
      data-formula="{{.formula}}"
      readonly
    />
    {{- end -}}
  </fieldset>
</form>

<p class="calculationDisclaimer">This calculator is for informational purposes only and all results are estimates.</p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/12.1.0/math.min.js"></script>
<script>
  const inputElements = document.getElementsByClassName("calculationInputField");
  const inputArray = Array.from(inputElements);
    
  function replacePlaceholders(inputObj, inputString) {
    inputObj.forEach(function (inputObj) {
      inputString = inputString.replace(
        new RegExp("(?<=^|[\\s/+*(-])(" + inputObj.id + ")(?=[\\s+/*)-]|$)", "g"),
        inputObj.value
      );
    });
    return inputString;
  }

  function calculateData() {
    let inputObjects = [];

    // Iterate over each input element
    inputArray.forEach(function (input) {
      // Create an object with "id" and "value" properties
      const inputObject = {
        id: input.id,
        value: input.value,
      };

      // Push the object into the array
      inputObjects.push(inputObject);
    });

    const results = document.querySelector("fieldset.calculations");
    const resultElements = results.querySelectorAll("input");

    resultElements.forEach(function (input) {
      let formula = input.dataset.formula;
      let evaluatableFormula = replacePlaceholders(inputObjects, formula);
      input.value = math.evaluate(evaluatableFormula);
    });
  }

  document.addEventListener("DOMContentLoaded", calculateData());
</script>

<style>
  fieldset.calculations {
    border: 4px solid rgba(243, 128, 32, 1);
  }

  input[readonly] {
    background-color: #f0f0f0; /* Light gray background */
    border: 1px solid #ccc; /* Light gray border */
    color: #777; /* Gray text color */
    cursor: not-allowed; /* Change cursor to 'not-allowed' */
  }

  [theme="dark"] input[readonly] {
    background-color: rgba(214, 233, 245, 0.8);
    border: 1px solid #ccc;
    color: rgba(0, 0, 0, 0.8); /* Gray text color */
    cursor: not-allowed; /* Change cursor to 'not-allowed' */
  }

  input {
    display: block;
    margin-bottom: 0.5em;
  }

  .calculationDisclaimer {
    font-size: .7em;
    margin-top: .5em;
    margin-bottom: 2em;
  }
</style>
