{{- $date := .Get "date" -}}
{{- $title := default "" (.Get "title") -}}
{{- $product := .Page.Params.changelog_file_name -}}
{{- $changelogData := index (index (index .Site.Data "changelogs") $product) "entries" -}}
{{- $changelogEntry := dict -}}

{{- range $changelogData -}}

{{- if (ne $title "") -}}

{{- if and (eq .publish_date $date) (eq .title $title) -}}

{{ $changelogEntry = . }}

{{- end -}}

{{- else -}}

{{- if (eq .publish_date $date) -}}

{{ $changelogEntry = . }}

{{- end -}}
{{- end -}}
{{- end -}}

{{- with $changelogEntry.table -}}

<div class="DocsMarkdown--table-wrap">
<div class="DocsMarkdown--table-wrap-inner">
<table style="width: 100%">
<thead>
<tr>
<th>Ruleset</th>
<th>Rule ID</th>
{{- if (eq $product "waf") -}}
<th>Legacy Rule ID</th>
{{- end -}}
<th>Description</th>
<th>Previous Action</th>
<th>New Action</th>
<th>Comments</th>
</tr>
</thead>
<tbody>
{{- range index $changelogEntry "entries" -}}
<tr>
<td>{{- .ruleset -}}</td>
<td>{{- .rule_id -}}</td>
{{- if (eq $product "waf") -}}
<td>{{- .legacy_id -}}</td>
{{- end -}}
<td>{{- .description -}}</td>
<td>{{- .previous_action -}}</td>
<td>{{- .new_action -}}</td>
<td>{{- .comments -}}</td>
</tr>
{{- end -}}
</tbody>
</table>
</div>
</div>

{{- else -}}

{{- $changelogEntry.description | $.Page.RenderString -}}

{{- end -}}