{{- $files := slice -}}
{{- range os.ReadDir "content/workers/_partials/_platform-compatibility-dates" -}}
  {{- with $.Site.GetPage (path.Join "workers/_partials/_platform-compatibility-dates/" .Name) -}}
    {{- $files = $files | append (dict "name" .Params.name "sort_date" .Params.sort_date "experimental" (default false .Params.experimental) "enable_date" .Params.enable_date "enable_flag" .Params.enable_flag "disable_flag" .Params.disable_flag "content" (trim .Content "\n")) -}}
  {{- end -}}
{{- end -}}
{{- $files = sort $files "sort_date" "desc" -}}
{{- $experimental := lower (default "false" (.Get "experimental")) -}}
{{- range $files -}}
  {{- if or (and .experimental (eq $experimental "true")) (and (not .experimental) (eq $experimental "false")) -}}
    {{- (printf "### %s" .name) | markdownify -}}
    <table>
      <tbody>
        {{- if or .enable_date .experimental -}}
        <tr>
          <td>
            <strong>Default as of</strong>
          </td>
          <td>{{- if .enable_date -}}{{- .enable_date -}}{{- else -}}TBD{{- end -}}</td>
        </tr>
        {{- end -}}
        {{- if or .enable_flag .experimental -}}
        <tr>
          <td>
            <strong>Flag to enable</strong>
          </td>
          <td>{{- if .enable_flag -}}<code>{{- .enable_flag -}}</code>{{- else -}}TBD{{- end -}}</td>
        </tr>
        {{- end -}}
        {{- if or .disable_flag .experimental -}}
        <tr>
          <td>
            <strong>Flag to disable</strong>
          </td>
          <td>{{- if .disable_flag -}}<code>{{- .disable_flag -}}</code>{{- else -}}TBD{{- end -}}</td>
        </tr>
        {{- end -}}
      </tbody>
    </table>
    {{ .content | markdownify }}
  {{- end -}}
{{- end -}}
