{{- $current := default .Page.RelPermalink (.Get "folderDirectory") -}}
{{- $section := index (split $current "/") 1 }}
{{- $len := len (split $current "/") -}}

{{- $showDescriptions := default false (.Get "showDescriptions") -}}
{{- $truncate := default 250 (.Get "char_limit") -}}
{{- $link := "" }}

<ul>
{{- range (where .Site.Pages "Section" $section).ByWeight -}}
  {{ $path := "" }}
  {{ with .File }}
    {{ $path = .Path }}
  {{ else }}
    {{ $path = .Path }}
  {{ end }}
  {{- $x := .RelPermalink -}}
  {{- $title := .Title -}}
  {{- $self := eq $x $current -}}
  {{- $delta := sub (len (split $x "/")) $len -}}
  {{- if and (not $self) (hasPrefix $x $current) (lt $delta 2) (not .Params.hidden) -}}
  <li>
    {{- if $showDescriptions -}}
      {{- $link = printf "[%s](%s): %s" $title .RelPermalink (partial "seo-meta-description.html" (dict "content" .Content "params" .Params "truncate" $truncate )) -}}
    {{- else -}}
      {{- $link = printf "[%s](%s)" $title .RelPermalink -}}
    {{- end -}}
    {{- .Page.RenderString $link -}}
  </li>
  {{- end -}}
  {{- with .Params.external_link -}}
  {{- $path = replaceRE `(^.{1})` "/$1" (replace $path ".md" "") -}}
  {{- if hasPrefix $path $current -}}
  {{- $link = printf "[%s](%s)" $title . -}}
  <li>
    {{- $.Page.RenderString $link -}}
  </li>
  {{- end -}}
  {{- end -}}

{{- end -}}
</ul>