{{- $current := default .Page.RelPermalink (.Get "folderDirectory") -}}
{{- $section := index (split $current "/") 1 }}
{{- $len := len (split $current "/") -}}

{{- $showDescriptions := default false (.Get "showDescriptions") -}}
{{- $truncate := default 250 (.Get "char_limit") -}}
{{- $link := "" }}

<ul>
{{- range (where .Site.Pages "Section" $section).ByWeight -}}
  {{ $path := "" }}
  {{ with .File }}
    {{ $path = (replace .Path "\\" "/") }}
  {{ else }}
    {{ $path = (replace .Path "\\" "/") }}
  {{ end }}
  {{- $x := .RelPermalink -}}
    {{- $title := .Title -}}
  {{- $meta := default "" .Params.meta.description -}}
  {{- $self := eq $x $current -}}
  {{- $delta := sub (len (split $x "/")) $len -}}
  {{- if and (not $self) (hasPrefix $x $current) (lt $delta 2) (not .Params.hidden) -}}
  <li>
    {{- if $showDescriptions -}}
      {{- $link = printf "[%s](%s): %s" $title .RelPermalink (partial "seo-meta-description.html" (dict "content" .Content "params" .Params "truncate" $truncate )) -}}
    {{- else -}}
      {{- $link = printf "[%s](%s)" $title .RelPermalink -}}
    {{- end -}}
    {{- .Page.RenderString $link -}}
  </li>
  {{- end -}}
  {{- with .Params.external_link -}}
  {{- $path = replaceRE `(.{1}$)` "$1/" (replaceRE `(^.{1})` "/$1" (replace $path ".md" "")) -}}
  {{- $delta2 := sub (len (split $path "/")) $len -}}
  {{- if and (hasPrefix $path $current) (lt $delta2 2) -}}
    {{- if (eq $meta "") -}}
      {{- $link = printf "[%s](%s)" $title . -}}
    {{- else -}}
      {{- $link = printf "[%s](%s): %s" $title . $meta -}}
    {{- end -}}
  <li>
    {{- $.Page.RenderString $link -}}
  </li>
  {{- end -}}
  {{- end -}}

{{- end -}}
</ul>