{{ $filename := default (.Get "file") (.Get 0) }}
{{ $data := slice }}
{{ $fileplaceholder := "" }}
{{ range readDir "./data/learning-paths/" }}
{{ if eq .Name $filename }}
{{ $fileplaceholder :=  print "./data/learning-paths/" .Name }}
{{ $file_data := getJSON $fileplaceholder }}
{{ $data = $data | append $file_data }}
{{ end }}
{{ end }}

{{ range $data }}
<p class="viewOtherPaths"><a href="/learning-paths/"><strong>&lt;</strong>  View other learning paths</a></p>

<div class="header">
<h1>{{- .title -}}</h1>
<p><em>Learning path</em></p>
<p class="pathDescription">{{- .description -}}</p>
<p>{{- .detailed_description | markdownify -}}</p>
</div>

{{ end }}