{{- $data := index $.Site.Data "external-resources" -}}
{{- $resource_type := .Get "resource_type" -}}
{{- $entries := index (index $data $resource_type) "entries" -}}
{{- $tags := split (.Get "tags") "," }}
{{- $cloudflare_only := default true (.Get "cloudflare_only") -}}
{{- $products := split (.Get "products") "," }}

<ul>

{{ range $entry := (sort $entries "updated" "desc")}}

<!-- Look for commonalities between tags arrays and products arrays -->
{{ $tag_intersect := $tags | intersect $entry.tags }}
{{ $product_intersect := $products | intersect $entry.products }}

<!-- If one of products/tags hasn't been set in the first place, update to exclude checking for that value -->
{{- if and (eq (index $tags 0) "") (eq (len $tags) 1) -}}
{{ $tag_intersect = $tag_intersect | append "Pass" }}
{{- end -}}

{{- if and (eq (index $products 0) "") (eq (len $products) 1) }}
{{ $product_intersect = $product_intersect | append "Pass" }}
{{- end -}}

{{ if and (gt (len $tag_intersect) 0) (gt (len $product_intersect) 0) }}
{{ if $cloudflare_only }}
{{ if $entry.cloudflare }}
{{ $string := printf "[%s](%s): %s" $entry.name $entry.link $entry.description | $.Page.RenderString }}
<li>{{$string}}</li>
{{ end }}
{{ else }}
{{ $string := printf "[%s](%s): %s" $entry.name $entry.link $entry.description | $.Page.RenderString }}
<li>{{$string}}</li>
{{ end }}
{{ end }}
{{ end }}

</ul>