{{- $header := .Get "header" -}} {{- $url := .Get "href" -}}

<h3 id="{{ $header | safeURL | anchorize }}">
  <span class="DocsMarkdown--header-anchor-positioner">
    <a
      class="DocsMarkdown--header-anchor Link Link-without-underline"
      href="#{{ $header | safeURL | anchorize }}"
      >&#8203;​</a
    >
  </span>
  <span>{{ $header }}</span>
</h3>
<div class="DocsMarkdown--feature-group">
  <div>
    <p>{{- .Page.RenderString .Inner -}}</p>
  </div>
  {{- if $url -}}
  <div class="DocsMarkdown--feature-button">
    <a
      class="Button Button-is-docs-primary DocsMarkdown--link-content"
      href="{{ $url }}"
      >{{ with .Get "cta" }} {{- . -}} {{ else }} Use {{ $header }} {{ end }} {{- if strings.HasPrefix $url "http" -}} {{-
      partialCached "external.icon" . -}} {{- end -}}</a
    >
  </div>
  {{- end -}}
</div>
