{{- $plan_json := $.Site.Data.plans -}}
{{- $id := split (.Get "id")  "." -}}
{{- $plan := .Get "plan" -}}
{{- $info :=  index $plan_json $id -}}

<ul>
{{- range $elem_key, $elem_val := $info -}}
{{ if and (ne $elem_key "link") (ne $elem_key "title") }}
{{-  $title := index . "title" -}}
{{-  $link := index . "link" -}}
{{- $properties := index . "properties" -}}
{{- range $properties -}}
    {{- if eq (index . "title") "Availability" -}}
    {{- if eq (index . "free") "Yes" -}}
    <li>{{ if $link }}
        {{- (printf "[%s](%s)" $title $link) | markdownify -}}
        {{ else }}
        {{ $title | markdownify }}
        {{ end }}
    </li>
    {{- end -}}
    {{- end -}}
{{ end }}
{{ end }}
{{ end }}
</ul>