<!-- Get data from other places -->

{{- $productArea := $.Page.Params.changelog_product_area_name -}}
{{- $changelogData := partial "full-changelog-data.html" -}}

<!-- Define arrays to populate -->
{{- $changelogRendered := slice -}}
{{- $products := slice -}}
{{- $productAreas := slice -}}

<!-- Loop through the changelog data to build out the appropriate entries + filters -->
{{- range $product := $changelogData -}}

<!-- Used for product group rollup pages. Skips pages not specified in the fronmatter. -->
{{- with $productArea -}}
{{- if ne $product.productArea . -}}
{{- continue -}}
{{- end -}}
{{- end -}}

{{- $products = $products | append $product.productName -}}
{{- $productAreas = $productAreas | append $product.productArea -}}
{{- range $item := $product.entries -}}
{{- $placeholderDict := dict -}}
{{- with $product.topLevelLink -}}
{{- $placeholderDict = (dict "link" $product.topLevelLink) -}}
{{- end -}}
{{- with $item.individual_page -}}
{{- $title := "" -}}
{{- with $.Site.GetPage (replaceRE `\/$` "" $item.link) -}}
{{- $title = .Title -}}
{{- if eq $product.productName "DDoS protection" -}}
{{- $title = printf "%s ruleset - %s" (delimit (findRE `^.*?\s` (index .Ancestors 0).Title) "") .Title -}}
{{- end -}}
{{- end -}}
{{ $description := printf "For more details, refer to the dedicated page for [%s](%s)." $title $item.link -}}
{{- with $item.scheduled -}}
{{- with $item.scheduled_date -}}
{{- $title = (printf "%s for %s" $title $item.scheduled_date) -}}
{{- end -}}
{{- end -}}
{{- $placeholderDict = merge $placeholderDict (dict "title" $title "description" $description) -}}
{{- end -}}
{{- $changelogRendered = $changelogRendered
  | append (merge $item $placeholderDict) -}}
{{- end -}}
{{- end -}}

<!-- Order and remove dupe values -->
{{- $changelogRendered = sort $changelogRendered "publish_date" "desc" -}}
{{- $products = sort ($products | uniq) . "asc" -}}
{{- $productAreas = (sort ($productAreas | uniq) . "desc") | collections.Reverse -}}

<div class="selectorDropdowns">
  <div>
    <label for="product">Product</label>
    <select class="selectorFilter" name="data-product" id="product">
      <option value="all">Select...</option>
      {{- range $products -}}
      <option value="{{ . | lower }}">{{.}}</option>
      {{- end -}}
    </select>
  </div>
  <div {{ with $productArea }}style="display:none"{{ end }}>
    <label for="productArea">Product area</label>
    <select class="selectorFilter" name="data-product-area" id="productArea">
      <option value="all">Select...</option>
      {{- range $productAreas -}}
      {{- with . }}
      <option value="{{ . | lower }}">{{.}}</option>
      {{- end -}}
      {{- end -}}
    </select>
  </div>
  <div class="searchInput">
    <label for="searchInput">Text search</label>
    <input type="text" id="searchInput" placeholder="Search..." />
  </div>
</div>

<div id="changelogContent">
{{- range $entry := $changelogRendered -}}

<div class="data-row" data-product="{{$entry.product | lower}}" data-product-area="{{$entry.productArea | lower}}" data-product-area-link="{{- print $entry.productAreaLink "index.xml" -}}" data-changelog="{{- print $entry.url "index.xml" -}}" data-date="{{ $entry.publish_date | time.Format "January 2, 2006" }}">
  <h3>{{- printf "[%s](%s)" $entry.product $entry.productLink | $.Page.RenderString -}}</h3>
  {{- with $entry.title -}}
  <p><strong>{{ . | $.Page.RenderString }}</strong></td>
  {{- end -}}
  <p>{{ $entry.description | $.Page.RenderString }}</td>
</div>
{{- end -}}

<div class="viewMoreContainer">
  <button
    id="showAllButton"
    style="display: none"
    class="viewMoreButton"
  >
    View more changes
  </button>
</div>

<script>
  const productsDropdown = document.getElementById("product");
  const productAreaDropdown = document.getElementById("productArea");
  const searchInput = document.getElementById("searchInput");
  const dataRows = document.querySelectorAll(".data-row");
  const showAllButton = document.getElementById("showAllButton");
  let productRSSDescriptionText = document.getElementById("productDescription");
  let productAreaRSSDescriptionText = document.getElementById("productAreaDescription");

  let MAX_VISIBLE_ROWS = 50;

  // add date headers

  // Initialize variable to store last date
  let lastDate = null;
  const entriesContainer = document.getElementById('changelogContent');

  // Loop through each entry
  dataRows.forEach(entry => {
    // Get date from data attribute
    const date = entry.getAttribute('data-date');

    // Check if date has changed
    if (date !== lastDate) {
      // Create and append sticky date header
      const stickyHeader = document.createElement('div');
      stickyHeader.classList.add('sticky-date-header');
      stickyHeader.textContent = date;
      entriesContainer.insertBefore(stickyHeader, entry);

      // Update last date
      lastDate = date;
    }
  });

  // Function to update URL parameters
  function updateURLParams() {
    const params = new URLSearchParams();
    if (productsDropdown.value !== "all") {
      params.set("product", productsDropdown.value);
    }
    if (productAreaDropdown.value !== "all") {
      params.set("product-area", productAreaDropdown.value);
    }
    history.replaceState(null, "", "?" + params.toString());
  }

  // Function to update description text
  function updateDescriptionText() {
    let productName = "Changelog";
    let productAreaName = "Changelog";
    let changelogLink = "/changelog/index.xml";
    let areaChangelogLink = "/changelog/index.xml";
    const regexPattern = `developers\.cloudflare\.com(.*?)#`;
    productAreaRSSDescriptionText.style.display = "none";
    for (const dropdown of productsDropdown) {
      if (dropdown.selected === true && dropdown.value !== "all") {
        productName = dropdown.label;
        dataRows.forEach((row) => {
            if (row.getAttribute("data-product") === productName.toLowerCase()) {
              changelogLink = row.getAttribute("data-changelog");
              }
          });
      }
    }
    for (const areaDropdown of productAreaDropdown) {
      if (areaDropdown.selected === true && areaDropdown.value !== "all") {
        productAreaName = areaDropdown.label;
        dataRows.forEach((row) => {
          if (row.getAttribute("data-product-area") === productAreaName.toLowerCase()) {
              areaChangelogLink = row.getAttribute("data-product-area-link");
              }
          });
          productAreaRSSDescriptionText.style.display = "block";
      }
    }
    productRSSDescriptionText.innerHTML = `Subscribe to all ${productName} posts via <a class='rssLink' target="_blank" href=${changelogLink}>RSS</a>.`;
    productAreaRSSDescriptionText.innerHTML = `Subscribe to all ${productAreaName} posts via <a class='rssLink' target="_blank" href=${areaChangelogLink}>RSS</a>.`;
  }

  // Function to filter and show/hide rows
  function updateTable() {
    updateURLParams();

    {{ with .Get "topLevel" }}
    updateDescriptionText();
    {{- end -}}

    let visibleRowCount = 0;

    dataRows.forEach((row) => {
      const productMatch =
        productsDropdown.value === "all" ||
        row.getAttribute("data-product").toLowerCase() ===
          productsDropdown.value.toLowerCase();
      const productAreaMatch =
        productAreaDropdown.value === "all" ||
        row.getAttribute("data-product-area").toLowerCase() ===
          productAreaDropdown.value.toLowerCase();
      const searchMatch =
        searchInput.value.trim() === "" ||
        Array.from(row.children).some((cell) =>
          cell.textContent
            .toLowerCase()
            .includes(searchInput.value.trim().toLowerCase())
        );
      if (productMatch && searchMatch && productAreaMatch) {
        row.style.display = "table-row";
        visibleRowCount++;
        if (visibleRowCount > MAX_VISIBLE_ROWS) {
          row.style.display = "none";
        }
      } else {
        row.style.display = "none";
      }
    });

    if (visibleRowCount > MAX_VISIBLE_ROWS) {
      showAllButton.style.display = "block";
    } else {
      showAllButton.style.display = "none";
    }
    updateStickyHeaderVisibility();
  }

  function showAllEntries() {
    MAX_VISIBLE_ROWS += 20;
    updateTable();
  }

  // Set initial values from URL params
  const urlParams = new URLSearchParams(window.location.search);
  const productFilter = urlParams.get("product");
  if (productFilter) {
    for (const option of productsDropdown) {
      if (option.value === productFilter.toLowerCase()) {
        productsDropdown.value = productFilter.toLowerCase();
        break;
      }
    }
  }
  const productAreaFilter = urlParams.get("product-area");
  if (productAreaFilter) {
    for (const productArea of productAreaDropdown) {
      if (productArea.value === productAreaFilter.toLowerCase()) {
        productAreaDropdown.value = productAreaFilter.toLowerCase();
        break;
      }
    }
  }

  function updateStickyHeaderVisibility() {
    const stickyHeaders = document.querySelectorAll('.sticky-date-header');

    stickyHeaders.forEach((stickyHeader, index) => {
        // Get the next sticky header or the end of the entries container
        const nextStickyHeader = stickyHeaders[index + 1] || entriesContainer.lastElementChild;

        // Get all entries between this sticky header and the next one
        const entriesBetween = [];
        let nextElement = stickyHeader.nextElementSibling;
        while (nextElement !== nextStickyHeader) {
            entriesBetween.push(nextElement);
            nextElement = nextElement.nextElementSibling;
        }

        // Check if all entries between this sticky header and the next one are hidden
        const allHidden = entriesBetween.every(entry => entry.style.display === 'none');

        // Update the visibility of the sticky header
        stickyHeader.style.display = allHidden ? 'none' : '';
        if (index === (stickyHeaders.length - 1)) {
          stickyHeader.style.display = 'none';
        }
    });
}

  // Initial table update
  updateTable();

  // Event listeners
  productsDropdown.addEventListener("change", updateTable);
  productAreaDropdown.addEventListener("change", updateTable);
  searchInput.addEventListener("input", updateTable);
  showAllButton.addEventListener("click", showAllEntries);
</script>


<style>

  @media (max-width: 500px) {
    .code-container {
      overflow-x: auto;
      max-width: 320px;
    }
    code {
      word-break: break-all !important;
    }
  }
.sticky-date-header {
    position: sticky;
    padding: 10px;
    padding-left: 1px;
    border-bottom: 1px solid #ccc;
    z-index: 1000;
    background: var(--background-color);
    font-weight: 400;
    font-size: 1.4em;
  }

</style>