{{- $product := .Get "product" -}}
{{- $glossaryData := partialCached "glossary-retrieval.html" . -}} 
{{- $glossaryEntries := dict -}}

{{- with $product -}}
{{- range $k, $v := $glossaryData -}}
{{- if in $v.products $product -}}
{{- $glossaryEntries = merge $glossaryEntries (dict $k $v) -}}
{{- end -}}
{{- end -}}
{{- else -}}
{{- $glossaryEntries = $glossaryData -}}
{{- end -}}

<div class="selectorDropdowns">
  <div class="searchInput">
    <label for="searchInput">Text search</label>
    <input type="text" id="searchInput" placeholder="Search..." />
  </div>
</div>

<div class="DocsMarkdown--table-wrap">
  <div class="DocsMarkdown--table-wrap-inner">
    <table>
      <colgroup>
        {{- with $product -}}
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 80%;">
        {{- else -}}
        <col span="1" style="width: 20%;">
        <col span="1" style="width: 60%;">
        <col span="1" style="width: 20%;">
        {{- end -}}
      </colgroup>
      <thead>
        <tr>
          <td>
            <strong class="termColumn">Term</strong>
          </td>
          <td>
            <strong>Definition</strong>
          </td>
          {{- with $product -}}
          {{- else -}}
          <td>
            <strong>Product</strong>
          </td>
          {{- end -}}
        </tr>
      </thead>
      <tbody id="tableBody">
        {{- range sort $glossaryEntries "word" "asc" -}} 
        <tr class="data-row">
          <td class="termColumn">{{ .word }}</td>
          <td>{{ .definition | strings.FirstUpper | $.Page.RenderString }}</td>
          {{- with $product -}}
          {{- else -}}
          <td>{{ .products | $.Page.RenderString }}</td>
          {{- end -}}
        </tr>
        {{- end -}}
      </tbody>
    </table>
  </div>
</div>
<div class="viewMoreContainer">
  <button
    id="showAllButton"
    style="display: none"
    class="viewMoreButton"
  >
    View more terms
  </button>
</div>

<script>
  const searchInput = document.getElementById("searchInput");
  const urlParams = new URLSearchParams(window.location.search);
  const termParam = urlParams.get("term");

  // Update searchInput value if "term" parameter is present in the URL
  if (termParam) {
    searchInput.value = termParam;
  }

  const dataRows = document.querySelectorAll(".data-row");
  const showAllButton = document.getElementById("showAllButton");
  let descriptionText = document.getElementById("description");

  let MAX_VISIBLE_ROWS = 50;

  // Function to filter and show/hide rows
  function updateTable() {
    // Update "term" parameter in the URL as someone types
    const currentTerm = searchInput.value.trim();
    const newUrl = new URL(window.location.href);
    if (currentTerm) {
      newUrl.searchParams.set("term", currentTerm);
    } else {
      newUrl.searchParams.delete("term");
    }
    window.history.replaceState({}, "", newUrl);

    let visibleRowCount = 0;

    dataRows.forEach((row) => {
      const searchMatch =
        currentTerm === "" ||
        Array.from(row.children).some((cell) =>
          cell.textContent
            .toLowerCase()
            .includes(currentTerm.toLowerCase())
        );
      if (searchMatch) {
        row.style.display = "table-row";
        visibleRowCount++;
        if (visibleRowCount > MAX_VISIBLE_ROWS) {
          row.style.display = "none";
        }
      } else {
        row.style.display = "none";
      }
    });

    if (visibleRowCount > MAX_VISIBLE_ROWS) {
      showAllButton.style.display = "block";
    } else {
      showAllButton.style.display = "none";
    }
  }

  function showAllEntries() {
    MAX_VISIBLE_ROWS += 30;
    updateTable();
  }

  // Initial table update
  updateTable();

  // Event listeners
  searchInput.addEventListener("input", updateTable);
  showAllButton.addEventListener("click", showAllEntries);
</script>

<style>
.termColumn {
  white-space: normal !important;
}
</style>