{{- $id := .Get "term_id" -}}
{{- $length := "short" -}}
{{- $prepend := .Get "prepend" -}}
{{- $text := .Inner -}}
{{- $link := .Get "link" -}}

{{- $glossaryDefinition := partial "glossary-definition.html" (dict "id" $id "length" $length "prepend" $prepend) -}}

{{- $definition := $glossaryDefinition | $.Page.RenderString -}}
{{- if not (in $definition "<p>")}}
{{- $definition = (printf "<p>%s</p>" $definition) | safeHTML }}
{{- end -}}

{{- $tooltip := $definition | replaceRE "(?s)<span class='glossary-tooltip'.*?>(.*?).*</span>" "$1" -}}
{{- $tooltip := trim $tooltip " \n" -}}

{{- with $link -}}
<span tabindex="0" class='glossary-tooltip-link' data-title='{{- $tooltip | safeHTML -}}' data-toggle='tooltip' data-placement='top' aria-label='{{ $text }}'>
{{- $renderedLink := (printf "[%s](%s)" $text .) | $.Page.RenderString -}}

<!-- Required b/c external links get wrapped in a new <p> tag for some reason -->
{{- if (in $renderedLink "<p>")}}
{{- $renderedLink = replace (replace $renderedLink "<p>" "") "</p>" "" -}}
{{- $renderedLink = $renderedLink | $.Page.RenderString -}}
{{- end -}}

{{- $renderedLink -}}
</span>
{{- else -}}
<span tabindex="0" class='glossary-tooltip' data-title='{{- $tooltip | safeHTML -}}' data-toggle='tooltip' data-placement='top' aria-label='{{ $text }}'>
{{- $text -}}
</span>
{{- end -}}