{{- $title := (default "" (.Get "title")) -}}
{{- $ID := $title | urlize -}}


<div itemprop="itemListElement" itemscope itemtype="https://schema.org/HowToStep" class="howToStep">

{{- with .Get "headingLevel" -}}
  <h{{ . | string }} id="{{ $ID }}" itemprop="name"><span class="DocsMarkdown--header-anchor-positioner">
      <a
      class="DocsMarkdown--header-anchor Link Link-without-underline"
      href="#{{ $ID }}"
      itemprop="url"
      >&#8203;​</a
      >
  </span>
  <span>{{ $title | markdownify }}</span>
    </h{{ . | string }}>

{{- end -}}

{{- .Inner -}}
</div>