{{- $files := slice -}}
{{- range os.ReadDir "content/pages/_partials/_platform-language-support-and-tools" -}}
  {{- with $.Site.GetPage (path.Join "pages/_partials/_platform-language-support-and-tools/" .Name) -}}
    {{- $files = $files | append (dict "name" (printf "v%d" .Params.major_version) "status" .Params.status "enable_date" (time .Params.enable_date) "languages" .Params.languages) -}}
  {{- end -}}
{{- end -}}

{{- $files = sort $files "enable_date" "asc" -}}

{{- $defaultEnableDate := time "1970-01-01" -}}
{{- range $files -}}
  {{- if and (gt .enable_date $defaultEnableDate) (lt .enable_date now) -}}
    {{ $defaultEnableDate = .enable_date }}
  {{- end -}}
{{- end -}}

{{ $unique_id := substr (md5 (printf "languages%s" ($files | jsonify))) 0 16 }}

<div class="tabs-wrapper" tab-wrapper-id="{{ $unique_id }}">
  <nav role="navigation" class="tabs">
    <ul class="tab-active" block-id="{{ $unique_id }}">
      {{ range $idx, $file := $files }}
      <li class="tab-label-wrapper">
        <a class="tab-label noCodeLabel {{ if eq $idx 0 }}active{{ end }}" href="#" data-link="tab-{{ $file.name }}"
           data-id="{{ lower $unique_id }}">
          {{ $file.name }}{{ if eq $file.status "beta" }}<div class="DocsMarkdown--pill DocsMarkdown--pill-tab DocsMarkdown--pill-beta">Beta</div>{{ end }}
        </a>
      </li>
      {{ end }}
    </ul>
  </nav>

  {{- range $files -}}
    <div class="tab noCodeTab {{ if eq .enable_date $defaultEnableDate }}tab-default{{ end }}" id="tab-{{ .name }}-{{ $unique_id }}">
      <table>
        <thead>
          <th>Language</th>
          <th>Default version</th>
          <th>Supported versions</th>
          <th>Environment variable</th>
          <th>File</th>
        </thead>
        <tbody>
          {{- range .languages -}}
          <tr>
            <td>
              <strong>{{ .name }}</strong>
            </td>
            <td>{{ .default }}</td>
            <td>{{ .supported }}</td>
            <td>{{ if .environment_variable }}<code>{{ .environment_variable }}</code>{{ end }}</td>
            <td>{{ if .file }}<code>{{ delimit .file "</code>, <code>" }}</code>{{ end }}</td>
          </tr>
          {{- end -}}
        </tbody>
      </table>
    </div>
  {{- end -}}

</div>
