{{ $data := slice }}
{{ $fileplaceholder := "" }}

<!-- Get learning paths from ./assets/json folder -->
{{- range readDir "./data/learning-paths/" -}}
{{- $fileplaceholder :=  print "./data/learning-paths/" .Name -}}
{{- $file_data := getJSON $fileplaceholder -}}
{{ $data = $data | append $file_data }}
{{- end -}}

{{- $numTrails := len $data -}}
{{ $product_array := slice }}
{{ $product_group_array := slice }}
{{- range $data -}}
{{ with .products }}
{{- $product_array = sort (union $product_array .) -}}
{{- end -}}
{{ with .product_group }}
{{- $product_group_array = $product_group_array | append . -}}
{{- end -}}
{{- with .additional_groups -}}
{{- $product_group_array = union $product_group_array . -}}
{{- end -}}
{{- end -}}

{{- $product_group_array = sort (uniq $product_group_array) -}}

<div class="headerInfo">
<p class="numTrails" id="numTrails">{{$numTrails}} results</p>
<p>Learning paths guide you through modules and projects so you can get started with Cloudflare as quickly as possible.</p>
</div>

<div class="selectorDropdowns">

<div>
<label for="product_group">Product group</label>
<select class="selectorFilter" name="data-product_group" id="product_group">
    <option value="all">Select...</option>
    {{- range $product_group_array -}}
    <option value="{{.}}">{{.}}</option>
    {{- end -}}
</select>
</div>

<div>
<label for="products">Products</label>
<select class="selectorFilter" name="data-products" id="products">
    <option value="all">Select...</option>
    {{- range $product_array -}}
    <option value="{{.}}">{{.}}</option>
    {{- end -}}
</select>
</div>

</div>

<div class="pathGrid" id="pathGrid">
    {{- range sort $data "priority" }}
    <div class="individualPath">
        <p class="pathHeading">Learning path</p>
        <a href="{{ .path }}"><h2>{{ .title }}</h2></a>
        <p>{{ .description | markdownify }}</p>        
    </div>
    {{- end -}}
</div>
