{{- $filename := default (.Get "file") (.Get 0) -}}
{{- $data := slice -}}
{{- $fileplaceholder := "" -}}
{{- $totalUnits := 0 -}}
{{- $totalReadingTime := 0 -}}
{{- $firstModuleLink := "" -}}

<!-- Get the data from the correct folder -->
{{- range readDir "./data/learning-paths/" -}}
{{- if eq .Name $filename }}
{{- $fileplaceholder :=  print "./data/learning-paths/" .Name -}}
{{- $file_data := getJSON $fileplaceholder -}}
{{- $data = $data | append $file_data -}}
{{- end -}}
{{- end -}}

<!-- Get all data associated with the path and underlying modules and units -->
{{- $pathData := index $data 0 -}}
{{- range $index, $item := .Page.Sections -}}
{{- if eq $index 0 -}}
{{- $firstModuleLink = $item.RelPermalink -}}
{{- end -}}
{{- end -}}

<!-- Render top-level data -->
<p class="viewOtherPaths"><a href="/learning-paths/"><strong>&lt;</strong>  View other learning paths</a></p>

<div class="header">
<h1>{{- $pathData.title -}}</h1>
<p><em>Learning path</em></p>
<p>{{- $pathData.description | markdownify -}}</p>
<p>{{- $pathData.detailed_description | markdownify -}}</p>
<p class="DocsMarkdown--button-group">
  <span class="DocsMarkdown--button-group-content">
    <a href="{{$firstModuleLink}}" class="getStartedButton learningNavigation Button Button-is-docs-primary">
      <span class="getStarted DocsMarkdown--link-content">Start path</span>
    </a>
</span>
</p>
</div>

<!-- Render units -->

<div class="background">
  <p class="estimate"><strong>Modules</strong>: <span>{{$totalUnits}}</span>&emsp;&emsp;&emsp;<strong>Reading time</strong>: <span>{{$totalReadingTime}} min</span></p>
  
  </div>
  