{{- $data := .Site.Data.learning_paths -}}
{{- $numTrails := len $data -}}
{{ $product_array := slice }}
{{ $difficulty_array := slice }}
{{ $role_array := slice }}
{{- range $data -}}
{{ with .products }}
{{- $product_array = union $product_array . -}}
{{- end -}}
{{ with .roles }}
{{- $role_array = union $role_array . -}}
{{- end -}}
{{ with .difficulty }}
{{- $difficulty_array = $difficulty_array | append . -}}
{{- end -}}
{{- end -}}

<div class="headerInfo">
<p class="numTrails">{{$numTrails}} results</p>
<p>Learning paths guide you through modules and projects so you can get started with Cloudflare as quickly as possible.</p>
</div>

<div class="selectorDropdowns">
<div>
<label for="products">Products</label>
<select name="data-products" id="products_filter" onchange="filterResults(this)">
    <option value="all">Select...</option>
    {{- range $product_array -}}
    <option value="{{.}}">{{.}}</option>
    {{- end -}}
</select>
</div>

<div>
<label for="difficulty">Difficulty</label>
<select name="data-difficulty" id="difficulty_filter" onchange="filterResults(this)">
    <option value="all">Select...</option>
    {{- range $difficulty_array -}}
    <option value="{{.}}">{{.}}</option>
    {{- end -}}
</select>
</div>

<div>
<label for="roles">Roles</label>
<select name="data-roles" id="roles_filter" onchange="filterResults(this)">
    <option value="all">Select...</option>
    {{- range $role_array -}}
    <option value="{{.}}">{{.}}</option>
    {{- end -}}
</select>
</div>
</div>

<script>
    function filterResults(selectedOption) {
        
        let eachPath = document.getElementsByClassName("individualPath")

        for (const item of eachPath) {
            if(selectedOption.value === "all") {
                if (item.hasAttribute('is-visually-hidden')) {
                    item.toggleAttribute('is-visually-hidden')
                }
            }

            else if (!item.getAttribute(selectedOption.name).includes(selectedOption.value)) {
                item.setAttribute('is-visually-hidden', '');
            }
            else {
                if (item.hasAttribute('is-visually-hidden')) {
                    item.toggleAttribute('is-visually-hidden')
                }
            }
        }
    }
</script>

<div class="pathGrid">
    {{- range $key, $path := $data -}}
    {{- $role_list := delimit .roles ", " -}}
    {{- $product_list := delimit .products ", " -}}
    <div class="individualPath" data-products="{{ $product_list }}" data-roles="{{ $role_list }}" data-difficulty="{{.difficulty}}">
    <p class="pathHeading">Learning path</p>
    <a href="{{ $key }}"><h2>{{.title}}</h2></a>
    <p>{{.description}}</p>
    </div>
    {{- end -}}
</div>