{{- $filename := default (.Get "file") (.Get 0) -}}
{{- $data := slice -}}
{{- $fileplaceholder := "" -}}
{{- $totalUnits := 0 -}}
{{- $totalReadingTime := 0 -}}
{{- $firstModuleLink := "" -}}
{{- $moduleDataArray := slice -}}
{{- $truncate := default 250 (.Get "char_limit") -}}

<!-- Get the data from the correct folder -->
{{- range readDir "./data/learning-paths/" -}}
{{- if eq .Name $filename }}
{{- $fileplaceholder :=  print "./data/learning-paths/" .Name -}}
{{- $file_data := getJSON $fileplaceholder -}}
{{- $data = $data | append $file_data -}}
{{- end -}}
{{- end -}}

<!-- Get all data associated with the path and underlying modules and units -->
{{- $pathData := index $data 0 -}}
{{- range $index, $item := .Page.Sections -}}

<!-- Get first section link to reference in 'Start' button -->
{{- if eq $index 0 -}}
{{- $firstModuleLink = $item.RelPermalink -}}
{{- end -}}

<!--Add 1 to the total # of units-->
{{- $totalUnits = (add $totalUnits 1) -}}

{{- $currentModuleData := dict "title" $item.Title "summary" (partial "seo-meta-description.html" (dict "content" .Content "params" .Params "truncate" $truncate )) "url" $item.RelPermalink -}}
{{- $unitData := slice -}}
{{- range $item.RegularPagesRecursive.ByWeight }}
  {{- $unitData = $unitData | append . -}}
  {{- $totalReadingTime = add $totalReadingTime .ReadingTime -}}
{{- end -}}
{{- $currentModuleData = merge $currentModuleData (dict "units" $unitData) -}}
{{- $moduleDataArray = $moduleDataArray | append $currentModuleData -}}

{{- end -}}

<!-- Render top-level data -->
<p class="viewOtherPaths"><a href="/learning-paths/"><strong>&lt;</strong>  View other learning paths</a></p>

<div class="header">
<h1>{{- $pathData.title -}}</h1>
<p><em>Learning path</em></p>
<p>{{- $pathData.description | markdownify -}}</p>
<p>{{- $pathData.detailed_description | markdownify -}}</p>
<p class="DocsMarkdown--button-group">
  <span class="DocsMarkdown--button-group-content">
    <a href="{{$firstModuleLink}}" class="getStartedButton learningNavigation Button Button-is-docs-primary">
      <span class="getStarted DocsMarkdown--link-content">Start path</span>
    </a>
</span>
</p>
</div>

<!-- Render units -->

<div class="background">
  <p class="estimate"><strong>Modules</strong>: <span>{{$totalUnits}}</span>&emsp;&emsp;&emsp;<strong>Reading time</strong>: <span>{{$totalReadingTime}} min</span></p>
  
  {{- range $index, $moduleData := $moduleDataArray -}}
  
  <div class="learningPathModule">
    <div class="moduleHeader">
    <h2 id="{{- $moduleData.title | safeURL | anchorize -}}"><span class="DocsMarkdown--header-anchor-positioner">
        <a
          class="DocsMarkdown--header-anchor Link Link-without-underline"
          href="#{{- $moduleData.title | safeURL | anchorize -}}"
          >&#8203;​</a
        >
      </span>
      <span><span class="stepCounter"></span>{{- $moduleData.title -}}</span>
    </h2>
    </div>
    {{- with $moduleData.summary -}}
    <p>{{- . | markdownify -}}</p>
    {{- end -}}
   
    <p class="DocsMarkdown--button-group">
      <span class="DocsMarkdown--button-group-content">
        <a href="{{- $moduleData.url -}}" class="learningNavigation Button Button-is-docs-secondary">
          <span class="DocsMarkdown--link-content">Start module</span>
        </a>
    </span>
  </p>
  
    <details class="pathDetails" open>
      <summary>Contains {{ len (index $moduleData "units") }} units</summary>
      <div>
          <ul>
          {{- range index $moduleData "units" -}}  
            <li><a href="{{- .RelPermalink -}}">{{- .Title -}}</a>
              <p class="readingTime">{{- .ReadingTime -}}&nbsp;min</p>
            </li>
          {{- end -}}
          </ul>
      </div>
      </details>
      </div>
  {{- end -}}
</div>
  