{{- $filename := .Page.RelPermalink -}}
{{- $data := .Site.Data.learning_paths -}}

{{- range where $data "path" $filename -}}

<p class="viewOtherPaths"><a href="/learning-paths/">View other learning paths</a></p>

<div class="header">
<h1>{{- .title -}}</h1>
<p><em>Learning path</em></p>
<p>{{- .description | markdownify -}}</p>
</div>

<div class="background">
{{- range $index, $module := .modules -}}

<div class="learningPathModule">
<div class="moduleHeader">
<h2>{{.title}}</h2>
<p>{{.description | markdownify }}</p>
</div>
{{- if eq $index 0 -}}
<details open>
{{ else }}
<details>
{{ end }}
<summary>Contains {{len .pages}} units</summary>
<div>
    <ul>
    {{- range .pages -}}
    {{- if isset . "external_link" -}}
        <li><a href="{{.url_path}}" target="_blank">{{.link_title}}  {{- partialCached "external.icon" . -}}</a>
    {{- else if isset . "link_title" -}}
        <li><a href="{{.url_path}}" target="_blank">{{.link_title}}</a>
    {{- else -}}
    {{- with $.Site.GetPage (replaceRE "/$" "" .url_path) -}}
    
    <li><a href="{{ .RelPermalink }}" target="_blank">{{ .Title }}</a>
    {{- end -}}
    {{- end -}}

    {{with .additional_description}}
    <p class="learningPathNote"> <strong>Note</strong>: {{ . | markdownify}}</p>
    {{- end -}}
    
    </li>
    {{- end -}}
    </ul>

</div>
</details>
</div>

{{- end -}}

<div class="GoBack">
    <a href="/learning-paths/">View other learning paths</a>
</div>

</div>

{{- end -}}
