{{- $filters := split (.Get "filters") "," -}}

{{- $target := printf "%sexamples/" .Page.FirstSection.RelPermalink -}}
{{- $pages := (where .Site.Pages "Section" .Page.Section) -}}

{{- with .Get "directory" -}}
{{- $target = . -}}
{{- end -}}

<!-- Build out the filters dynamically -->
{{ if ne (index $filters 0) "" }}
<div class="selectorDropdowns">
  {{- range $index, $filter := $filters -}}

  {{- $optionsArray := slice -}}
  {{- range $index, $page := $pages.ByWeight -}}
  {{- with (index $page.Params $filter) }}
  {{- $optionsArray = $optionsArray | append . -}}
  {{- end -}}
  {{- end -}}

  {{- $optionsArray = sort (uniq $optionsArray) -}}

  <div>
    <label for="{{$filter}}">{{replace $filter "_" " " | title}}</label>
    <select class="selectorFilter" name="data-{{$filter}}" id="{{$filter}}">
      <option value="all">Select...</option>
      {{- range $optionsArray -}}
      <option value="{{.}}">{{. | title}}</option>
      {{- end -}}
    </select>
  </div>
  {{- end -}}
</div>
{{ end }}

<!-- Add list of examples, with optional filterable properties -->
<ul class="DocsCodeExamplesOverview" style="list-style: none">
  {{- range $index, $page := $pages.ByWeight -}}
  {{- $x := $page.RelPermalink -}}
  {{- $isExample := (strings.HasPrefix $x $target) -}}
  {{- if and (ne $x $target) $isExample -}}
  <li class="DocsCodeExamplesOverview--example" {{ if ne (index $filters 0) "" }} {{ range $index2, $filter :=$filters
    }} {{ with (index $page.Params $filter) }} data-{{$filter}}="{{ delimit (.) "|" }}" {{ end }} {{ end }} {{ end }}>
    <div class="DocsCodeExamplesOverview--example-title">
      {{- .Page.RenderString (printf "[%s](%s)" $page.Title $page.RelPermalink) -}}
    </div>

    <div class="DocsCodeExamplesOverview--example-description">
      {{ $page.Params.summary | .Page.RenderString }}
    </div>
  </li>
  {{- end -}}
  {{- end -}}
</ul>

<script>
  const selectorDropdowns = document.getElementsByClassName("selectorFilter");

  document.addEventListener('DOMContentLoaded', () => {
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.forEach((value, key) => {
      for (const dropdown of selectorDropdowns) {
        if (key === dropdown.id) {
          for (option of dropdown.options) {
            if (value === option.value) {
              option.selected = true;
            }
          }
        }
      }
    })
    filterList();
  })

  function zarazTrackSelect(eventName, selectedOption) {
    zaraz.track(eventName, {selected_option: selectedOption})
  }

  function getSelectValues(selectElementCollection) {
    let selectedValues = {};
    for (const htmlElement of selectElementCollection) {
      let selectElement = htmlElement;
      let selectedValue =
        selectElement.options[selectElement.selectedIndex].value;
      if (selectedValue !== 'all') {
        selectedValues[selectElement.id] = selectedValue;
      }
    }
    return selectedValues;
  }

  function filterList() {

    const examples = document.getElementsByClassName("DocsCodeExamplesOverview--example")

    let selectedOptions = getSelectValues(selectorDropdowns);
    for (const example of examples) {

      let keepValue = true;
      for (option in selectedOptions) {
        if (!example.dataset[option] || !example.dataset[option].split("|").includes(selectedOptions[option])) {
          keepValue = false;
        }
      }
      if (keepValue) {
        example.style.display = "";
      } else {
        example.style.display = "none";
      }
    }
    let newUrl = new URL(window.location);
    newUrl.search = ''

    for (option in selectedOptions) {
      newUrl.searchParams.set(option, selectedOptions[option])
    }
    history.pushState({}, '', newUrl.toString());
  }

  for (const dropdown of selectorDropdowns) {
    dropdown.addEventListener("change", filterList)
    dropdown.addEventListener("change", function(event) {
      zarazTrackSelect('select example filter', `${dropdown.id} | ${event.target.value}`)
    })
  }

</script>