{{- $filters := split (.Get "filters") "," -}}
{{- $examplePages := slice -}}

{{- $target := printf "%sexamples/" .Page.FirstSection.RelPermalink -}}
{{- $pages := (where .Site.Pages "Section" .Page.Section) -}}

{{- with .Get "directory" -}}
{{- $target = . -}}
{{- end -}}

<!-- Get the list of examples -->

{{- range $index, $page := $pages.ByWeight -}}
  {{- $x := $page.RelPermalink -}}
  {{- $isExample := (strings.HasPrefix $x $target) -}}
  {{- if and (ne $x $target) $isExample -}}
  {{- $examplePages = $examplePages | append . -}}
  {{- end -}}
{{- end -}}

{{- $examplesLength := len $examplePages }}

<!-- Build out the filters dynamically -->
{{ if ne (index $filters 0) "" }}
<div class="selectorDropdowns">
  {{- range $index, $filter := $filters -}}

  {{- $optionsArray := slice -}}
  {{- range $index, $page := $pages.ByWeight -}}
  {{- with (index $page.Params $filter) }}
  {{- $optionsArray = $optionsArray | append . -}}
  {{- end -}}
  {{- end -}}

  {{- $optionsArray = sort (uniq $optionsArray) -}}

  <div>
    <label for="{{$filter}}">{{$filter | title}}</label>
    <select class="selectorFilter" name="data-{{$filter}}" id="{{$filter}}">
      <option value="all">Select...</option>
      {{- range $optionsArray -}}
      <option value="{{.}}">{{. | title}}</option>
      {{- end -}}
    </select>
  </div>
  {{- end -}}
</div>
{{ end }}

<!-- Only show the # of examples if filters are set -->
{{ if ne (index $filters 0) "" }}
<p id="totalExamples">{{$examplesLength}} examples</p>
{{ end }}

<!-- Add list of examples, with optional filterable properties -->
<ul class="DocsCodeExamplesOverview" style="list-style: none">
  {{- range $index, $page := $examplePages -}}
  <li class="DocsCodeExamplesOverview--example" {{ if ne (index $filters 0) "" }} {{ range $index2, $filter := $filters
    }} {{ with (index $page.Params $filter) }} data-{{$filter}}="{{ delimit (.) "|" }}" {{ end }} {{ end }} {{ end }}>
    <div class="DocsCodeExamplesOverview--example-title">
      {{- .Page.RenderString (printf "[%s](%s)" $page.Title $page.RelPermalink) -}}
    </div>

    <div class="DocsCodeExamplesOverview--example-description">
      {{ $page.Params.summary | .Page.RenderString }}
    </div>
  </li>
  {{- end -}}
</ul>

<script>
  // Grab persistent items from DOM
  const selectorDropdowns = document.getElementsByClassName("selectorFilter");
  const examples = document.getElementsByClassName("DocsCodeExamplesOverview--example")
  const numExamplesText = document.getElementById("totalExamples")
  let numExamples = 0

  // Add listener for filtering by search params
  document.addEventListener('DOMContentLoaded', () => {
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.forEach((value, key) => {
      for (const dropdown of selectorDropdowns) {
        if (key === dropdown.id) {
          for (option of dropdown.options) {
            if (value === option.value) {
              option.selected = true;
            }
          }
        }
      }
    })
    filterList();
  })

  // define persistent functions
  function zarazTrackSelect(eventName, selectedOption) {
    zaraz.track(eventName, { selected_option: selectedOption })
  }

  function getSelectValues(selectElementCollection) {
    let selectedValues = {};
    for (const htmlElement of selectElementCollection) {
      let selectElement = htmlElement;
      let selectedValue =
        selectElement.options[selectElement.selectedIndex].value;
      if (selectedValue !== 'all') {
        selectedValues[selectElement.id] = selectedValue;
      }
    }
    return selectedValues;
  }

  function filterList() {
    numExamples = 0
    let selectedOptions = getSelectValues(selectorDropdowns);
    for (const example of examples) {

      let keepValue = true;
      for (option in selectedOptions) {
        if (!example.dataset[option] || !example.dataset[option].split("|").includes(selectedOptions[option])) {
          keepValue = false;
        }
      }
      if (keepValue) {
        example.style.display = "";
        numExamples += 1;
      } else {
        example.style.display = "none";
      }
    }
    let newUrl = new URL(window.location);
    newUrl.search = '';

    for (option in selectedOptions) {
      newUrl.searchParams.set(option, selectedOptions[option])
    }
    history.pushState({}, '', newUrl.toString());
    numExamplesText.textContent = `${numExamples} examples`
  }

  // Add listeners for tracking events
  window.onload = function () {
    for (const dropdown of selectorDropdowns) {
      dropdown.addEventListener("change", filterList)
      dropdown.addEventListener("change", function (event) {
        zarazTrackSelect('select docs grid filter', `${dropdown.id} | ${event.target.value}`)
      })
    }

    for (const example of examples) {
      const titles = example.getElementsByClassName("DocsCodeExamplesOverview--example-title")
      const link = titles[0].firstElementChild
      link.addEventListener("click", function () {
        zarazTrackSelect('select docs grid option', link.href)
      })
    }
  }
</script>