{{- $file := $.Site.GetPage "pages/_partials/_build-configuration.md" -}}

<div class="DocsMarkdown--table-wrap">
  <div class="DocsMarkdown--table-wrap-inner">
    <table>
      <thead>
        <tr>
          <th>Configuration option</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Production branch</td>
          <td><code>main</code></td>
        </tr>
        <tr>
          <td>Build command</td>
          <td><code>{{(index $file.Params.build_configs (.Get "framework")).build_command}}</code></td>
        </tr>
        <tr>
          <td>Build directory</td>
          <td><code>{{(index $file.Params.build_configs (.Get "framework")).build_output_directory}}</code></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>