{{- $file := $.Site.GetPage "content/pages/_partials/_build-configuration.md" -}}

<div class="DocsMarkdown--table-wrap">
  <div class="DocsMarkdown--table-wrap-inner">
    <table>
      <thead>
        <tr>
          <th>Framework/tool</th>
          <th>Build command</th>
          <th>Build directory</th>
        </tr>
      </thead>
      <tbody>
        {{ range $_, $v := $file.Params.build_configs }}
        <tr>
          <td>{{$v.display_name}}</td>
          <td><code>{{$v.build_command}}</code></td>
          <td><code>{{$v.build_output_directory}}</code></td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>