<!--{{- $type := default "note" (.Get "type") -}}
<aside class="DocsMarkdown--aside" role="note" data-type="{{ $type }}">
  {{- with .Get "header" }}
  <div class="DocsMarkdown--aside-header">{{- safeHTML . -}}</div>
  {{- end -}} {{string "BatMan"}}
</aside>
-->
{{ $map := dict "enterprise" "Enterprise-only" "pro" "Pro and above" "business"
"Business and above" "all" "Available on all plans" "paid" "Available on paid plans"
"add-on" "Add-on feature" }}
<div class="DocsMarkdown--plan">{{ index $map (.Get "type") }}</div>
