{{- $product := .Page.Params.changelog_file_name -}}
{{- $changelogData := index (index (partial "full-changelog-data.html") $product) "entries" -}}
{{- $changelogData = sort $changelogData "publish_date" "desc" -}}
{{- $changelogDates := slice -}}

{{- range $changelogData -}}
{{- $changelogDates = $changelogDates | append .publish_date -}}
{{- end -}}

{{- $changelogDates = $changelogDates | uniq -}}

{{- range $index, $date := $changelogDates -}}

{{- print "## " $date | $.Page.RenderString -}}

{{- range $changelogData -}}
{{- if eq $date .publish_date -}}

{{- with .title -}}

{{- print "### " . | $.Page.RenderString -}}

{{- end -}}

{{ $opts := dict "display" "block" }}
{{ .description | $.Page.RenderString $opts }}

{{- end -}}
{{- end -}}
{{- end -}}