{{- $plan_json := $.Site.Data.plans -}}
{{- $id := split (.Get "id")  "." -}}
{{- $info :=  index $plan_json $id -}}
{{- $map := dict "ent" "Enterprise" "pro" "Pro" "biz"
"Business" "free" "Free" -}}

<div class="DocsMarkdown--table-wrap">
    <div class="DocsMarkdown--table-wrap-inner">
    <table>

{{- range $elem_key, $elem_val := $info -}}
{{ if and (ne $elem_key "link") (ne $elem_key "title") }}
{{-  $title := index . "title" -}}
{{-  $link := index . "link" -}}
<tr>
    <td></td>
    <td></td>
    <td>
        <strong>{{ index $map "free" }}</strong>
    </td>
    <td>
        <strong>{{ index $map "pro" }}</strong>
    </td>
    <td>
        <strong>{{ index $map "biz" }}</strong>
    </td>
    <td>
        <strong>{{ index $map "ent" }}</strong>
    </td>
</tr>
{{- range $elem_key2, $elem_val2 := . -}}
{{- if and (ne $elem_key2 "link") (ne $elem_key2 "title") (ne $elem_key2 "ent_plus") -}}
{{- if eq $elem_key2 "availability" -}}
<tr>
    <td>
        <p><strong>{{ if $link }}
            <a href= {{$link}}>{{ $title | markdownify }}</a>
        {{ else }}
        {{ $title | markdownify }}
        {{ end }}
    </strong></p>
{{- else -}}
<td></td>
{{- end -}}
    </td>
    <td>{{ .title | markdownify }} </td>
    <td>
        {{ .free | markdownify }}
    </td>
    <td>
        {{ .pro | markdownify }}
    </td>
    <td>
        {{ .biz | markdownify }}
    </td>
    <td>
        {{ .ent | markdownify }}
    </td>
</tr>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
</table>
</div>
</div>
