{{- $plan_json := $.Site.Data.plans -}}
{{- $id := split (.Get "id")  "." -}}
{{- $additional_plans := default (.Get "additional_plans") (.Get 0) -}}
{{- $info :=  index $plan_json $id -}}
{{- $map := dict "ent" "Enterprise" "pro" "Pro" "pro_plus" "Pro Plus" "biz"
"Business" "free" "Free" "lite" "Lite" -}}



{{- range $elem_key, $elem_val := $info -}}
{{ if and (ne $elem_key "link") (ne $elem_key "title") }}
{{-  $title := index . "title" -}}
{{-  $link := index . "link" -}}

<!-- Render heading and link of the feature name -->

<div>
{{- $titleString := print "### " $title | $.Page.RenderString -}}
{{- $titleString -}}
{{- with $link -}}
{{- $linkString := printf "[%s](%s)" $title $link | $.Page.RenderString }}
<p><strong>Link</strong>: {{$linkString}}</p>
{{- end -}}

<!-- Render features -->
{{- $properties := index . "properties" -}}
{{- range $properties -}}
{{- if eq (index . "title") "Availability" -}}
<p><strong>Feature availability</strong></p>
<ul>
  <li><strong>Free</strong>: {{ .free | markdownify }}</li>
  {{ if $additional_plans }}
    {{ if .lite }}
    <li><strong>Lite</strong>: {{ .lite | markdownify }}</li>
    {{ else }}
    <li><strong>Lite</strong>: {{ .free | markdownify }}</li>
    {{ end }}
  {{ end }}
   <li><strong>Pro</strong>: {{ .pro | markdownify }}</li>
   {{ if $additional_plans }}
    {{ if .pro_plus }}
    <li><strong>Pro Plus</strong>: {{ .pro_plus | markdownify }}</li>
    {{ else }}
    <li><strong>Pro Plus</strong>: {{ .pro | markdownify }}</li>
    {{ end }}
  {{ end }}
  <li><strong>Business</strong>: {{ .biz | markdownify }}</li>
  <li><strong>Enterprise</strong>: {{ .ent | markdownify }}</li>
</ul>
{{ else }}
<p><strong>{{.title | markdownify}}</strong></p>
{{ with .summary }}
<p>{{.}}</p>
{{ end }}
<ul>
  <li><strong>Free</strong>: {{ .free | markdownify }}</li>
  {{ if $additional_plans }}
    {{ if .lite }}
    <li><strong>Lite</strong>: {{ .lite | markdownify }}</li>
    {{ else }}
    <li><strong>Lite</strong>: {{ .free | markdownify }}</li>
    {{ end }}
  {{ end }}
   <li><strong>Pro</strong>: {{ .pro | markdownify }}</li>
   {{ if $additional_plans }}
    {{ if .pro_plus }}
    <li><strong>Pro Plus</strong>: {{ .pro_plus | markdownify }}</li>
    {{ else }}
    <li><strong>Pro Plus</strong>: {{ .pro | markdownify }}</li>
    {{ end }}
  {{ end }}
  <li><strong>Business</strong>: {{ .biz | markdownify }}</li>
  <li><strong>Enterprise</strong>: {{ .ent | markdownify }}{{ if and (.ent_plus) (ne .ent .ent_plus)}} (<em>With add-on</em>: {{ .ent_plus | markdownify }}){{ end }}</li>
</ul>
{{ end }}
{{ end }}
</div>
{{ end }}
{{ end }}