{{- $dataArray := slice }}
{{- $availableOptions := slice "All products" -}}

{{- range readDir "./data/" -}}
{{- if in .Name ".yml" -}}
{{- $productName :=  replace .Name ".yml" "" -}}
{{ $dataArray = $dataArray | append (index $.Site.Data $productName) }}
{{- end -}}
{{- end -}}

{{- range $index, $item := $dataArray -}}
{{- with index (index $item "product") "group" -}}
{{- if ne (index (index $item "product") "show") false -}}
{{ $availableOptions = $availableOptions | append . }}
{{- end -}}
{{- end -}}
{{- end -}}
{{- $availableOptions = $availableOptions | uniq | sort -}}

<style>
  .QuadBlockGrid {
    max-width: var(--docs-max-page-width);
    margin-left: auto;
    margin-right: auto;
    padding: 2.6rem var(--docs-content-gap) 3.5rem;
    text-align: center;
  }
  .QuadBlock {
    display: inline-block;
    padding: 0 0.5rem 1rem;
  }

  .ProductGrid--content {
    --n: 1;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(var(--n), 1fr);
    gap: 5px;
    padding-bottom: 3em;
    border-bottom: 1px solid gray;
  }

  @media screen and (min-width: 600px) {
    .ProductGrid--content {
      --n: 2;
    }
  }

  @media screen and (min-width: 978px) {
    .QuadBlockGrid {
      flex-direction: row;
    }

    .ProductGrid--content {
      --n: 3;
    }
  }

  @media screen and (min-width: 1200px) {
    .ProductGrid--content {
      --n: 4;
    }
  }

</style>

<div class="QuadBlockGrid">
  {{- range $availableOptions -}}
  <div class="QuadBlock">
      <a class="DocsMarkdown--link" href="#{{ . | safeURL | anchorize }}">
        <span class="DocsMarkdown--link-content">{{.}}</span>
      </a>
  </div>
  {{- end -}}
  </div>

<div class="ProductGrid">
  <div id="ProductGrid--range">
  {{- range $availableOptions -}}
  {{- $currentOption := . }}
  <h2 class="ProductGrid--title" style="padding-bottom:1em;font-size:2em; scroll-margin-top: 2em;" id="{{ $currentOption | safeURL | anchorize }}"><span class="DocsMarkdown--header-anchor-positioner">
    <a
      class="DocsMarkdown--header-anchor Link Link-without-underline"
      href="#{{ $currentOption | safeURL | anchorize }}"
      >&#8203;​</a
    >
  </span>
    <span>{{$currentOption}}</span>
    </h2>
  <div class="ProductGrid--content">
    {{- range $dataArray -}} 
      {{- if and (or (eq $currentOption .product.group) (eq $currentOption "All products")) (ne .product.show false) -}}
        {{- $product := .product -}} 
        {{- $wrap := default false $product.wrap -}}
        <a
          class="ProductGrid--link"
          data-wrap-title="{{ $wrap }}"
          href="{{ $product.url }}"
        >
          <div>{{ safeHTML .logo }}</div>
          <span>{{ $product.title }}</span>
        </a>
        {{- end -}}
      {{- end -}}
  </div>
  {{- end -}}
</div>
</div>