{{- $plan_json := $.Site.Data.plans -}}
{{- $id := split (.Get "id")  "." -}}
{{- $info :=  index $plan_json $id -}}
{{- $map := dict "ent" "Enterprise" "pro" "Pro" "biz"
"Business" "free" "Free" -}}

<div class="DocsMarkdown--table-wrap">
    <div class="DocsMarkdown--table-wrap-inner">
    <table>

{{- range $elem_key, $elem_val := $info -}}
{{ if and (ne $elem_key "link") (ne $elem_key "title") }}
{{-  $title := index . "title" -}}
{{-  $link := index . "link" -}}
{{- $properties := index . "properties" -}}
<tr>
    <td></td>
    <td></td>
    <td>
        <strong>{{ index $map "free" }}</strong>
    </td>
    <td>
        <strong>{{ index $map "pro" }}</strong>
    </td>
    <td>
        <strong>{{ index $map "biz" }}</strong>
    </td>
    <td>
        <strong>{{ index $map "ent" }}</strong>
    </td>
</tr>
{{- range $properties -}}
<tr>
    <td></td>

    <td><p>{{ if .link }}
        <a href={{.link}}>{{ .title | markdownify }}</a>
    {{ else }}
    {{ .title | markdownify }}
    {{ end }}</p></td>
    <td>
        {{ .free | markdownify }}
    </td>
    <td>
        {{ .pro | markdownify }}
    </td>
    <td>
        {{ .biz | markdownify }}
    </td>
    <td>
        {{ .ent | markdownify }}
    </td>
</tr>
{{- end -}}
{{ end }}
{{ end }}
</table>
</div>
</div>
