{{- $header := .Get "header" -}} {{- $url := .Get "href" -}} {{- $product :=
default (.Get "product") (.Get 0) -}} {{- $data := (index $.Site.Data $product)
}}

<div class="DocsMarkdown--related-product">
  <div class="DocsMarkdown--related-product-logo" aria-hidden="true">
    {{ safeHTML $data.logo }}
  </div>
  <div>
    <a class="DocsMarkdown--resource-header" href="{{ $url }}"
      >{{ $header }} {{- if strings.HasPrefix $url "http" -}} {{- partialCached
      "external.icon" . -}} {{- end -}}</a
    >
    <p>{{- .Page.RenderString .Inner -}}</p>
  </div>
</div>
