{{- $filename := default (.Get "file") (.Get 0) -}}
{{- $dir := path.Join .Page.Section "_partials" -}}
{{- with .Get "productFolder" -}}
{{- $dir = path.Join . "_partials" -}}
{{- end -}}
{{- $url := (path.Join $dir $filename) -}}
{{- $parentPagePath := .Page.File.Path -}}
{{- $sep := ";;" -}}

{{- $parameterValues := default "" (.Get "withParameters") -}}
{{- $noMarkdown := default false (.Get "noMarkdown") -}}

{{- with .Site.GetPage $url -}}

  {{- $contentPlaceholder := .Content }}
  {{- $expectedParams := split .Params.inputParameters $sep -}}

  <!-- If parameter values are specified in input params, replace throughout partial content -->
  {{- if ne $parameterValues "" -}}

    {{- $parameterValues = split $parameterValues $sep -}}

    {{- if ne (len $expectedParams) (len $parameterValues) -}}
      {{ errorf "ERROR in page %s:" $parentPagePath }}
      {{ errorf "- Incorrect number of parameter values when including partial file: %s" .File.Path }}
      {{ errorf "- Partial has %d parameters: %q" (len $expectedParams) $expectedParams }}
      {{ errorf "- Got %d parameter values: %q" (len $parameterValues) $parameterValues }}
    {{- end -}}
    {{- $regexPlaceholder := "" -}}

    {{- range $elem_index, $elem_val := $parameterValues -}}
      {{ $elem_val := ((default "" $elem_val) | markdownify) }}
      {{ $elem_index := add $elem_index 1 | string}}
      {{ $regexPlaceholder = print "\\$" $elem_index }}
      {{ $contentPlaceholder = replaceRE $regexPlaceholder $elem_val $contentPlaceholder }}
    {{- end -}}

  {{- else -}}

    {{- if ne .Page.Params.inputParameters nil -}}
      {{ errorf "ERROR in page %s:" $parentPagePath }}
      {{ errorf "- You must specify input parameter values when including partial file: %s" .File.Path }}
      {{ errorf "- Partial has %d parameters: %q" (len $expectedParams) $expectedParams }}
    {{- end -}}

  {{- end -}}
  
  {{- if $noMarkdown -}}
    {{- $contentPlaceholder -}}
  {{- else -}}
    {{- $contentPlaceholder | markdownify -}}
  {{- end -}}


{{- else -}}
<!-- If the partial doesn't exist, create a broken link to call it out -->
<div style="border: 3px solid chartreuse; padding: 1em; border-radius: 10px">
<p>You have a <a href="/broken-partial-link/">broken reference</a> in your <code>render</code> shortcode:</p>
<ul>
  <li><strong>file</strong>: <code>{{$filename}}</code></li>
  <li><strong>absolute reference</strong>: <code>{{$url}}</code></li>
</ul>
</div>
{{- end -}}
