{{- $url := .Get "href" -}} {{- $icon := .Get "icon" -}}

<a class="Button DocsMarkdown--resource" href="{{ $url }}">
  <div class="DocsMarkdown--resource-icon">
    <img loading="lazy" src="/icons/resources/{{ $icon }}.svg" />
  </div>
  <div class="DocsMarkdown--resource-text">
    {{- with .Get "header" -}}
    <div class="DocsMarkdown--resource-header">
      {{- safeHTML . -}} {{- if strings.HasPrefix $url "http" -}} {{-
      partialCached "external.icon" . -}} {{- end -}}
    </div>
    {{- end -}}
    <span class="DocsMarkdown--resource-content">
      {{- .Page.RenderString .Inner -}}
    </span>
  </div>
</a>
