{{- $tags := split (lower (.Get "tags")) "," -}}
{{- $resource_type := split (.Get "resource_type") "," -}}

<ul>
  {{ range $index, $siteTag := .Site.Taxonomies.tags }}
  {{ if in $tags $index -}}
  {{ range $siteTag }}
  {{ if in $resource_type .Params.pcx_content_type}}
  {{ $string := printf "[%s](%s): %s" .Title .RelPermalink (partial "seo-meta-description.html" (dict "content" .Content "params" .Params "truncate" 500 "plainify" true ))| $.Page.RenderString}}
  <li>{{$string}}</li>
  {{ end }}
  {{ end }}
  {{ end }}
  {{ end }}
</ul>