{{- $tags := split (.Get "tags") "," -}}
{{- $resource_type := split (.Get "resource_type") "," -}}
{{- $products := split (.Get "products") "," -}}
{{- $show_description := default true (.Get "show_description") }}

{{- $contentTypeCollection := where .Site.Pages ".Params.pcx_content_type" "in" $resource_type -}}
{{- $tagFilteredCollection := where .Site.Pages ".Params.tags" "intersect" $tags -}}
{{- $productFilteredCollection := where .Site.Pages ".Params.products" "intersect" $products }}

{{- $combinedCollection := $contentTypeCollection -}}

{{- if ne (index $tags 0) "" -}}
{{- $combinedCollection = $combinedCollection | intersect $tagFilteredCollection -}}
{{- end -}}

{{- if ne (index $products 0) "" -}}
{{- $combinedCollection =  $combinedCollection | intersect $productFilteredCollection -}}
{{- end -}}

<ul>
  {{ range $combinedCollection -}}
  {{ $string := printf "[%s](%s)" .Title .RelPermalink }}
  {{- if $show_description -}}
  {{- $string = print $string ": " (partial "seo-meta-description.html" (dict "content" .Content "params" .Params "truncate" 500 "plainify" true ))}}
  {{- end -}}
  <li>{{$string | $.Page.RenderString }}</li>
  {{ end }}
</ul>