{{- $product := .Page.Params.changelog_file_name -}}
{{- $changelogData := index (index (index .Site.Data "changelogs") $product) "entries" -}}
{{- $scheduledChanges := slice -}}

{{- range $changelogData -}}
{{- $entry := . -}}

{{- with .scheduled -}}

{{- $scheduledChanges = $scheduledChanges | append $entry -}}

{{- end -}}
{{- end -}}

{{- $scheduledChanges = sort $scheduledChanges "publish_date" "desc" -}}

<div class="DocsMarkdown--table-wrap">
<div class="DocsMarkdown--table-wrap-inner">
<table style="width: 100%">
<thead>
<tr>
<th>Announcement Date</th>
<th>Change Date</th>
<th>Rule ID</th>
{{- if (eq $product "waf") -}}
<th>Legacy Rule ID</th>
{{- end -}}
<th>Description</th>
<th>Previous Action</th>
<th>New Action</th>
<th>Comments</th>
</tr>
</thead>
<tbody>
{{- if (ge (len $scheduledChanges) 1) }}
{{- range index (index $scheduledChanges 0) "entries" -}}
<tr>
<td>{{- .announcement_date -}}</td>
<td>{{- .change_date -}}</td>
<td>{{- .rule_id -}}</td>
{{- if (eq $product "waf") -}}
<td>{{- .legacy_id -}}</td>
{{- end -}}
<td>{{- .description -}}</td>
<td>{{- .previous_action -}}</td>
<td>{{- .new_action -}}</td>
<td>{{- .comments -}}</td>
</tr>
{{- end -}}
{{- else -}}
<tr>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
{{- if (eq $product "waf") -}}
<td>N/A</td>
{{- end -}}
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
</tr>
{{- end -}}
</tbody>
</table>
</div>
</div>