{{- $ruleset := .Get "ruleset" -}}
{{- $product := .Page.Params.changelog_file_name -}}
{{- $changelogData := index (index (index .Site.Data "changelogs") $product) "entries" -}}
{{- $scheduledChanges := slice -}}

{{- range $changelogData -}}
{{- $entry := . -}}

{{- with .scheduled -}}

{{- $scheduledChanges = $scheduledChanges | append $entry -}}

{{- end -}}
{{- end -}}

{{- $changelogEntry := dict -}}

<div class="DocsMarkdown--table-wrap">
<div class="DocsMarkdown--table-wrap-inner">
<table style="width: 100%">
<thead>
<tr>
<th>Announcement Date</th>
<th>Release Date</th>
<th>Rule ID</th>
{{- if (eq $product "WAF") -}}
<th>Legacy Rule ID</th>
{{- end -}}
<th>Description</th>
<th>Previous Action</th>
<th>New Action</th>
<th>Comments</th>
</tr>
</thead>
<tbody>
{{- range index $changelogEntry "entries" -}}
<tr>
<td>{{- .announce_date -}}</td>
<td>{{- .release_date -}}</td>
<td>{{- .rule_id -}}</td>
{{- if (eq $product "WAF") -}}
<td>{{- .legacy_id -}}</td>
{{- end -}}
<td>{{- .description -}}</td>
<td>{{- .previous_action -}}</td>
<td>{{- .new_action -}}</td>
<td>{{- .comments -}}</td>
</tr>
{{- end -}}
</tbody>
</table>
</div>
</div>