{{- $author := .Page.Params.spotlight.author -}}
{{- $link := .Page.Params.spotlight.author_bio_link -}}
{{- $source := .Page.Params.spotlight.author_bio_source -}}

{{- $details := .Page.RenderString "[Developer Spotlight](/developer-spotlight/) community contribution" -}}

<div class="author-container">
  <div class="author-details">{{- $details -}}</div>
  <div>
      <span class="author-details">Written by: </span>{{- $author -}}
  </div>
  <span class="author-details">Profile: </span>{{ (printf "[%s](%s)" $source $link ) | .Page.RenderString }}
</div>
