{{- $author := .Page.Params.spotlight.author -}}
{{- $link := .Page.Params.spotlight.author_bio_link -}}
{{- $source := .Page.Params.spotlight.author_bio_source -}}

{{- $details := .Page.RenderString "[Developer Spotlight](/fundamentals/reference/developer-spotlight/) community contribution" -}}

<div class="author-container">
  <div class="author-details">{{- $details -}}</div>
  <div>
      <span class="author-details">Written by: {{- $author -}}</span>
  </div>
  <p><span class="author-details">Profile: </span>{{ (printf "[%s](%s)" $source $link ) | .Page.RenderString }}</p>
</div>
