{{- $cust_id := "1mwganm1ma0xgnmj" -}}
{{- $video_id := .Get "video_id" -}}
{{- $video_title := .Get "video_title" -}}
{{- $youtube_link := default "https://www.youtube.com/@CloudflareDevelopers/videos" (.Get "youtube_link") -}}
{{- $show_youtube := default true (.Get "show_youtube")}}

<figure data-type="stream">
  <div style="position: relative; padding-top: 56.25%;">
    <iframe
        src="https://customer-{{ $cust_id  }}.cloudflarestream.com/{{ $video_id }}/iframe?preload=true&letterboxColor=transparent{{ if .Get "poster"}}&poster={{.Get "poster" | urlquery}}{{ end }}"
        style="border: none; position: absolute; top: 0; left: 0; height: 100%; width: 100%;"
        allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
        allowfullscreen="true"
        title={{$video_title}}
        id="{{ $video_id }}">
    </iframe>
    <script src="https://embed.cloudflarestream.com/embed/sdk.latest.js"></script>
    <script>
      Stream(document.getElementById({{$video_id}})).addEventListener('play', () => {
        zaraz.track('play docs video', {title: ({{$video_title}})})
      })
    </script>
  </div>
{{- if $show_youtube -}}
{{- $string := printf "For more Cloudflare video content, check out our [YouTube channel](%s)." $youtube_link | $.Page.RenderString -}}
<p class="youtube_link">{{$string}}</p>
{{- end -}}
</figure>