{{ $tabName := .Get "tabName" }}
{{ $tabID := delimit (shuffle (slice "a" "b" "c" "d" "e" "f")) "" }}
{{ .Parent.Scratch.Add "tabName" (slice $tabName) }}
{{ .Parent.Scratch.Add "tabID" (slice $tabID) }}

<nav class="tab">
    <input type="radio" name="css-tabs" id="{{ $tabID }}" checked class="tab-switch">
    <label for="{{$tabID}}" class="tab-label">{{$tabName}}</label>
    <div class="tab-content"> {{ $.Inner | markdownify }}</div>
</nav> 


<!-- <div class="pc-tab">
    <input checked="checked" id="{{ $tabID }}" type="radio" name="pct" />
    <nav>
        <ul>
            <li class="tab1">
                <label for="{{ $tabID }}">{{$tabName}}</label>
            </li>

        </ul>
    </nav>
    <section>
        <div class="tab1">
            <h2>{{ $tabID }}</h2>
            <p> {{ $.Inner | markdownify }}</p>
        </div>
    </section>
</div> -->



    <!-- <input checked="checked" id="{{ $tabID }}" type="radio" name="pct" />
    <nav>
        <ul>
            <li class="tab1">
                <label for="{{ $tabID }}">{{$tabName}}</label>
            </li>
        </ul>
    </nav>
    <section>
        <div class="tab1">
            <h2>{{$tabName}}</h2>
            <p>{{ $.Inner | markdownify }} </p>
        </div>
    
    </section> -->
