{{ $tabName := .Get "tabName" }} {{ $tabID := delimit (shuffle (slice "a" "b"
"c" "d" "e" "f")) "" }} {{ .Parent.Scratch.Add "tabName" (slice $tabName) }} {{
.Parent.Scratch.Add "tabID" (slice $tabID) }} {{- $label := replace (.Get
"label") "/" "-"}}

<div class="tab" id="tab-{{$label}}">{{ $.Inner | markdownify }}</div>

<!-- <div class="pc-tab">
    <input checked="checked" id="{{ $tabID }}" type="radio" name="pct" />
    <nav>
        <ul>
            <li class="tab1">
                <label for="{{ $tabID }}">{{$tabName}}</label>
            </li>

        </ul>
    </nav>
    <section>
        <div class="tab1">
            <h2>{{ $tabID }}</h2>
            <p> {{ $.Inner | markdownify }}</p>
        </div>
    </section>
</div> -->

<!-- <input checked="checked" id="{{ $tabID }}" type="radio" name="pct" />
    <nav>
        <ul>
            <li class="tab1">
                <label for="{{ $tabID }}">{{$tabName}}</label>
            </li>
        </ul>
    </nav>
    <section>
        <div class="tab1">
            <h2>{{$tabName}}</h2>
            <p>{{ $.Inner | markdownify }} </p>
        </div>
    
    </section> -->
