{{- $text := .Get "labels" -}} {{- $labels := split $text " | " -}}

<div class="tabs-wrapper">
  <nav role="navigation" class="tabs">
    <ul id="tab-active">
      {{ range $idx, $txt := $labels }} {{- $link := replace $txt "/" "-"}}
      <li class="tab-label-wrapper">
        {{ if or (eq $link "js-sw") }}
        <a class="tab-label active" href="#" data-link="tab-{{$link}}">
          JavaScript SW</a
        >

        {{ else if (eq $link "ts-sw") }}
        <a class="tab-label" href="#" data-link="tab-{{$link}}">
          TypeScript SW</a
        >

        {{ end }} {{ if or (eq $link "js-esm") }}
        <a class="tab-label" href="#" data-link="tab-{{$link}}">
          JavaScript ESM</a
        >

        {{ else if (eq $link "ts-esm") }}
        <a class="tab-label" href="#" data-link="tab-{{$link}}">
          TypeScript ESM</a
        >

        {{ end }}
      </li>
      {{ end }}
    </ul>
  </nav>

  {{ .Inner }}
</div>
