{{- $text := .Get "labels" -}} {{- $labels := split $text " | " -}}

<div class="wrapper">
  <nav role="navigation" class="tabs">
    <ul>
      {{ range $idx, $txt := $labels }} {{- $link := replace $txt "/" "-"}}
      <li class="tab-label-wrapper">
        
        {{ if or (eq $link "js-sw") (eq $link "ts-sw") }}
        <svg xmlns="http://www.w3.org/2000/svg" style="height: 51px">
          <path
            d="M25.7 30q-.75 0-1.225-.475Q24 29.05 24 28.3V26h2.4v1.6h5.2v-2.65h-5.9q-.7 0-1.2-.5t-.5-1.2V19.7q0-.75.475-1.225Q24.95 18 25.7 18h6.6q.75 0 1.225.475Q34 18.95 34 19.7V22h-2.4v-1.6h-5.2v2.65h5.9q.7 0 1.2.5t.5 1.2v3.55q0 .75-.475 1.225Q33.05 30 32.3 30Zm-12 0q-.75 0-1.225-.475Q12 29.05 12 28.3V25h2.4v2.6h4.2V18H21v10.3q0 .75-.475 1.225Q20.05 30 19.3 30Z"
          />
        </svg>
        <a class="tab-label" href="#" data-link="tab-{{$link}}">Service Workers</a>
        {{ end }}
        
        {{ if or (eq $link "js-esm") (eq $link "ts-esm") }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          style="height: 51px; width: 49px"
        >
          <path
            d="M25.7 30q-.75 0-1.225-.475Q24 29.05 24 28.3V26h2.4v1.6h5.2v-2.65h-5.9q-.7 0-1.2-.5t-.5-1.2V19.7q0-.75.475-1.225Q24.95 18 25.7 18h6.6q.75 0 1.225.475Q34 18.95 34 19.7V22h-2.4v-1.6h-5.2v2.65h5.9q.7 0 1.2.5t.5 1.2v3.55q0 .75-.475 1.225Q33.05 30 32.3 30Zm-12 0q-.75 0-1.225-.475Q12 29.05 12 28.3V25h2.4v2.6h4.2V18H21v10.3q0 .75-.475 1.225Q20.05 30 19.3 30Z"
          />
        </svg>
        <a class="tab-label" href="#" data-link="tab-{{$link}}">ES Module</a>
        {{ end }}
      </li>
      {{ end }}
    </ul>
  </nav>

  {{ .Inner }}
</div>
