{{- $current := .Page.RelPermalink -}}
{{- $section := index (split $current "/") 1 }}

{{- $faqArray := slice -}}
{{- $troubleshootingArray := slice -}}
{{- $troubleshootingArrayWithPath := slice -}}
{{- $link := "" -}}
{{- $title := "" -}}


{{- range (where .Site.Pages "Section" $section).ByWeight -}}
  {{- $x := .RelPermalink -}}
  {{- if (not .Params.hidden) -}}
  {{- if or (eq .Params.pcx_content_type "troubleshooting") (eq .Params.pcx_content_type "faq") -}}
  {{- with .Params.meta.title -}}
    {{- $title = . -}}
    {{- else -}}
    {{- $title = .Title -}}
  {{- end -}}
   {{- $troubleshootingArray = $troubleshootingArray | append (dict "link" .RelPermalink "title" $title "resource_type" .Params.pcx_content_type ) -}}
  {{- end -}}
  {{- end -}}
{{- end -}}
{{- range $index, $item := $troubleshootingArray -}}
  {{- $rellink := "" -}}
  {{- $title := "" -}}
  {{- $self_length := sub (len (split $item.link "/")) 2 -}}
  {{- $path := slice -}}
  {{- $allSectionsWeight := 0 -}}

  {{- range $index2, $item2 := (split $item.link "/") -}}
  {{- if gt (len $item2 ) 0 -}}
    {{- $rellink = printf "%s/%s" $rellink (urls.Parse $item2).Path -}}
    {{- $page := $.Site.GetPage $rellink -}}
    {{/* Add weight of current section to global page weight calculation: currPageWeight * 10^(8-index2) */}}
    {{- $allSectionsWeight = (add $allSectionsWeight (mul $page.Weight (math.Pow 10 (sub 8 $index2)))) -}}
    {{- $title2 := $page.Title -}}
    {{- if and (ne $index2 1) (ne $index2 $self_length) -}}
      {{- $path = $path | append $title2 -}}
    {{- end -}}
  {{- end -}}
  {{- end -}}
  {{- $item := merge $item (dict "path" (delimit $path " > ") "calculatedWeight" $allSectionsWeight) -}}
  {{- $troubleshootingArrayWithPath = $troubleshootingArrayWithPath | append $item -}}
{{- end -}}

{{- $troubleshootingArrayWithPath = sort $troubleshootingArrayWithPath ".calculatedWeight" -}}
{{- $troubleshootingArrayWithPath = sort $troubleshootingArrayWithPath ".resource_type" "desc" -}}

<div class="DocsMarkdown--table-wrap">
  <div class="DocsMarkdown--table-wrap-inner">
<table>
<thead>
  <tr>
    <th>Resource</th>
    <th>Location</th>
    <th>Type</th>
  </tr>
</thead>
<tbody>
{{- range $troubleshootingArrayWithPath -}}
{{- $link = printf "[%s](%s)" .title .link -}}
{{- $resource_title := "" -}}
{{- if eq .resource_type "troubleshooting" -}}
{{- $resource_title = title .resource_type -}}
{{- else -}}
{{- $resource_title = upper .resource_type -}}
{{- end -}}
<tr>
  <td>{{- $.Page.RenderString $link -}}</td>
  <td>{{- .path -}}</td>
  <td>{{ $resource_title }}</td>
</tr>
{{- end -}}
</tbody>
</table>
</div>
</div> 