{{- $column_text := default "Type" $.Page.Params.column_text -}}
{{- $column_param := default "content_type" $.Page.Params.column_param -}}

<!-- Pull all tutorials from the current product folder -->
{{- $sectionFiles := where .Site.Pages "Section" .Page.Section -}}
{{- $sectionTutorials := (where $sectionFiles ".Params.pcx_content_type" "eq" "tutorial") -}}

<!-- Pull tutorials from other folders that match based on the product /data file (and .product.title value) -->
{{- $productData := index .Site.Data .Page.Section -}}
{{- $productName := slice $productData.product.title }}

{{- $otherTutorials := (where .Site.Pages ".Params.pcx_content_type" "eq" "tutorial") -}}
{{- $otherMatchedTutorials := where $otherTutorials ".Params.products" "intersect" $productName  -}}

<!-- Pull in video tutorials -->
{{- $videoFile := index (index .Site.Data "external-resources") "videos" }}
{{- $videoEntries := index $videoFile "entries" -}}
{{- $matchedVideoEntries := where (where $videoEntries ".pcx_content_type" "eq" "tutorial") ".products" "intersect" $productName }}

<!-- Massage the data together into a slice format -->
{{- $pages := union $sectionTutorials $otherMatchedTutorials -}}
{{- $pagesArray := slice }}
{{- range $pages -}}

{{- $pagesArray = $pagesArray | append (dict "title" .Title "link" .RelPermalink "updated" .Params.updated "content_type" .Params.content_type "difficulty" .Params.difficulty "category" .Params.category) -}}

{{- end -}}

{{- $pagesArray = sort ($pagesArray | append $matchedVideoEntries) "updated" "desc" -}}

<div class="DocsTutorials">
  <div class="DocsTutorials--header">
    <div class="DocsTutorials--row">
      <div class="DocsTutorials--column" data-column="name">
        <span class="DocsTutorials--column-text">Name</span>
      </div>

      <div class="DocsTutorials--column" data-column="updated">
        <span class="DocsTutorials--column-text">Last Updated</span>
      </div>

      <div class="DocsTutorials--column" data-column="type">
        <span class="DocsTutorials--column-text">{{ $column_text }}</span>
      </div>

      <div class="DocsTutorials--column" data-column="difficulty">
        <span class="DocsTutorials--column-text">Difficulty</span>
      </div>
    </div>
  </div>
  <div class="DocsTutorials--body">
    {{- range $pagesArray -}}
        <div class="DocsTutorials--row">
          <div class="DocsTutorials--column" data-column="name">
            {{- printf "[%s](%s)" .title .link | $.Page.RenderString -}}
          </div>

          <div class="DocsTutorials--column" data-column="updated">
            {{- with .updated -}}
              {{- partial "datetime" (time .) -}}
            {{- end -}}
          </div>

          <div class="DocsTutorials--column" data-column="type">
            {{- if eq $column_param "content_type" -}}
            {{- .content_type -}}
            {{- else -}}
            {{ .category -}}
            {{- end -}}
          </div>

           <div class="DocsTutorials--column" data-column="difficulty">
            {{ .difficulty }}
          </div>
        </div>
    {{- end -}}
  </div>
</div>