<div class="tutorialStepContainer">
  {{- .Inner -}}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    let tutorial = document.getElementsByClassName("tutorialStepContainer");
    if (tutorial) {
      for (const stepContainer of tutorial) {
        let steps = stepContainer.getElementsByClassName("tutorialStep");
        for (let i = 0; i < steps.length; i++) {
          const step = steps[i];
          const optional = step.getAttribute("data-optional");
          let secondSpan = step.children[0].querySelector("span:nth-child(2)");
          let stepCounter = document.createElement("span");
          stepCounter.className = "stepCounter";
          if (optional === "true") {
            let optionalFlag = document.createElement("span");
            optionalFlag.textContent = "Optional - ";
            secondSpan.prepend(optionalFlag);
            stepCounter.classList.add("optionalStepCounter");
          }
          secondSpan.prepend(stepCounter);
        }
      }
    }
  });
</script>