{{- $column_text := default "Type" $.Page.Params.column_text -}}
{{- $column_param := default "content_type" $.Page.Params.column_param -}}

<!-- Pull all tutorials from the current product folder -->
{{- $sectionFiles := where .Site.Pages "Section" .Page.Section -}}
{{- $sectionTutorials := (where $sectionFiles ".Params.pcx_content_type" "eq" "tutorial").ByParam "updated" -}}

<!-- Pull tutorials from other folders that match based on the product /data file (and .product.title value) -->
{{- $productData := index .Site.Data .Page.Section -}}
{{- $productName := slice $productData.product.title }}

{{- $otherTutorials := (where .Site.Pages ".Params.pcx_content_type" "eq" "tutorial").ByParam "updated" -}}
{{- $otherMatchedTutorials := where $otherTutorials ".Params.products" "intersect" $productName  -}}

<!-- Combine both collections -->
{{- $pages := union $sectionTutorials $otherMatchedTutorials -}}

<div class="DocsTutorials">
  <div class="DocsTutorials--header">
    <div class="DocsTutorials--row">
      <div class="DocsTutorials--column" data-column="name">
        <span class="DocsTutorials--column-text">Name</span>
      </div>

      <div class="DocsTutorials--column" data-column="updated">
        <span class="DocsTutorials--column-text">Last Updated</span>
      </div>

      <div class="DocsTutorials--column" data-column="type">
        <span class="DocsTutorials--column-text">{{ $column_text }}</span>
      </div>

      <div class="DocsTutorials--column" data-column="difficulty">
        <span class="DocsTutorials--column-text">Difficulty</span>
      </div>
    </div>
  </div>
  <div class="DocsTutorials--body">
    {{- range $pages.Reverse -}}
        <div class="DocsTutorials--row{{ if false }} DocsTutorials--row-is-new{{ end }}">
          <div class="DocsTutorials--column" data-column="name">
            {{- $href := or .Params.redirect .RelPermalink -}}
            {{- .Page.RenderString (printf "[%s](%s)" .Title $href) -}}
          </div>

          <div class="DocsTutorials--column" data-column="updated">
            {{- with .Params.updated -}}
              {{- partial "datetime" (time .) -}}
            {{- end -}}
          </div>

          <div class="DocsTutorials--column" data-column="type">
            {{- index .Params $column_param -}}
          </div>

           <div class="DocsTutorials--column" data-column="difficulty">
            {{ .Params.difficulty }}
          </div>
        </div>
    {{- end -}}
  </div>
</div>