{{- $repo := .Get "repo" -}}
{{- $title := .Get "title" -}}
{{- $descr := .Get "description" -}}

{{- $remote := printf "https://github.com/%s" $repo -}}
{{- $template := cond (hasPrefix $repo "cloudflare/workers-sdk/templates/") (path.Base $repo) $repo -}}
{{- $command := printf "npm create cloudflare@latest my-app -- --template %s" $repo -}}
{{- $link := cond (hasPrefix $repo "cloudflare/workers-sdk/templates/") (printf
"https://github.com/cloudflare/workers-sdk/tree/main/templates/%s" $template) $remote}}

<div class="WorkerStarter">
  <div class="WorkerStarter--title">
    {{- $text := printf "[%s](%s)" $title $link -}}
    {{- .Page.RenderString $text -}}
  </div>

  <div class="WorkerStarter--description">
    {{- $descr -}}
  </div>

  {{- .Page.RenderString (printf "```sh\n$ %s\n```" $command) -}}
</div>