{{- $repo := .Get "repo" -}}
{{- $title := .Get "title" -}}
{{- $descr := .Get "description" -}}

{{- $remote := printf "https://github.com/%s" $repo -}}
{{- $command := printf "npm init cloudflare my-app %s" $remote -}}

<div class="WorkerStarter">
  <div class="WorkerStarter--title">
    {{- $text := printf "[%s](%s)" $title $remote -}}
    {{- .Page.RenderString $text -}}
  </div>

  <div class="WorkerStarter--description">
    {{- $descr -}}
  </div>

  <div class="WorkerStarter--command">
    <div class="WorkerStarter--command-copy-button-wrapper">
      <button class="Button" data-clipboard="{{ $command }}">Copy</button>
    </div>

    <div class="WorkerStarter--command-codeblock-wrapper">
      {{- .Page.RenderString (printf "```txt\n%s\n```" $command) -}}
    </div>
  </div>
</div>