name: Label PRs

on: 
  pull_request_target:
  pull_request:
   
jobs:
  label_prs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.1

      - name: Create package.json and install packages
        run: |
          npm init -y
          echo '{ "type": "module", "dependencies": { "@actions/core": "latest", "@actions/github": "latest" } }' > package.json
          npm install
        
      - name: Add product labels
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: node .github/workflow-scripts/label-products.js
        continue-on-error: true

      - name: Add PR size
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          xs_label: 'size/xs'
          xs_max_size: '10'
          s_label: 'size/s'
          s_max_size: '100'
          m_label: 'size/m'
          m_max_size: '500'
          l_label: 'size/l'
          l_max_size: '1000'
          xl_label: 'size/xl'
        run: node .github/workflow-scripts/label-pr-size.js
        continue-on-error: true